<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/bluedevil-5.23.1.tar.xz">bluedevil-5.23.1</a></td>
   <td align="right">165kB</td>
   <td><tt>2a3f42ee03d342673ac5ab4f91fd858f5d0003b798257d6cb7304c79c40eb4bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/breeze-5.23.1.tar.xz">breeze-5.23.1</a></td>
   <td align="right">70MB</td>
   <td><tt>ac11dc5f9347d870cbe33f2452bbc738e92e9d3dfc2dc8c2f5c0896476181481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/breeze-grub-5.23.1.tar.xz">breeze-grub-5.23.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c340394152eeab2e61cf6bfd2bab7394ae4c08d304595f4cb73144840befb1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/breeze-gtk-5.23.1.tar.xz">breeze-gtk-5.23.1</a></td>
   <td align="right">46kB</td>
   <td><tt>50667357732aced49eec270e875546bf56a4e3a945d575c2d95a946aa055d287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/breeze-plymouth-5.23.1.tar.xz">breeze-plymouth-5.23.1</a></td>
   <td align="right">107kB</td>
   <td><tt>1ca705f28dc7e3309423b5853f30fb40315ebbd09bde95ed13512a01c9ed9438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/discover-5.23.1.tar.xz">discover-5.23.1</a></td>
   <td align="right">7.8MB</td>
   <td><tt>44255c9b1a8df70a4c710396ccbdaf1725f93694a040d4197e4bf45285e6ee71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/drkonqi-5.23.1.tar.xz">drkonqi-5.23.1</a></td>
   <td align="right">773kB</td>
   <td><tt>73079b1a3316705f5112bfe232f839d603834ffa4813d776239c26e198d6d3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kactivitymanagerd-5.23.1.tar.xz">kactivitymanagerd-5.23.1</a></td>
   <td align="right">101kB</td>
   <td><tt>eabc518b1476f17257c6f42c986611604903aa9efc42d35fd9d3fd15839fea09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kde-cli-tools-5.23.1.tar.xz">kde-cli-tools-5.23.1</a></td>
   <td align="right">616kB</td>
   <td><tt>da1a08c54b3e085916c5157e1339ccb397e41dbfd68ce3334591e0ddbed0a7e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kdecoration-5.23.1.tar.xz">kdecoration-5.23.1</a></td>
   <td align="right">46kB</td>
   <td><tt>1587aeab3743cb426318d4639e53b81c6227d114fc96b082b897cde6a2b0c327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kde-gtk-config-5.23.1.tar.xz">kde-gtk-config-5.23.1</a></td>
   <td align="right">69kB</td>
   <td><tt>7dd978c591892052e79c19190fde98cca8a6e57da5a4bf72253262c36c36573c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kdeplasma-addons-5.23.1.tar.xz">kdeplasma-addons-5.23.1</a></td>
   <td align="right">612kB</td>
   <td><tt>84ee5a39458f767cb0f1304bcffa556e99119b7d6ae7556b0c310c2284ccd988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kgamma5-5.23.1.tar.xz">kgamma5-5.23.1</a></td>
   <td align="right">81kB</td>
   <td><tt>cf756d0ad3ae1803830372a2b1ce7c9e23533bd7aa4aa0ddc1a1d8fe60c3a585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/khotkeys-5.23.1.tar.xz">khotkeys-5.23.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>dae80968b6d2310b6eaad2e0786adb7a9047d4e9fe8fa5bf71586796f9bbe84f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kinfocenter-5.23.1.tar.xz">kinfocenter-5.23.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e12f892612a4be07945b85df90463f7e0c36d24159393d4f60279aa97605c904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kmenuedit-5.23.1.tar.xz">kmenuedit-5.23.1</a></td>
   <td align="right">879kB</td>
   <td><tt>f34227aba3af95ac1d24b00cb587590490c4b9b9ca83d0c66d302ea74eaf9188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kscreen-5.23.1.tar.xz">kscreen-5.23.1</a></td>
   <td align="right">129kB</td>
   <td><tt>af143f2d3b25478437ff894b0afe094a69df8dab055bba3c6311d0735f431fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kscreenlocker-5.23.1.tar.xz">kscreenlocker-5.23.1</a></td>
   <td align="right">114kB</td>
   <td><tt>a0c41353285b41372eecce77d643e3332a34a391c52fb44064498f4321abb563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/ksshaskpass-5.23.1.tar.xz">ksshaskpass-5.23.1</a></td>
   <td align="right">23kB</td>
   <td><tt>c1ab89e8c5f592a3bf54d6ee3ff733e8406a865ff126b9c5440638a14b0aeb2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/ksystemstats-5.23.1.tar.xz">ksystemstats-5.23.1</a></td>
   <td align="right">88kB</td>
   <td><tt>e603659096d6f1da02dd8aa68f7ed211c0ce84f49450c8d769e567480f786a7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kwallet-pam-5.23.1.tar.xz">kwallet-pam-5.23.1</a></td>
   <td align="right">19kB</td>
   <td><tt>63661188dae40e708e516de2611cf05e1d899a0f060995b27067107aa0645e0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kwayland-integration-5.23.1.tar.xz">kwayland-integration-5.23.1</a></td>
   <td align="right">23kB</td>
   <td><tt>f73510f65bff5dac0b9eb1715af58f7a95f312a9dbe816d853e78a9539c10d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kwayland-server-5.23.1.tar.xz">kwayland-server-5.23.1</a></td>
   <td align="right">212kB</td>
   <td><tt>ebad1a6dc1bf246cab9ca8ba0a13edd578646cb333ce09303d79d78727a59d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kwin-5.23.1.tar.xz">kwin-5.23.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5838d7ab84babc5bd3cb3df9f7e38fc01c98ba1bf584b6d43e4528dd03598b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/kwrited-5.23.1.tar.xz">kwrited-5.23.1</a></td>
   <td align="right">20kB</td>
   <td><tt>f31247382fb8b1d9246a16552a3d9b577e24428af39bdb042bfd42ee5c254f9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/layer-shell-qt-5.23.1.tar.xz">layer-shell-qt-5.23.1</a></td>
   <td align="right">17kB</td>
   <td><tt>c79c2306ee9f6a672612b37f28074609748f5570b7785d4096e5573f12fb9e0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/libkscreen-5.23.1.tar.xz">libkscreen-5.23.1</a></td>
   <td align="right">95kB</td>
   <td><tt>3930d578f55e5d5be95da1f3fe298b15623afcea0a9c73005cb983589204d043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/libksysguard-5.23.1.tar.xz">libksysguard-5.23.1</a></td>
   <td align="right">750kB</td>
   <td><tt>083ddf436a9678e6e3d9c900d2c974586a313e58f60a32b7cb6600338ec78189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/milou-5.23.1.tar.xz">milou-5.23.1</a></td>
   <td align="right">46kB</td>
   <td><tt>8f91c04785af3ed86ddf1fce18fe67f5b70cabf0827750cdec119e496723ff10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/oxygen-5.23.1.tar.xz">oxygen-5.23.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>2ea0ca8d889cc10f0d3c60217655b35b8417347243af9239a6b6998bb20bb237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-browser-integration-5.23.1.tar.xz">plasma-browser-integration-5.23.1</a></td>
   <td align="right">214kB</td>
   <td><tt>dd6477ffd0eddb70086fbf3e9c8f63845f6d552a06c22fb32846be068cf74af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-desktop-5.23.1.tar.xz">plasma-desktop-5.23.1</a></td>
   <td align="right">15MB</td>
   <td><tt>ee6c6af0926ea3c6edd808f2962ef6579953c82e0d08ac053fbc8f012b9c4e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-disks-5.23.1.tar.xz">plasma-disks-5.23.1</a></td>
   <td align="right">84kB</td>
   <td><tt>b83b021f43f3b7736fc0908dae7efd5526474879f03e340eb13441f2dbd39a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-firewall-5.23.1.tar.xz">plasma-firewall-5.23.1</a></td>
   <td align="right">335kB</td>
   <td><tt>1cccf92f94a7c7fa17f9893128b69006707e21c2a168fa60e5ce31dfa719cb18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-integration-5.23.1.tar.xz">plasma-integration-5.23.1</a></td>
   <td align="right">81kB</td>
   <td><tt>ca2b3487de16646bc5d2120adfd9d58cee69570a0eb64630ea075a93cdddcb71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-nano-5.23.1.tar.xz">plasma-nano-5.23.1</a></td>
   <td align="right">64kB</td>
   <td><tt>0a980893e7b928780ad9ff80b45e1c8706ce779e155fb43f664b0f3ea5086df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-nm-5.23.1.tar.xz">plasma-nm-5.23.1</a></td>
   <td align="right">898kB</td>
   <td><tt>d1d578c0386c2506f2cf361cd81f7060e6edcc7546d1716fb7299e34332f5063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-pa-5.23.1.tar.xz">plasma-pa-5.23.1</a></td>
   <td align="right">126kB</td>
   <td><tt>a79f1971a5acdeccb9e7363560b1828f35cac4faeb3c8036d8cdd1243565a57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-phone-components-5.23.1.tar.xz">plasma-phone-components-5.23.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>82d6798fb17cb67013fbc10aa79cc9b6c49687bb1a139c80ad4eff2ccbda9c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-sdk-5.23.1.tar.xz">plasma-sdk-5.23.1</a></td>
   <td align="right">269kB</td>
   <td><tt>00d7389635c3a97e7f3badc3a25a6b3b1e200ad9e18f709cf31e3ed352e61eeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-systemmonitor-5.23.1.tar.xz">plasma-systemmonitor-5.23.1</a></td>
   <td align="right">141kB</td>
   <td><tt>c8212484044840119f939ff2fcacea6a3d02c25a171a75c68145cf88be9c19cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-tests-5.23.1.tar.xz">plasma-tests-5.23.1</a></td>
   <td align="right">1kB</td>
   <td><tt>f57a48fe92e57696fc03f593a26ea74da6cbb2d2fe48bd5a54e51ace924ed6b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-thunderbolt-5.23.1.tar.xz">plasma-thunderbolt-5.23.1</a></td>
   <td align="right">63kB</td>
   <td><tt>0a5c5f1ac69d63b533acc1171e726043542f17ccad019b530c03e31a9ece118d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-vault-5.23.1.tar.xz">plasma-vault-5.23.1</a></td>
   <td align="right">172kB</td>
   <td><tt>c5abe2e90c29e2a76c4fd276ad2efd0a296da7ed641ca8f401e95d446a5b8c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-workspace-5.23.1.tar.xz">plasma-workspace-5.23.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>fbf979f857b3cdcc8fe6dc45c3a1d9dfe297e1120aa551a02faa339abb81efad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plasma-workspace-wallpapers-5.23.1.tar.xz">plasma-workspace-wallpapers-5.23.1</a></td>
   <td align="right">54MB</td>
   <td><tt>fb26b880b60e893f08f51e17a845d6e252ce744441947e6e6119913689edf4aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/plymouth-kcm-5.23.1.tar.xz">plymouth-kcm-5.23.1</a></td>
   <td align="right">38kB</td>
   <td><tt>471c861c067150b014f028339b20967cd92196173ca08452014939e6eae1bab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/polkit-kde-agent-1-5.23.1.tar.xz">polkit-kde-agent-1-5.23.1</a></td>
   <td align="right">46kB</td>
   <td><tt>416617237e045567daf830e23c0d3f32f3b4d9891e9a61888f735f494ccbf529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/powerdevil-5.23.1.tar.xz">powerdevil-5.23.1</a></td>
   <td align="right">612kB</td>
   <td><tt>721a5938d6cb0439943fa912b9f360b9b563a91ceff138869636f2ef45edc096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/qqc2-breeze-style-5.23.1.tar.xz">qqc2-breeze-style-5.23.1</a></td>
   <td align="right">65kB</td>
   <td><tt>029972ad6e93903c1fab2fa14b233e87da0cf9dea06e66f1f43cb797f4c3f520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/sddm-kcm-5.23.1.tar.xz">sddm-kcm-5.23.1</a></td>
   <td align="right">75kB</td>
   <td><tt>b72629f744d9859f93d097d7272d63543b97e0ff4c5774dadcd935838cf48044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/systemsettings-5.23.1.tar.xz">systemsettings-5.23.1</a></td>
   <td align="right">198kB</td>
   <td><tt>7cd451319125c7b56c6f13c65462136179c39f607cc4d4e66b90079a72df6e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.1/xdg-desktop-portal-kde-5.23.1.tar.xz">xdg-desktop-portal-kde-5.23.1</a></td>
   <td align="right">87kB</td>
   <td><tt>f7664cc4c0ea7fcd93a15d35fc5f5b5f5c8910c07204fad35783f9d3acc1f2ae</tt></td>
</tr>

</table>
