
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/attica-5.33.0.tar.xz">attica-5.33.0</a></td>
   <td align="right">58kB</td>
   <td><tt>0c1db27f3930c052bd2e0ec953d9df450e09b523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/baloo-5.33.0.tar.xz">baloo-5.33.0</a></td>
   <td align="right">188kB</td>
   <td><tt>a7b616d3d37b0596b639142c0ec790e70442f259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/bluez-qt-5.33.0.tar.xz">bluez-qt-5.33.0</a></td>
   <td align="right">72kB</td>
   <td><tt>a89743d80d7a332e41d51febd6ea57be78a4edd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/breeze-icons-5.33.0.tar.xz">breeze-icons-5.33.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5a9ef92c4596fa6af3d42031d95c9bdda17c831b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/extra-cmake-modules-5.33.0.tar.xz">extra-cmake-modules-5.33.0</a></td>
   <td align="right">303kB</td>
   <td><tt>79724d35d4540aa8357eb1a34af44ba2d8a21376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/frameworkintegration-5.33.0.tar.xz">frameworkintegration-5.33.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>33658f2896e750064d918a2790d29140c65690d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kactivities-5.33.0.tar.xz">kactivities-5.33.0</a></td>
   <td align="right">59kB</td>
   <td><tt>f8867210ecb2a218aac1b2062b10ca217549438d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kactivities-stats-5.33.0.tar.xz">kactivities-stats-5.33.0</a></td>
   <td align="right">58kB</td>
   <td><tt>fff50e65d61543d4d71702f16adde08eb1b35cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kapidox-5.33.0.tar.xz">kapidox-5.33.0</a></td>
   <td align="right">385kB</td>
   <td><tt>6284b77fec7d728fa98119c811bae5e3646c5186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/karchive-5.33.0.tar.xz">karchive-5.33.0</a></td>
   <td align="right">109kB</td>
   <td><tt>27485f2701b5fcb2f6facb45cc40b86e234c350c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kauth-5.33.0.tar.xz">kauth-5.33.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b7fbe49015182ca04eb0cadcc3dccbf576909512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kbookmarks-5.33.0.tar.xz">kbookmarks-5.33.0</a></td>
   <td align="right">113kB</td>
   <td><tt>286746ec66e05b6791644e55dc926d0524787b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kcmutils-5.33.0.tar.xz">kcmutils-5.33.0</a></td>
   <td align="right">229kB</td>
   <td><tt>0462c0feea481c40b5ce9449522dbcf06696121c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kcodecs-5.33.0.tar.xz">kcodecs-5.33.0</a></td>
   <td align="right">216kB</td>
   <td><tt>d29eeff6c1b6bf5a55d40ceb47b52f4829f5bd36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kcompletion-5.33.0.tar.xz">kcompletion-5.33.0</a></td>
   <td align="right">114kB</td>
   <td><tt>8b9ffb6a06f6cfedf1c3923ef22a49cf4a568c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kconfig-5.33.0.tar.xz">kconfig-5.33.0</a></td>
   <td align="right">226kB</td>
   <td><tt>cacd41edaa222bbd855eca50e68b30639f403ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kconfigwidgets-5.33.0.tar.xz">kconfigwidgets-5.33.0</a></td>
   <td align="right">366kB</td>
   <td><tt>5ec643ebff69959944e3868ca35a707570c17049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kcoreaddons-5.33.0.tar.xz">kcoreaddons-5.33.0</a></td>
   <td align="right">334kB</td>
   <td><tt>f976b516afe4a8c9abba5bf967943613338b92eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kcrash-5.33.0.tar.xz">kcrash-5.33.0</a></td>
   <td align="right">20kB</td>
   <td><tt>29bbc44fdbf566006722386c5fbeb0d6036cdf71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kdbusaddons-5.33.0.tar.xz">kdbusaddons-5.33.0</a></td>
   <td align="right">34kB</td>
   <td><tt>c42cec051f31b49507f91a32ba42246c2cbe9caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kdeclarative-5.33.0.tar.xz">kdeclarative-5.33.0</a></td>
   <td align="right">165kB</td>
   <td><tt>19132bef45ee592994067197afe3e267181990c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kded-5.33.0.tar.xz">kded-5.33.0</a></td>
   <td align="right">36kB</td>
   <td><tt>f910142ce9b20ada7c1ce392721c80fa86ebdd09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kdesignerplugin-5.33.0.tar.xz">kdesignerplugin-5.33.0</a></td>
   <td align="right">87kB</td>
   <td><tt>193156a6f7a7001d83796dc0f2e4f671e84650b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kdesu-5.33.0.tar.xz">kdesu-5.33.0</a></td>
   <td align="right">43kB</td>
   <td><tt>3d61198b3a66e45894780e0ccd582d976613234a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kdewebkit-5.33.0.tar.xz">kdewebkit-5.33.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f73387dda8dc4f7889f3d3d4d93043834a1d338f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kdnssd-5.33.0.tar.xz">kdnssd-5.33.0</a></td>
   <td align="right">55kB</td>
   <td><tt>58e3f090074262d6de1eef7026b97c7255f889b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kdoctools-5.33.0.tar.xz">kdoctools-5.33.0</a></td>
   <td align="right">405kB</td>
   <td><tt>154027fe025b1d5ea9ad34b89e7d76e6845c0cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kemoticons-5.33.0.tar.xz">kemoticons-5.33.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ed74a4ec37f20f1d5ed0bc5ff73f2c577ec2c6c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kfilemetadata-5.33.0.tar.xz">kfilemetadata-5.33.0</a></td>
   <td align="right">211kB</td>
   <td><tt>1f313c14355108ee232dd0df860ba00a16e54d5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kglobalaccel-5.33.0.tar.xz">kglobalaccel-5.33.0</a></td>
   <td align="right">81kB</td>
   <td><tt>870c55f9b3a6418358175593872b012d01c065fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kguiaddons-5.33.0.tar.xz">kguiaddons-5.33.0</a></td>
   <td align="right">38kB</td>
   <td><tt>3af88250e16fe1be3bc4193fb7ea31f22635da4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/ki18n-5.33.0.tar.xz">ki18n-5.33.0</a></td>
   <td align="right">591kB</td>
   <td><tt>5d7b7f52296fa4ecfa5cb92a1ce94ff89d21bcdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kiconthemes-5.33.0.tar.xz">kiconthemes-5.33.0</a></td>
   <td align="right">199kB</td>
   <td><tt>6135c7ecfa6e8049034274deb64e50befef72cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kidletime-5.33.0.tar.xz">kidletime-5.33.0</a></td>
   <td align="right">25kB</td>
   <td><tt>571042681dc7b57a1aefba4e40e46eedcdc8625b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kimageformats-5.33.0.tar.xz">kimageformats-5.33.0</a></td>
   <td align="right">199kB</td>
   <td><tt>ee73a2579faefe262cd4a65569201ae9f67c8385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kinit-5.33.0.tar.xz">kinit-5.33.0</a></td>
   <td align="right">117kB</td>
   <td><tt>88d3a4c887c9fb995595acd6dc7207c0e76c3cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kio-5.33.0.tar.xz">kio-5.33.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>56ffdd3109cef48eae28e118579c9b28c4a62747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kitemmodels-5.33.0.tar.xz">kitemmodels-5.33.0</a></td>
   <td align="right">379kB</td>
   <td><tt>dac40c3afd88a4d9bfb93bd498bf2a4d9d6d79d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kitemviews-5.33.0.tar.xz">kitemviews-5.33.0</a></td>
   <td align="right">73kB</td>
   <td><tt>2bea57d87dcaf06d6d23f154df9e690e93cde95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kjobwidgets-5.33.0.tar.xz">kjobwidgets-5.33.0</a></td>
   <td align="right">87kB</td>
   <td><tt>929b693f0b67c1dfffc4deda317b29bd995ac457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/knewstuff-5.33.0.tar.xz">knewstuff-5.33.0</a></td>
   <td align="right">861kB</td>
   <td><tt>f6bff5f9d59bc0b26de96fdf7e04ce03aa9555e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/knotifications-5.33.0.tar.xz">knotifications-5.33.0</a></td>
   <td align="right">97kB</td>
   <td><tt>f2ac9628404ba67cc69b1129473f739a164bc540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/knotifyconfig-5.33.0.tar.xz">knotifyconfig-5.33.0</a></td>
   <td align="right">81kB</td>
   <td><tt>fdc37acfa96db5e6d3c7fbce23a32de2dca87b6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kpackage-5.33.0.tar.xz">kpackage-5.33.0</a></td>
   <td align="right">117kB</td>
   <td><tt>9be0379a085dd40d03b69022bc218076466f3614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kparts-5.33.0.tar.xz">kparts-5.33.0</a></td>
   <td align="right">151kB</td>
   <td><tt>088a00bdddef9f7d1bb83ebd0169d5c84760f827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kpeople-5.33.0.tar.xz">kpeople-5.33.0</a></td>
   <td align="right">57kB</td>
   <td><tt>83c6d707586594cd3e2a0ad0ca856bef24e9cd80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kplotting-5.33.0.tar.xz">kplotting-5.33.0</a></td>
   <td align="right">28kB</td>
   <td><tt>3230fe8335bc70103c9e159e182352f9819a62f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kpty-5.33.0.tar.xz">kpty-5.33.0</a></td>
   <td align="right">56kB</td>
   <td><tt>a1291b9fffbe0bdcfa2c2f1a931f8aecda4da875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/krunner-5.33.0.tar.xz">krunner-5.33.0</a></td>
   <td align="right">65kB</td>
   <td><tt>6f2f253c78db2ca3e2d11f0285a31a891f783a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kservice-5.33.0.tar.xz">kservice-5.33.0</a></td>
   <td align="right">242kB</td>
   <td><tt>6c5ffa34f024816752f08da369b920655306d659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/ktexteditor-5.33.0.tar.xz">ktexteditor-5.33.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>aed33392699faf69fa859be494ad3af3f51e4cc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/ktextwidgets-5.33.0.tar.xz">ktextwidgets-5.33.0</a></td>
   <td align="right">300kB</td>
   <td><tt>d22a926b2c21389415c941106c5809b4a3cbb817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kunitconversion-5.33.0.tar.xz">kunitconversion-5.33.0</a></td>
   <td align="right">757kB</td>
   <td><tt>c0e9967e424de1fb9b5be1b0fbb3ab56c970acbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kwallet-5.33.0.tar.xz">kwallet-5.33.0</a></td>
   <td align="right">295kB</td>
   <td><tt>3a97af1ff98affddbe4c432d296e3914e30534bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kwayland-5.33.0.tar.xz">kwayland-5.33.0</a></td>
   <td align="right">253kB</td>
   <td><tt>5e2a0bc1e2a633bc08804a932590322b3b29d1e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kwidgetsaddons-5.33.0.tar.xz">kwidgetsaddons-5.33.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>fd3f45762600433873abe6cccb11a8db4fa4ac0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kwindowsystem-5.33.0.tar.xz">kwindowsystem-5.33.0</a></td>
   <td align="right">163kB</td>
   <td><tt>4317b54730c60aed74084b5196bf2e6d24090874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kxmlgui-5.33.0.tar.xz">kxmlgui-5.33.0</a></td>
   <td align="right">861kB</td>
   <td><tt>7d354a5d4a4db6b1d190c78bef7b20ca965f1a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/kxmlrpcclient-5.33.0.tar.xz">kxmlrpcclient-5.33.0</a></td>
   <td align="right">27kB</td>
   <td><tt>44468dfd51d23d0d0019f6ec97e70c0b7344d2a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/modemmanager-qt-5.33.0.tar.xz">modemmanager-qt-5.33.0</a></td>
   <td align="right">95kB</td>
   <td><tt>f34485df7e09f29ebb82dc008d57c83fd7b55358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/networkmanager-qt-5.33.0.tar.xz">networkmanager-qt-5.33.0</a></td>
   <td align="right">153kB</td>
   <td><tt>3fd83d9ffabef59aa74a1f9197dd86755ef59f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/oxygen-icons5-5.33.0.tar.xz">oxygen-icons5-5.33.0</a></td>
   <td align="right">223MB</td>
   <td><tt>fd1bfdbd2edb14b2fec4df6575b781c30a9f166a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/plasma-framework-5.33.0.tar.xz">plasma-framework-5.33.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>fef232ac4677e171960f9226fea3dc328cfa7e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/prison-5.33.0.tar.xz">prison-5.33.0</a></td>
   <td align="right">13kB</td>
   <td><tt>fd2f69d22e5aaabe196aba7612f99f61aafb0e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/solid-5.33.0.tar.xz">solid-5.33.0</a></td>
   <td align="right">240kB</td>
   <td><tt>9dcc44693dee27e0ed21dbd4e73db21d954d4dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/sonnet-5.33.0.tar.xz">sonnet-5.33.0</a></td>
   <td align="right">276kB</td>
   <td><tt>187017115d1d4301c0f916610c09e2a03e38e91e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/syntax-highlighting-5.33.0.tar.xz">syntax-highlighting-5.33.0</a></td>
   <td align="right">960kB</td>
   <td><tt>2f4711e73de8b3fa38da0cd8a6bf34d7bd3472fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.33/threadweaver-5.33.0.tar.xz">threadweaver-5.33.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6ad0dc8aa5f752969ffc35dfe1da9fa1a0a61a56</tt></td>
</tr>

</table>
