<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/bluedevil-5.14.0.tar.xz">bluedevil-5.14.0</a></td>
   <td align="right">153kB</td>
   <td><tt>697b3c14a20921a59178fc831f96d7e20daffd1bec2d204fd0906f7199e12b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/breeze-5.14.0.tar.xz">breeze-5.14.0</a></td>
   <td align="right">23MB</td>
   <td><tt>2ae5938542c7962c8b23416f936883114871f60457581b3160f8823a8f2aa93d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/breeze-grub-5.14.0.tar.xz">breeze-grub-5.14.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>70770813b41fc9bd00d389c1203f7b4cd96b547898aa1480a8d49d8d53876f9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/breeze-gtk-5.14.0.tar.xz">breeze-gtk-5.14.0</a></td>
   <td align="right">196kB</td>
   <td><tt>a9fb0f2c5abd3ffae0565e99cbc42bbe173c4438b3a6b696a8f88f69c4f690fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/breeze-plymouth-5.14.0.tar.xz">breeze-plymouth-5.14.0</a></td>
   <td align="right">102kB</td>
   <td><tt>e1c74f5a9226682bac7a2494b6f38c6be9cdc780c7a2b6fbbc743c762e1b8ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/discover-5.14.0.tar.xz">discover-5.14.0</a></td>
   <td align="right">9.7MB</td>
   <td><tt>4e07efdf5ebdacf059385db7bcc8ab206d471ccaf9585db0a264d92b617113b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/drkonqi-5.14.0.tar.xz">drkonqi-5.14.0</a></td>
   <td align="right">718kB</td>
   <td><tt>775ec3e9ebdd59e40e8e4c1b379ff0ceb9f26a7b3e20ee30e686f7369d7abf44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kactivitymanagerd-5.14.0.tar.xz">kactivitymanagerd-5.14.0</a></td>
   <td align="right">83kB</td>
   <td><tt>31fa8730e2c772edd4fdaf121bcb9619be4454466ceae9e1ad1cc05789db5d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kde-cli-tools-5.14.0.tar.xz">kde-cli-tools-5.14.0</a></td>
   <td align="right">571kB</td>
   <td><tt>5fe1b3335e1151d8ec56b9e2f2f83e6b89620ea597f25080fe721ce0a3daa1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kde-gtk-config-5.14.0.tar.xz">kde-gtk-config-5.14.0</a></td>
   <td align="right">152kB</td>
   <td><tt>70430b348737e6911cc8907b343c6249bcb4f8786c0f5fe72b7d344842556155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kdecoration-5.14.0.tar.xz">kdecoration-5.14.0</a></td>
   <td align="right">40kB</td>
   <td><tt>f55bc460325a41de58c445a8d10eeecdfd127f3edc3da2b0a0a1d28b3da0f305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kdeplasma-addons-5.14.0.tar.xz">kdeplasma-addons-5.14.0</a></td>
   <td align="right">584kB</td>
   <td><tt>ad842f09e0d95e51ed27cce0cd6b0d45257a8d6fb45799095756fc5090ae284d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kgamma5-5.14.0.tar.xz">kgamma5-5.14.0</a></td>
   <td align="right">77kB</td>
   <td><tt>1ecb6ae606208b5f9f6cf978bb199df36e7a409590051d1a6386d347d60a6b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/khotkeys-5.14.0.tar.xz">khotkeys-5.14.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a16178a657c436c2c08bcfa22b5cde095ec4dc2123212a42405172238126582c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kinfocenter-5.14.0.tar.xz">kinfocenter-5.14.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f21e9a418619818d1b687c70e8e95675cb9709c819492f9456821bd10e93815d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kmenuedit-5.14.0.tar.xz">kmenuedit-5.14.0</a></td>
   <td align="right">751kB</td>
   <td><tt>59af1394bda145b42d3bc5e8e9f97c59ad0cc2c338bd2bce9f86fd8365c1a951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kscreen-5.14.0.tar.xz">kscreen-5.14.0</a></td>
   <td align="right">118kB</td>
   <td><tt>b3c7a14fcb87a0b40db004a0b1a3b35e6caecbdb266fa15efc4f50354d5248f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kscreenlocker-5.14.0.tar.xz">kscreenlocker-5.14.0</a></td>
   <td align="right">118kB</td>
   <td><tt>414ef68a691f4eba92d9a491f8d354387012d1009d19826d28ef3e4bbc44cddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/ksshaskpass-5.14.0.tar.xz">ksshaskpass-5.14.0</a></td>
   <td align="right">20kB</td>
   <td><tt>e4fcaa7bf5d74d3f9ad715386dea3427f5ceaab3f43dc4ab77101570fec81b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/ksysguard-5.14.0.tar.xz">ksysguard-5.14.0</a></td>
   <td align="right">487kB</td>
   <td><tt>7509007b20a17c1ee10bcd36d5e12b98fe29742627096c4c818e9e9281e86c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kwallet-pam-5.14.0.tar.xz">kwallet-pam-5.14.0</a></td>
   <td align="right">18kB</td>
   <td><tt>2739f7787d9ac3492848e0309ac312e8a351e918337624c0b90504b7f8388133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kwayland-integration-5.14.0.tar.xz">kwayland-integration-5.14.0</a></td>
   <td align="right">18kB</td>
   <td><tt>812f8621c7bc1ab5df37937c50af172a3a86530f6f3589347abe4353cfc2aba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kwin-5.14.0.tar.xz">kwin-5.14.0</a></td>
   <td align="right">6.2MB</td>
   <td><tt>1145bcfbecfb3bfab2970a7d955f24c2d8a3dfb91a1123ad141c58f3fc84a665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/kwrited-5.14.0.tar.xz">kwrited-5.14.0</a></td>
   <td align="right">19kB</td>
   <td><tt>98d6bd2053a01490ba292f66eb38c5dc2f648bb1ed1519e8fdbd90a44a7c3469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/libkscreen-5.14.0.tar.xz">libkscreen-5.14.0</a></td>
   <td align="right">77kB</td>
   <td><tt>b13d8e6b9a1f0cee69d58ca2fb4606491c0371a20d184a19c87c1271164b51bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/libksysguard-5.14.0.tar.xz">libksysguard-5.14.0</a></td>
   <td align="right">560kB</td>
   <td><tt>60b32fe3a27ab14d3ba13394a30db268ae99db8443ff5d696e824f8fe36c4103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/milou-5.14.0.tar.xz">milou-5.14.0</a></td>
   <td align="right">56kB</td>
   <td><tt>34b84e820f710e0cc637282bfbbf65192be49a74b4c5de7955fa3d70f41f81cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/oxygen-5.14.0.tar.xz">oxygen-5.14.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ca1ec2d002e989bf8dfb676e73303e9245cfe50887876eff6dc1d4293f746a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-browser-integration-5.14.0.tar.xz">plasma-browser-integration-5.14.0</a></td>
   <td align="right">104kB</td>
   <td><tt>4b90cd19594b927cd3f4be435c5f4cfdb1c1a075ee5e45a4c099a1eb1ded0ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-desktop-5.14.0.tar.xz">plasma-desktop-5.14.0</a></td>
   <td align="right">8.7MB</td>
   <td><tt>0069b4412956211e0d696fb240384351c8d8ad8f9d0b12721ec7a6bbd0693863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-integration-5.14.0.tar.xz">plasma-integration-5.14.0</a></td>
   <td align="right">52kB</td>
   <td><tt>87cc3058d6085df6ecc6451eb215bdd59aa5669ea649136ca3e56603791c64b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-nm-5.14.0.tar.xz">plasma-nm-5.14.0</a></td>
   <td align="right">686kB</td>
   <td><tt>56c55ad249ad44c0f3bd3e0d4132f22b49cf7c1efdc395f59742f00dd26b24df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-pa-5.14.0.tar.xz">plasma-pa-5.14.0</a></td>
   <td align="right">91kB</td>
   <td><tt>5c5c56015590db05aed29f1db7c0efed8f49ad5f0151cb5896d7f597a3df25ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-sdk-5.14.0.tar.xz">plasma-sdk-5.14.0</a></td>
   <td align="right">241kB</td>
   <td><tt>0e8d6f55730d777560c903cfd7fd4b6d3daa6e6d2934e29a53c501ab363eb02c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-tests-5.14.0.tar.xz">plasma-tests-5.14.0</a></td>
   <td align="right">1kB</td>
   <td><tt>2dc1d7a703a803dbca4de408d04ad468735951c3106e28ad543e38422e019106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-vault-5.14.0.tar.xz">plasma-vault-5.14.0</a></td>
   <td align="right">117kB</td>
   <td><tt>a3320b98d33a503cb063c94fcdb6f40f73e4d30af958936bb48a9e46a5cf94cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-workspace-5.14.0.tar.xz">plasma-workspace-5.14.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ce778af339ccc40763dbc9a6c737fa4d8d249910f60f8567c1397f6d9b01ffb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plasma-workspace-wallpapers-5.14.0.tar.xz">plasma-workspace-wallpapers-5.14.0</a></td>
   <td align="right">43MB</td>
   <td><tt>ac48ec6de5da812bf96b39db162fb519aa5b23effaf0a4139750d0c0b8014082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/plymouth-kcm-5.14.0.tar.xz">plymouth-kcm-5.14.0</a></td>
   <td align="right">38kB</td>
   <td><tt>932a7a89bdd8121841de3739b57f4131082cc72c713fa49bb84bc3a606b4b26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/polkit-kde-agent-1-5.14.0.tar.xz">polkit-kde-agent-1-5.14.0</a></td>
   <td align="right">41kB</td>
   <td><tt>60e967a9989e87b051dc3577f3dbe1a0fb959eaf88129debd1b552dd2b16ff2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/powerdevil-5.14.0.tar.xz">powerdevil-5.14.0</a></td>
   <td align="right">583kB</td>
   <td><tt>59323e62f6408b932ffbd94940f3911461e0e63459f4e68901aae03bd891f014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/sddm-kcm-5.14.0.tar.xz">sddm-kcm-5.14.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6d8c5ad18e1bcf8bb42287962a5225ea16203b662935155874cc1387c18fe637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/systemsettings-5.14.0.tar.xz">systemsettings-5.14.0</a></td>
   <td align="right">174kB</td>
   <td><tt>f2d66643bd37999815d8a265973244b3567a4340a99ef64630e762f60363dc3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/user-manager-5.14.0.tar.xz">user-manager-5.14.0</a></td>
   <td align="right">532kB</td>
   <td><tt>72f8893d73fabf73b1b1efb4fbec2135f9e5427228e670622270141970bb0d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.0/xdg-desktop-portal-kde-5.14.0.tar.xz">xdg-desktop-portal-kde-5.14.0</a></td>
   <td align="right">49kB</td>
   <td><tt>4983093c6fc657050a1531ac486321e763d0b9e0e522889c94126cc672f6f177</tt></td>
</tr>

</table>
