<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/aura-browser-5.27.0.tar.xz">aura-browser-5.27.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5f95e43eabadbd49d013b57f0bbe11dd0c4924688bd4b1fef138fbf5f6c68753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/bluedevil-5.27.0.tar.xz">bluedevil-5.27.0</a></td>
   <td align="right">355kB</td>
   <td><tt>9e521661fc0c7212e91a3ea56c99ff5c52d46a18f7d02d6a47b3d5858ca15472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/breeze-5.27.0.tar.xz">breeze-5.27.0</a></td>
   <td align="right">83MB</td>
   <td><tt>8a5c57a4ea5d48a3f80a9eb06b7d7b27ed51bf1a765d9ea982e9eae626a0c83c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/breeze-grub-5.27.0.tar.xz">breeze-grub-5.27.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d757f5b7d2ba34b3df9ebe24e5e00e66c28101a7467bb736d420f80b9d51cf56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/breeze-gtk-5.27.0.tar.xz">breeze-gtk-5.27.0</a></td>
   <td align="right">39kB</td>
   <td><tt>aa62672ad56071437ad6e192f61ba7443119ff52b75da3a98822a27bd609edaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/breeze-plymouth-5.27.0.tar.xz">breeze-plymouth-5.27.0</a></td>
   <td align="right">108kB</td>
   <td><tt>8019b600a94ee9bd854b26f86cfd60cec7b2b5a47f4d65290c152365ca466e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/discover-5.27.0.tar.xz">discover-5.27.0</a></td>
   <td align="right">834kB</td>
   <td><tt>bf45bcbb06ac20417653bbf7976f6983a95ac8f8a50756224f2cb8eece874961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/drkonqi-5.27.0.tar.xz">drkonqi-5.27.0</a></td>
   <td align="right">832kB</td>
   <td><tt>8fb601f1d73fcb035dad59579147e29cd5b671cba22d69c0d7d523c2b3dab104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/flatpak-kcm-5.27.0.tar.xz">flatpak-kcm-5.27.0</a></td>
   <td align="right">189kB</td>
   <td><tt>5ad361e7572e9862eda77e0ebfd3e77acfa30e4c43b01c28997fa6532fb8280c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kactivitymanagerd-5.27.0.tar.xz">kactivitymanagerd-5.27.0</a></td>
   <td align="right">121kB</td>
   <td><tt>560fb9be7077031e9d28644b728b4aacfa6b98be100e6367cbc3d0a7098d680a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kde-cli-tools-5.27.0.tar.xz">kde-cli-tools-5.27.0</a></td>
   <td align="right">641kB</td>
   <td><tt>15113efa066d1d04516828f5a187f3a03bc348c890714900e5655bc7fbeaacf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kdecoration-5.27.0.tar.xz">kdecoration-5.27.0</a></td>
   <td align="right">51kB</td>
   <td><tt>4ec94df56f2e6c98486d0328e2ee080255a806336915c42f7ab260befd4c7c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kde-gtk-config-5.27.0.tar.xz">kde-gtk-config-5.27.0</a></td>
   <td align="right">73kB</td>
   <td><tt>6fea6257599821296f88bfa7850d7de3e473b95df6033b5d96c9c8fbaeed18ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kdeplasma-addons-5.27.0.tar.xz">kdeplasma-addons-5.27.0</a></td>
   <td align="right">797kB</td>
   <td><tt>4398b77251bd2b95f8a9b5c55bf16ff7e852162f4081fc8b0fbab91bd508d9a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kgamma5-5.27.0.tar.xz">kgamma5-5.27.0</a></td>
   <td align="right">84kB</td>
   <td><tt>85375a2a3aee1ba89aaa656c28747f9d0988ec98aa8ecce84056dca61cbfceb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/khotkeys-5.27.0.tar.xz">khotkeys-5.27.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3fde86d65902a32d63a4fde33ab5082c648ee6c203e36132ed4199194239def7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kinfocenter-5.27.0.tar.xz">kinfocenter-5.27.0</a></td>
   <td align="right">991kB</td>
   <td><tt>74fb006288b81aee4f1ec25644c1b3d44858b50655dd649dc7bef52f4125304d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kmenuedit-5.27.0.tar.xz">kmenuedit-5.27.0</a></td>
   <td align="right">904kB</td>
   <td><tt>c24440dcffa63bc9d75fb29fdc7d8f00ee2abbcf76abe43b04595167bcbc65c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kpipewire-5.27.0.tar.xz">kpipewire-5.27.0</a></td>
   <td align="right">56kB</td>
   <td><tt>0018fee05e03e2eb5c0ed2a6417d20a5ae2e33216fd2745fb77f15014c881756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kscreen-5.27.0.tar.xz">kscreen-5.27.0</a></td>
   <td align="right">178kB</td>
   <td><tt>fc85b5e1f0a9e365ba4ac4bd1d36a86e24c743aa85a8ba1cee649a4905046f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kscreenlocker-5.27.0.tar.xz">kscreenlocker-5.27.0</a></td>
   <td align="right">155kB</td>
   <td><tt>397690ed31738549d3aaf1dd026a5fbd50feddd97566ad121532db6920a67c77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/ksshaskpass-5.27.0.tar.xz">ksshaskpass-5.27.0</a></td>
   <td align="right">27kB</td>
   <td><tt>7afd805c4ef26701624bb4613c3b333e12ccd861c572a1f3dddbfe7d88a3a5dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/ksystemstats-5.27.0.tar.xz">ksystemstats-5.27.0</a></td>
   <td align="right">111kB</td>
   <td><tt>b1e4d435aca21927ce8fd4ab721275eeb69d27d30b81f41516bbbf31304b5ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kwallet-pam-5.27.0.tar.xz">kwallet-pam-5.27.0</a></td>
   <td align="right">22kB</td>
   <td><tt>87ef659e79f66d0bda87cac00ac17c00afda120340b04e56ccb8b36eac8d944f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kwayland-integration-5.27.0.tar.xz">kwayland-integration-5.27.0</a></td>
   <td align="right">25kB</td>
   <td><tt>1b3bff453176d37fedd3ddb7bb69c978fc42c48f6324737d94b9aa644311b42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kwin-5.27.0.tar.xz">kwin-5.27.0</a></td>
   <td align="right">7.2MB</td>
   <td><tt>2cf12150d18b4509fefc528eb3d63be8010ea20b46e9897703211a3d87aa39bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/kwrited-5.27.0.tar.xz">kwrited-5.27.0</a></td>
   <td align="right">22kB</td>
   <td><tt>a359699b50857e1b14926fa246d7e408eac8f14f4bc39498bbe983d6d284dd95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/layer-shell-qt-5.27.0.tar.xz">layer-shell-qt-5.27.0</a></td>
   <td align="right">17kB</td>
   <td><tt>9c0d4737929a80c97c4084a13391ee2ff94ea5bfa1f82f1a11ce0fbedcb943ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/libkscreen-5.27.0.tar.xz">libkscreen-5.27.0</a></td>
   <td align="right">110kB</td>
   <td><tt>50605ae2c1a2d36a24293c87010f94cc39437d20325e5479b722b8e71e926299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/libksysguard-5.27.0.tar.xz">libksysguard-5.27.0</a></td>
   <td align="right">847kB</td>
   <td><tt>652d37197c05c43d3033c67153d482a238cac97351054d4c82e67e3745719a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/milou-5.27.0.tar.xz">milou-5.27.0</a></td>
   <td align="right">55kB</td>
   <td><tt>7ddd4a8fce239c62b03ea8963ee1139b17a35d1aa29725995f1fdfccceb045ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/oxygen-5.27.0.tar.xz">oxygen-5.27.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>200f1bcf4ed7439f8ddb98375ba45a248115ff2c1bdd6d26f9e217a6460d8d6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/oxygen-sounds-5.27.0.tar.xz">oxygen-sounds-5.27.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>667aa95f4bd0e58798aa1dc72eb55c7617128b0e1eb2e3e6c6148e7b4ed87921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plank-player-5.27.0.tar.xz">plank-player-5.27.0</a></td>
   <td align="right">154kB</td>
   <td><tt>c27796c91c82e6f9e47f71f4162b03b2738a763e847d6c399da56e77593be959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-bigscreen-5.27.0.tar.xz">plasma-bigscreen-5.27.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>af7bb311431f5e0d33e6a3a9fe69c14aef34f0592e714dc7e67462a759a35f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-browser-integration-5.27.0.tar.xz">plasma-browser-integration-5.27.0</a></td>
   <td align="right">205kB</td>
   <td><tt>f1cc9fc7656346720f833c857da9e9ebc580de209f755dbc3aea5e380fb18e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-desktop-5.27.0.tar.xz">plasma-desktop-5.27.0</a></td>
   <td align="right">13MB</td>
   <td><tt>1880308ee3d4ff9ea20827d51b2b1a0339556e1d258cb49481ca4fd91451a234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-disks-5.27.0.tar.xz">plasma-disks-5.27.0</a></td>
   <td align="right">90kB</td>
   <td><tt>8bc2c4ed3e36c4419ad1af877ab8ad07d829cd8758bf7be48a009e1b4082f0d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-firewall-5.27.0.tar.xz">plasma-firewall-5.27.0</a></td>
   <td align="right">353kB</td>
   <td><tt>024ece9371843958b5ec9aa6ccce05221c20eb86335272c039138b1aa3c40a0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-integration-5.27.0.tar.xz">plasma-integration-5.27.0</a></td>
   <td align="right">88kB</td>
   <td><tt>3cb091a677bfbfacbdffdd1a2c0e76afded539db3a48b2d5358236face8b4655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-mobile-5.27.0.tar.xz">plasma-mobile-5.27.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>bbce963dbeea85ec6451f80359ebbb3ce1491c98607efb117677d44e4d434691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-nano-5.27.0.tar.xz">plasma-nano-5.27.0</a></td>
   <td align="right">72kB</td>
   <td><tt>41f7c926014cba57ae2fe94404e60fb4b95b16df2d8c1b5f50c372be56738869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-nm-5.27.0.tar.xz">plasma-nm-5.27.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8e34e66e81a4ac3ac8e2fb65cd9d294f4735f3a4aaf0f22841fef2690fc7fb5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-pa-5.27.0.tar.xz">plasma-pa-5.27.0</a></td>
   <td align="right">157kB</td>
   <td><tt>74f2f0ba643667a67888ff2cd7acde86b9143746e2375d04483e79941d93767c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-remotecontrollers-5.27.0.tar.xz">plasma-remotecontrollers-5.27.0</a></td>
   <td align="right">75kB</td>
   <td><tt>242c4d5bcd22da523b38412e9d1467c9417472199e974a8b24f3a4884b961c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-sdk-5.27.0.tar.xz">plasma-sdk-5.27.0</a></td>
   <td align="right">312kB</td>
   <td><tt>3f9610e5f161609f35ab7398b28ba16953b68c11ceeebdbe06de177038bb0b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-systemmonitor-5.27.0.tar.xz">plasma-systemmonitor-5.27.0</a></td>
   <td align="right">167kB</td>
   <td><tt>5d5fd3a9268d095b38a6f73c88b8a4e33509f4f43a6796dd3dac4fcf37f6328d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-tests-5.27.0.tar.xz">plasma-tests-5.27.0</a></td>
   <td align="right">1kB</td>
   <td><tt>790ab36c256ee320bfa914cd4455c088dfdb3a522d7cfabb61739c4e79949ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-thunderbolt-5.27.0.tar.xz">plasma-thunderbolt-5.27.0</a></td>
   <td align="right">70kB</td>
   <td><tt>43b12410905f4d7c4f2678160f1ee6ba4a7bd159a095cf70df6a2b2ab7897d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-vault-5.27.0.tar.xz">plasma-vault-5.27.0</a></td>
   <td align="right">182kB</td>
   <td><tt>e88a2790d75dfc3696bae731e017a7258c4e5831fc96a32b77b9ecbbbd4cb544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-welcome-5.27.0.tar.xz">plasma-welcome-5.27.0</a></td>
   <td align="right">789kB</td>
   <td><tt>d0af3ffd0da958afd5a94689156bed4dce8991c88904ae5cd08ca9d0f73af902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-workspace-5.27.0.tar.xz">plasma-workspace-5.27.0</a></td>
   <td align="right">17MB</td>
   <td><tt>01244ed2df75960192cf810a263410a7b2c9b34c3c237b14429d028ba10b073b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plasma-workspace-wallpapers-5.27.0.tar.xz">plasma-workspace-wallpapers-5.27.0</a></td>
   <td align="right">89MB</td>
   <td><tt>dfcacabb0f3dd6373dc2c67c50382f249444f04b927212fd01c98ab7ec0bdfdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/plymouth-kcm-5.27.0.tar.xz">plymouth-kcm-5.27.0</a></td>
   <td align="right">44kB</td>
   <td><tt>4e2d970aebf59d9ae47b25acba6abdc1d72492d70b532aa1601b54da1dbe7cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/polkit-kde-agent-1-5.27.0.tar.xz">polkit-kde-agent-1-5.27.0</a></td>
   <td align="right">51kB</td>
   <td><tt>415f6fb58f5c934e07179dc94a7954508fdbf31f398527a0de98e6c451de3056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/powerdevil-5.27.0.tar.xz">powerdevil-5.27.0</a></td>
   <td align="right">766kB</td>
   <td><tt>2f27b4fabe84e6cad22dfd49aabf075c166c7a4a475e92099d3f98d3f517b73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/qqc2-breeze-style-5.27.0.tar.xz">qqc2-breeze-style-5.27.0</a></td>
   <td align="right">64kB</td>
   <td><tt>8710c406302639647b7207397704f9e339e1fd586008e049a54fe2bb9b015c91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/sddm-kcm-5.27.0.tar.xz">sddm-kcm-5.27.0</a></td>
   <td align="right">89kB</td>
   <td><tt>d706c7a2578203f66e7c3732a74b029fdc48f054ca7f2f97003d53b2bd2cabcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/systemsettings-5.27.0.tar.xz">systemsettings-5.27.0</a></td>
   <td align="right">218kB</td>
   <td><tt>2715bfa6df9810dee9961bb626cc0d644e96e1b81b9213af3fadb09467d8ba6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.0/xdg-desktop-portal-kde-5.27.0.tar.xz">xdg-desktop-portal-kde-5.27.0</a></td>
   <td align="right">125kB</td>
   <td><tt>70d50c45d87a7b993d637d374bd953c41dde29ed57b85c401de69e7d08d72e19</tt></td>
</tr>

</table>
