<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/baloo-5.9.2.tar.xz">baloo-5.9.2</a></td>
   <td align="right">140kB</td>
   <td><tt>1ca97763c136d3b7762cdc04f6e76fb9d314ba38db8ad48778647590626e19e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/bluedevil-5.3.2.tar.xz">bluedevil-5.3.2</a></td>
   <td align="right">121kB</td>
   <td><tt>c8721922777f8de95880ebe1935bf2e69315e91ddb2f2b4ac32a5e92af23b55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/bluez-qt-5.3.2.tar.xz">bluez-qt-5.3.2</a></td>
   <td align="right">61kB</td>
   <td><tt>90e625d20c2e19419fe782ffd1d556cf1f280386e6c474073406baf551bc892d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/breeze-5.3.2.tar.xz">breeze-5.3.2</a></td>
   <td align="right">27MB</td>
   <td><tt>3e12fcd285c92466405efa053c27ed6266ba40e65c746349672d9b4f172bdc66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kde-cli-tools-5.3.2.tar.xz">kde-cli-tools-5.3.2</a></td>
   <td align="right">473kB</td>
   <td><tt>7dacbe8d90c5d2a966de80c42eb3370f08e9090d125732d9f70571e7603683a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kdecoration-5.3.2.tar.xz">kdecoration-5.3.2</a></td>
   <td align="right">32kB</td>
   <td><tt>fb3099994c907cbc863a92d7d5c9b3fb1723dedacc211fb91c2d138da4b351a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kde-gtk-config-5.3.2.tar.xz">kde-gtk-config-5.3.2</a></td>
   <td align="right">140kB</td>
   <td><tt>55bc964dda26620bfe64731435f72a87dedd530d486d7c0dd856aeadd1f68467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kdeplasma-addons-5.3.2.tar.xz">kdeplasma-addons-5.3.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c46e0c6962a6fe055d160c177cf2843c50515c5bc60d7f460e2447adcd386322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kfilemetadata-5.9.2.tar.xz">kfilemetadata-5.9.2</a></td>
   <td align="right">117kB</td>
   <td><tt>0959a19591180216472c9c7845d180d2b16501b266c6ca10e438c745ca2e151c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/khelpcenter-5.3.2.tar.xz">khelpcenter-5.3.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>63f1c405d2aaf1e29339cb015e54ac49989e05e7357b239ba34170f8899ca4d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/khotkeys-5.3.2.tar.xz">khotkeys-5.3.2</a></td>
   <td align="right">594kB</td>
   <td><tt>6a06e3fc62a4fdc349736a481873e5f205b86bb0dd3fbcf792a4c43af936ff38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kinfocenter-5.3.2.tar.xz">kinfocenter-5.3.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>79c6ac792c330142f66b1ab01f32e010aa44303bf4d8e3ba422fd02c704f18f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kio-extras-5.3.2.tar.xz">kio-extras-5.3.2</a></td>
   <td align="right">598kB</td>
   <td><tt>7cc90553fc6a003e776ee5417e437007cc97d37f774edc92e21bdf5a0710d7ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kmenuedit-5.3.2.tar.xz">kmenuedit-5.3.2</a></td>
   <td align="right">431kB</td>
   <td><tt>b199a0c8214bac0b6833ab2c0018daaecf49a1881fe5b34c540940940c94da8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kscreen-5.3.2.tar.xz">kscreen-5.3.2</a></td>
   <td align="right">92kB</td>
   <td><tt>8d43e503b983f9b3dd4dc21662ad8f92f092ac81435a843ecbc5eab195cab695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/ksshaskpass-5.3.2.tar.xz">ksshaskpass-5.3.2</a></td>
   <td align="right">18kB</td>
   <td><tt>e78d5d0540f9a206d2da03b62f62ceb3a0511c3d0ed6eefceca7dd40820097ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/ksysguard-5.3.2.tar.xz">ksysguard-5.3.2</a></td>
   <td align="right">469kB</td>
   <td><tt>073f431a035658935c82c831a13057fd615f5c7ab7b6f226cdd2ed0c637bc2ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kwayland-5.3.2.tar.xz">kwayland-5.3.2</a></td>
   <td align="right">90kB</td>
   <td><tt>916d1be1ba46ecff321b0dcb3031032955bef1fb538928955ab6ba95e11e13fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kwin-5.3.2.tar.xz">kwin-5.3.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>7f77420455a1bb5887f586aa2a31eaeab919240757f47b1ca1c0ff849571575c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/kwrited-5.3.2.tar.xz">kwrited-5.3.2</a></td>
   <td align="right">19kB</td>
   <td><tt>41bdcbf600d8d3ec4c769c2f82bb2a6f05db0f11a15e35e32e5acb736f4e89c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/libkscreen-5.3.2.tar.xz">libkscreen-5.3.2</a></td>
   <td align="right">69kB</td>
   <td><tt>c2b9c8219d1743cdb28fbf571a16fcc6b608b6800ac4e6f993a205e2bb25d2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/libksysguard-5.3.2.tar.xz">libksysguard-5.3.2</a></td>
   <td align="right">548kB</td>
   <td><tt>17a59b5b7d99ae940e1b0cdf4c64cc713482216b340bed4e6d540d4ceec9ed8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/milou-5.3.2.tar.xz">milou-5.3.2</a></td>
   <td align="right">49kB</td>
   <td><tt>7c9604ef843f8507f6c56f872891064bb0b631d2180422f9797d1f788b8e96f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/muon-5.3.2.tar.xz">muon-5.3.2</a></td>
   <td align="right">1017kB</td>
   <td><tt>3f39df3061b0bdd7e24816ce09bafdafbee47f3fc73d306e6733bb1c3d494c30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/oxygen-5.3.2.tar.xz">oxygen-5.3.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>80e74901854d903feee8a2a43f1a0901763e8e06dc6ede4236c120fc8f45e1a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/oxygen-fonts-5.3.2.tar.xz">oxygen-fonts-5.3.2</a></td>
   <td align="right">157kB</td>
   <td><tt>ca179061374a0d37f2ae445bd58b339be47dcdf11d349169d71a354ce972e874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/plasma-desktop-5.3.2.tar.xz">plasma-desktop-5.3.2</a></td>
   <td align="right">5.6MB</td>
   <td><tt>e16f878bd07cdbe46205eff6294f1b19cdebd021e1fa6d0720409d54ab050fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/plasma-mediacenter-5.3.2.tar.xz">plasma-mediacenter-5.3.2</a></td>
   <td align="right">152kB</td>
   <td><tt>e69991e5a9770d799ef4a530d5792d212415246d10c0634a16f3a0e83cfc935a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/plasma-nm-5.3.2.tar.xz">plasma-nm-5.3.2</a></td>
   <td align="right">513kB</td>
   <td><tt>4f15c2284ba5d5642e45273beb9416b772d91ffb30e293f577641e9b8dd16c70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/plasma-sdk-5.3.2.tar.xz">plasma-sdk-5.3.2</a></td>
   <td align="right">627kB</td>
   <td><tt>5f68cf38adf0c8d03478b0e467c6a144a632d9d519101afa22f2bdeed5ea738f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/plasma-workspace-5.3.2.tar.xz">plasma-workspace-5.3.2</a></td>
   <td align="right">6.5MB</td>
   <td><tt>4165a547efc59dd42a15d24f21f722d88e4acfb6fb6d6a4db3c3d0ce54fa54c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/plasma-workspace-wallpapers-5.3.2.tar.xz">plasma-workspace-wallpapers-5.3.2</a></td>
   <td align="right">48MB</td>
   <td><tt>4a21809c01fe7a7c3e537b37ac6aedbd2cda1a3551ef44cd97de97dd88407cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/polkit-kde-agent-1-5.3.2.tar.xz">polkit-kde-agent-1-5.3.2</a></td>
   <td align="right">39kB</td>
   <td><tt>d655ec153a8db423b62ab4a96e7c62c3a1ea6bc49d656100ed62013dda9b0b4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/powerdevil-5.3.2.tar.xz">powerdevil-5.3.2</a></td>
   <td align="right">344kB</td>
   <td><tt>f34d92f343e7b0738af509d6d7f0bb0455df038d1c850838142adf8b53c4ceff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/sddm-kcm-5.3.2.tar.xz">sddm-kcm-5.3.2</a></td>
   <td align="right">45kB</td>
   <td><tt>cd46c8c9b7c638eeb36adcfb2a10304c4f71ed3bfa916882950f818c7b49f39e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.2/systemsettings-5.3.2.tar.xz">systemsettings-5.3.2</a></td>
   <td align="right">153kB</td>
   <td><tt>adabe7383d49249af0564319f83395a88d7fda2a19f9dcc21eca8eec6009f451</tt></td>
</tr>

</table>
