<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/bluedevil-5.13.3.tar.xz">bluedevil-5.13.3</a></td>
   <td align="right">145kB</td>
   <td><tt>d2fce36763c1b85753d59c61c187e7e75e21ce2a1d1d10237135b2222c9d0f35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/breeze-5.13.3.tar.xz">breeze-5.13.3</a></td>
   <td align="right">23MB</td>
   <td><tt>934713bc66537a91c92e702dc1828446e3d9f0c5f7f3e37d24263429c06d8d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/breeze-grub-5.13.3.tar.xz">breeze-grub-5.13.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>494a323ad4bebda5c1a7c79b966a51a0af446d53a34f9894872d32aca4533189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/breeze-gtk-5.13.3.tar.xz">breeze-gtk-5.13.3</a></td>
   <td align="right">196kB</td>
   <td><tt>cbbffd857e4b7cb9937ce03b51ab3ba7627dfd9952e610a333bf0cb302a2ac0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/breeze-plymouth-5.13.3.tar.xz">breeze-plymouth-5.13.3</a></td>
   <td align="right">103kB</td>
   <td><tt>12f3ab8525559f60732a2501346beed084a372f06942613c64875c38daf605a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/discover-5.13.3.tar.xz">discover-5.13.3</a></td>
   <td align="right">9.7MB</td>
   <td><tt>6913535a8363addd575185b0f497437e418654682b858f268b9764e6d5a67ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/drkonqi-5.13.3.tar.xz">drkonqi-5.13.3</a></td>
   <td align="right">718kB</td>
   <td><tt>51739da4b1b8cc87df158c17d0c09b30d39a301fa71ffdac32be18caf265ddce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kactivitymanagerd-5.13.3.tar.xz">kactivitymanagerd-5.13.3</a></td>
   <td align="right">83kB</td>
   <td><tt>65cfbd9c7af41a693cead8bee2dbe55a2e0e7f955824ab0cbbe5234b1e4a9ba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kde-cli-tools-5.13.3.tar.xz">kde-cli-tools-5.13.3</a></td>
   <td align="right">566kB</td>
   <td><tt>0425fe530b0afa2027d0489200fa7eb7adfa29a11281bc6ab713a53a5c50c0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kdecoration-5.13.3.tar.xz">kdecoration-5.13.3</a></td>
   <td align="right">40kB</td>
   <td><tt>49711c61252479d74c5fab75c7935204803b69a4c1a07f368f9218a1fd3d2d6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kde-gtk-config-5.13.3.tar.xz">kde-gtk-config-5.13.3</a></td>
   <td align="right">152kB</td>
   <td><tt>a3443da0ff86bcd84dfe860e59d609a63e03e7968a00c4e897b24694f42be148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kdeplasma-addons-5.13.3.tar.xz">kdeplasma-addons-5.13.3</a></td>
   <td align="right">578kB</td>
   <td><tt>831a9e5a127a169eef458d5328145cad5ecf6f28f65d8d6e1ce008618a1b0d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kgamma5-5.13.3.tar.xz">kgamma5-5.13.3</a></td>
   <td align="right">77kB</td>
   <td><tt>a78537fe529bd2c07ed0f013fccb7597ce801516d614828f6724b98effa909e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/khotkeys-5.13.3.tar.xz">khotkeys-5.13.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>262f18b47be2fbacd499067c18915bac1ea3ebcd18ea7ee560d525e5dc9b3bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kinfocenter-5.13.3.tar.xz">kinfocenter-5.13.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8ed4c4cdc9c0aeb77f14e37e58043782beb683f4c4da8ff8664e113d9761200d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kmenuedit-5.13.3.tar.xz">kmenuedit-5.13.3</a></td>
   <td align="right">600kB</td>
   <td><tt>be800430f2474de7256bb429c004f112cc856aed415228709084a5eebb19ffc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kscreen-5.13.3.tar.xz">kscreen-5.13.3</a></td>
   <td align="right">110kB</td>
   <td><tt>e051545c1875e4ecd09799cc40f1868b5421958d5e1fc37b76f1e467a07809ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kscreenlocker-5.13.3.tar.xz">kscreenlocker-5.13.3</a></td>
   <td align="right">119kB</td>
   <td><tt>bda0bef715db370ae0affa7ebaf5171aeb8cc6400bbb8645a772a0181cfc4ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/ksshaskpass-5.13.3.tar.xz">ksshaskpass-5.13.3</a></td>
   <td align="right">21kB</td>
   <td><tt>e1672d5661ec95d4dd31a778cc0344085433892b2de4bad8d59ae59352ce25f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/ksysguard-5.13.3.tar.xz">ksysguard-5.13.3</a></td>
   <td align="right">480kB</td>
   <td><tt>e5ce66c9d7515a2ef8a8d26ff147f5fbc1270d1a6b879b35ad61805809905ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kwallet-pam-5.13.3.tar.xz">kwallet-pam-5.13.3</a></td>
   <td align="right">18kB</td>
   <td><tt>27d9ab697e909be72a611d8a99ddde948e3763ba7199bf2da4a08354fcc0964f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kwayland-integration-5.13.3.tar.xz">kwayland-integration-5.13.3</a></td>
   <td align="right">18kB</td>
   <td><tt>df6903caa379a3d6634f2697cd4217c0e032f6f8630dab0320ec4746fb1b5cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kwin-5.13.3.tar.xz">kwin-5.13.3</a></td>
   <td align="right">6.2MB</td>
   <td><tt>7f069710a2c85c362dc5d1bbe25f54b46fa6ff4cf287c8d1a46bd43cf3f3cbaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/kwrited-5.13.3.tar.xz">kwrited-5.13.3</a></td>
   <td align="right">19kB</td>
   <td><tt>59e6781dcf5689dfb4144876d609c24c3b4249fef17419cb7c38e0f62f8314d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/libkscreen-5.13.3.tar.xz">libkscreen-5.13.3</a></td>
   <td align="right">76kB</td>
   <td><tt>90169680ec49ad255e95e4cecb96f221fd1b23ed070a3a948d533d7076f7949c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/libksysguard-5.13.3.tar.xz">libksysguard-5.13.3</a></td>
   <td align="right">555kB</td>
   <td><tt>3eb3cd313bcfbc8473acc1bdccc122e9750935048eb3b55d35288d51d32e052d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/milou-5.13.3.tar.xz">milou-5.13.3</a></td>
   <td align="right">56kB</td>
   <td><tt>49bea3c5ccb22e40af91122689c67cde42a3cde37c9a4b41f4fc2cccb6dd9323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/oxygen-5.13.3.tar.xz">oxygen-5.13.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>7f322a3d409dcf89dc643662e31ae06dfd253134d9121e6db9739413e71a0281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-browser-integration-5.13.3.tar.xz">plasma-browser-integration-5.13.3</a></td>
   <td align="right">95kB</td>
   <td><tt>08d0203cb4df5e3d3beef39c5fe5f3a643c9751bda6057bb871bc5b1a783948b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-desktop-5.13.3.tar.xz">plasma-desktop-5.13.3</a></td>
   <td align="right">8.7MB</td>
   <td><tt>b01e866362ead65be0c07e437e6c9ba937a3dadccb9df109e5e236843c8225f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-integration-5.13.3.tar.xz">plasma-integration-5.13.3</a></td>
   <td align="right">52kB</td>
   <td><tt>a4e899be0993f70fab79bbbbc506c3738805190703e6a2ae0688c8760873c320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-nm-5.13.3.tar.xz">plasma-nm-5.13.3</a></td>
   <td align="right">684kB</td>
   <td><tt>383474d54b2a260046f059f85ca8dfcb8c3c46343d0ee3c359ae55514b866564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-pa-5.13.3.tar.xz">plasma-pa-5.13.3</a></td>
   <td align="right">87kB</td>
   <td><tt>6261543139b7ea3c752ebcab307b5d5b5939112351e212ab9e727df227d53c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-sdk-5.13.3.tar.xz">plasma-sdk-5.13.3</a></td>
   <td align="right">241kB</td>
   <td><tt>713f6c693ec982b1c20422b9a927b0d9a32c643e646c4cce3d6e69454b369c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-tests-5.13.3.tar.xz">plasma-tests-5.13.3</a></td>
   <td align="right">1kB</td>
   <td><tt>900f2217b2ceb05421fc5a522fba8e44e5c6568ae8a27461b72a157876ec7055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-vault-5.13.3.tar.xz">plasma-vault-5.13.3</a></td>
   <td align="right">111kB</td>
   <td><tt>06ad0bb864530dff7528f4f2005b21fc30a9f0460ead325869c9a9502fc6ec47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-workspace-5.13.3.tar.xz">plasma-workspace-5.13.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>442f10b8c7a514fae07c629052287d678d77c3c395aab4e74ccfe1f803e193ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plasma-workspace-wallpapers-5.13.3.tar.xz">plasma-workspace-wallpapers-5.13.3</a></td>
   <td align="right">43MB</td>
   <td><tt>f73102f1b0ed5dd2eb4e216894727f1e0d7e13fb59166b8c6c53af977f1f11d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/plymouth-kcm-5.13.3.tar.xz">plymouth-kcm-5.13.3</a></td>
   <td align="right">38kB</td>
   <td><tt>c0187089342e0fdfbb13a9328c55e7e7eed557f6e779dbb6e515ca668150cb33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/polkit-kde-agent-1-5.13.3.tar.xz">polkit-kde-agent-1-5.13.3</a></td>
   <td align="right">41kB</td>
   <td><tt>6772e5034d9f97f75e7d0fd62f4cec4985787c7df354c3580782a9a13da48554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/powerdevil-5.13.3.tar.xz">powerdevil-5.13.3</a></td>
   <td align="right">526kB</td>
   <td><tt>2088c45f59c439e9f0177b53d9560a4e491d47be9ba04ac3d8d5e34202d1d0d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/sddm-kcm-5.13.3.tar.xz">sddm-kcm-5.13.3</a></td>
   <td align="right">58kB</td>
   <td><tt>a343cfb75fcdf34aa8056f62c092432d642ff150341f93743008cb198afb549f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/systemsettings-5.13.3.tar.xz">systemsettings-5.13.3</a></td>
   <td align="right">174kB</td>
   <td><tt>1a93b739a17bd6fb5ff0ccaa3521cf1a2284d57f2552c843b463553ed2338c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/user-manager-5.13.3.tar.xz">user-manager-5.13.3</a></td>
   <td align="right">532kB</td>
   <td><tt>1283bbde4dbcc20695a5a873a2fbd51e17061f4ca7e937003c7909a679245803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.3/xdg-desktop-portal-kde-5.13.3.tar.xz">xdg-desktop-portal-kde-5.13.3</a></td>
   <td align="right">48kB</td>
   <td><tt>e7302fdccb17f53aaf3cba37fa3cffc4d5f4cef0c38f2060e661b1bbab6c094c</tt></td>
</tr>

</table>
