<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/bluedevil-5.24.2.tar.xz">bluedevil-5.24.2</a></td>
   <td align="right">169kB</td>
   <td><tt>24d7501e65149093e17c8545199d1bcae27fe828ded65d6a20446c8fffe1fa2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/breeze-5.24.2.tar.xz">breeze-5.24.2</a></td>
   <td align="right">41MB</td>
   <td><tt>5fee72b7bc88fe8d97b575f46de62037ac2f898c7a5ff024e62f1082d60984b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/breeze-grub-5.24.2.tar.xz">breeze-grub-5.24.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>35d9383cf4199855ce014eeaa3c1ae17045f506846aea3fce5366277eb3f8b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/breeze-gtk-5.24.2.tar.xz">breeze-gtk-5.24.2</a></td>
   <td align="right">42kB</td>
   <td><tt>2c1f02be02bac5d9098e90901b047ba587f57dc3827dd89b5a868ca80a2f2dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/breeze-plymouth-5.24.2.tar.xz">breeze-plymouth-5.24.2</a></td>
   <td align="right">108kB</td>
   <td><tt>79f5f8e48f27e921e82248aea7dac1e2c48c915e4860886fcc17f34a53367054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/discover-5.24.2.1.tar.xz">discover-5.24.2.1</a></td>
   <td align="right">7.8MB</td>
   <td><tt>f151bdfca7efebe062523ee5a5d6f9aa8ae9e2e244e7e0375532a8081e998a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/drkonqi-5.24.2.tar.xz">drkonqi-5.24.2</a></td>
   <td align="right">775kB</td>
   <td><tt>d8a9dce27789933f8d49f8e996da27ac675ae8c4dde849b122a58fa52e684ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kactivitymanagerd-5.24.2.tar.xz">kactivitymanagerd-5.24.2</a></td>
   <td align="right">102kB</td>
   <td><tt>a14714645797114b45c4bd0d87fe2559f4c4b5d4625e100045b25c66fd25a958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kde-cli-tools-5.24.2.tar.xz">kde-cli-tools-5.24.2</a></td>
   <td align="right">617kB</td>
   <td><tt>9549c0474695df4855b66ee2196caa14a0bc3e0179920ae564d149bc5ecf6984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kdecoration-5.24.2.tar.xz">kdecoration-5.24.2</a></td>
   <td align="right">47kB</td>
   <td><tt>ac5f02324a5d64e81408c30f3c9d077da460b77278eed7f195344d3f5acc8d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kde-gtk-config-5.24.2.tar.xz">kde-gtk-config-5.24.2</a></td>
   <td align="right">69kB</td>
   <td><tt>eab1d06c3e3f5c02b3a6608f6b2bc8d20d82f7e2f3ea4c666d4d2f69f476776d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kdeplasma-addons-5.24.2.tar.xz">kdeplasma-addons-5.24.2</a></td>
   <td align="right">620kB</td>
   <td><tt>13e62f9091f26eeff7d4bf4a51569c2af561dd051d1c1d94b98071a7465d6cf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kgamma5-5.24.2.tar.xz">kgamma5-5.24.2</a></td>
   <td align="right">81kB</td>
   <td><tt>a31bc51521cdfc55bbb29aee2f713378ba34fcee08326dbb10a2d6486a7a4957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/khotkeys-5.24.2.tar.xz">khotkeys-5.24.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>05ef66dd409b7de9ce6711b2b8931e68cc9eb7978adcb7ed17576a788e5870b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kinfocenter-5.24.2.tar.xz">kinfocenter-5.24.2</a></td>
   <td align="right">700kB</td>
   <td><tt>af5dd1af07e308c42f55d5c2ec472ab5b4ab67bef03d29545f9bc5e6d03ebeda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kmenuedit-5.24.2.tar.xz">kmenuedit-5.24.2</a></td>
   <td align="right">880kB</td>
   <td><tt>5e0eb1979bcfe4b66ff010197d8bcb0bcc3f9eab4c5d95c454c7b145d228a672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kscreen-5.24.2.tar.xz">kscreen-5.24.2</a></td>
   <td align="right">131kB</td>
   <td><tt>f8549747eaaca0a7172e57d404207a684ef659ee107c2b2815526d5d5180f489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kscreenlocker-5.24.2.tar.xz">kscreenlocker-5.24.2</a></td>
   <td align="right">116kB</td>
   <td><tt>fcd9d5be26409819903b445d2ebe888ea2e7cba289304b80462e9d701e06d3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/ksshaskpass-5.24.2.tar.xz">ksshaskpass-5.24.2</a></td>
   <td align="right">24kB</td>
   <td><tt>3073957d9e0a18119466db2be4d9d066f3c8f594fa0459031040852c94c3950b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/ksystemstats-5.24.2.tar.xz">ksystemstats-5.24.2</a></td>
   <td align="right">92kB</td>
   <td><tt>ff6befbea33add48a7a6fec574576cccbfc6eea6e28018fef06b16cbea2d2057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kwallet-pam-5.24.2.tar.xz">kwallet-pam-5.24.2</a></td>
   <td align="right">19kB</td>
   <td><tt>afa0dea0d9faaa25f1bb75901cb5d0f031ab55bd6287d75fcd26521f9e92586a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kwayland-integration-5.24.2.tar.xz">kwayland-integration-5.24.2</a></td>
   <td align="right">24kB</td>
   <td><tt>fb8cab0a35b6fee268243481707613f6cea9715cda96d124a0a508e3b2a1ba93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kwayland-server-5.24.2.tar.xz">kwayland-server-5.24.2</a></td>
   <td align="right">216kB</td>
   <td><tt>147b0312fe456ca5018da641fb5758d94d55eca136d075729d322829634ee247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kwin-5.24.2.tar.xz">kwin-5.24.2</a></td>
   <td align="right">6.1MB</td>
   <td><tt>2aabb59ef884cb2fb3f53b9577d651a1c39977a482bca93d6634ed3593054411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/kwrited-5.24.2.tar.xz">kwrited-5.24.2</a></td>
   <td align="right">20kB</td>
   <td><tt>9d88edeacece79f2a8a1cc989b36896c2ad911b31d1c8ba78b4c3406a9b97205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/layer-shell-qt-5.24.2.tar.xz">layer-shell-qt-5.24.2</a></td>
   <td align="right">17kB</td>
   <td><tt>eefee96cf04cb1dbaede72b50354ddc7129915f1b88c340ff206724c29620f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/libkscreen-5.24.2.tar.xz">libkscreen-5.24.2</a></td>
   <td align="right">97kB</td>
   <td><tt>a64c2263a0de898a4a0e73f85949b4d3868aef87aa221d597e8c16f412103b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/libksysguard-5.24.2.tar.xz">libksysguard-5.24.2</a></td>
   <td align="right">748kB</td>
   <td><tt>13983f626906db864eda20bfa2e994ccbe4ddc534af7a052675b3475b7e9472f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/milou-5.24.2.tar.xz">milou-5.24.2</a></td>
   <td align="right">47kB</td>
   <td><tt>9a8c4b0561ce85f37ccd4500b715c73b9ed77aec79aa46eb2b0e04d9b94381e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/oxygen-5.24.2.tar.xz">oxygen-5.24.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>73d821a412a86df1511e6979d985de496d226ecc4201fe64e43b9400e1860cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-browser-integration-5.24.2.tar.xz">plasma-browser-integration-5.24.2</a></td>
   <td align="right">217kB</td>
   <td><tt>e8a48296d1a713d8b8f002d559a4cd12cd7f4892c591ed985c5ce49f7bffe738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-desktop-5.24.2.tar.xz">plasma-desktop-5.24.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>524193c24c95f67137410786f94c70d3c96827bae133a48bb53226f32c33fa10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-disks-5.24.2.tar.xz">plasma-disks-5.24.2</a></td>
   <td align="right">85kB</td>
   <td><tt>e2135701903316f46df042f8b0eade162a1f1412644d9f4d9fa0512856b81522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-firewall-5.24.2.tar.xz">plasma-firewall-5.24.2</a></td>
   <td align="right">336kB</td>
   <td><tt>7ac775e652570c704d6d3e1b0809e10e3718c630f89fe4c2b11dd3f91f5c85d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-integration-5.24.2.tar.xz">plasma-integration-5.24.2</a></td>
   <td align="right">81kB</td>
   <td><tt>b6408b32e13b9713cd34f499c7aae216218a04b6c9655f37689d95f8b323f947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-mobile-5.24.2.tar.xz">plasma-mobile-5.24.2</a></td>
   <td align="right">115kB</td>
   <td><tt>8a5811275cec6021219fd341f6ec673e0038a0c8ac5e14f8a35869b3263c1322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-nano-5.24.2.tar.xz">plasma-nano-5.24.2</a></td>
   <td align="right">64kB</td>
   <td><tt>bb003d9b63b114142b1e913634822eca23a8cb776221f42799b6e5063a15ad88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-nm-5.24.2.tar.xz">plasma-nm-5.24.2</a></td>
   <td align="right">902kB</td>
   <td><tt>114ead32c90d521ae0504baee971da71a2c0f1a37d25bbf1868012ed030048cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-pa-5.24.2.tar.xz">plasma-pa-5.24.2</a></td>
   <td align="right">129kB</td>
   <td><tt>015dff4f7561a0fdca28a0d49e98df3bb112300c9e29588f685e58ae037603e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-sdk-5.24.2.tar.xz">plasma-sdk-5.24.2</a></td>
   <td align="right">254kB</td>
   <td><tt>83486883400fb837df6541f462df390b28df5d9a174a04e55e971ffe483c777b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-systemmonitor-5.24.2.tar.xz">plasma-systemmonitor-5.24.2</a></td>
   <td align="right">147kB</td>
   <td><tt>16902047b659cbe7e3452e527699aa8891546323a54efc60d0fdcfac8fe0ccd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-tests-5.24.2.tar.xz">plasma-tests-5.24.2</a></td>
   <td align="right">1kB</td>
   <td><tt>96a4dd61788b026608bee00bb5456b7ade9f3b34a926d19e0d6cdc97fb0b9e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-thunderbolt-5.24.2.tar.xz">plasma-thunderbolt-5.24.2</a></td>
   <td align="right">65kB</td>
   <td><tt>7111626252470f7c1de5b3c261b29db3ac9bdac5e1453b6853cda8aaaa5681be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-vault-5.24.2.tar.xz">plasma-vault-5.24.2</a></td>
   <td align="right">173kB</td>
   <td><tt>be8e517dff5e3fcfaeade1d9a992c5d44c52b3efbdeb345a79dad94141722e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-workspace-5.24.2.tar.xz">plasma-workspace-5.24.2</a></td>
   <td align="right">17MB</td>
   <td><tt>e7fd2ad7c067710401f7322789ce796c3ad5e02a3813bdfb84ebd5dbd8787d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plasma-workspace-wallpapers-5.24.2.tar.xz">plasma-workspace-wallpapers-5.24.2</a></td>
   <td align="right">69MB</td>
   <td><tt>3664b2cd1005f2632475e2024fcec623090407d4398e0bc70dcfe45dfbb8bf67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/plymouth-kcm-5.24.2.tar.xz">plymouth-kcm-5.24.2</a></td>
   <td align="right">38kB</td>
   <td><tt>54e8999c5ac022c687f08c9849ebd2eb931fdf2d35cad6df27bc7c3c1b3ea2dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/polkit-kde-agent-1-5.24.2.tar.xz">polkit-kde-agent-1-5.24.2</a></td>
   <td align="right">47kB</td>
   <td><tt>43685eccd228edf74c7fee80f6cafb217159b540b487cda067c18e3ec6b7ba7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/powerdevil-5.24.2.tar.xz">powerdevil-5.24.2</a></td>
   <td align="right">617kB</td>
   <td><tt>8c742e057f19e3852ed6403e7a3f86fa70a478ae0c6c30a492491a5b02b7cd8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/qqc2-breeze-style-5.24.2.tar.xz">qqc2-breeze-style-5.24.2</a></td>
   <td align="right">65kB</td>
   <td><tt>89d8f033dc5ec439922dcfbe36816df7ad23fd9c282cae0dbe4113debd268e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/sddm-kcm-5.24.2.tar.xz">sddm-kcm-5.24.2</a></td>
   <td align="right">79kB</td>
   <td><tt>af95a174536c7deb01d4274c1e0efa71a06a8728dbafa144dc37a37b803c3e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/systemsettings-5.24.2.tar.xz">systemsettings-5.24.2</a></td>
   <td align="right">200kB</td>
   <td><tt>b31e3bbd0ed6c69718341e7290f8a8888e972ca3c1eae10f2a5da912b17d2e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.2/xdg-desktop-portal-kde-5.24.2.tar.xz">xdg-desktop-portal-kde-5.24.2</a></td>
   <td align="right">86kB</td>
   <td><tt>0b703bb222726ea1fe2161728f027d381862a03d0d693806f481a1249f78fda3</tt></td>
</tr>

</table>
