<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/bluedevil-5.18.1.tar.xz">bluedevil-5.18.1</a></td>
   <td align="right">163kB</td>
   <td><tt>981a6b4e57d5b20dfc43f4413a53734c11275dca831f7c7d9242ab0414f5da42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/breeze-5.18.1.tar.xz">breeze-5.18.1</a></td>
   <td align="right">20MB</td>
   <td><tt>0d93f85ffe6be3b366a7e710442e003d0f021328bf4a35e23a2149c30d0f6a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/breeze-grub-5.18.1.tar.xz">breeze-grub-5.18.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>37ad1d268e4f2f2b71ad1e6fb036500a887ee37f702dd23ba48941866cc28e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/breeze-gtk-5.18.1.tar.xz">breeze-gtk-5.18.1</a></td>
   <td align="right">41kB</td>
   <td><tt>9735d4b2ebd27e760455138455f947619fbc5947760069c7919d596754cf92a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/breeze-plymouth-5.18.1.tar.xz">breeze-plymouth-5.18.1</a></td>
   <td align="right">103kB</td>
   <td><tt>29223b52ea841a77df5a13a9c1830198ece1050845d058e2ca7150a65392c107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/discover-5.18.1.tar.xz">discover-5.18.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>914f7140685a116ff385a17669be7537950d50cbb78854a1bc9430ec6972e2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/drkonqi-5.18.1.tar.xz">drkonqi-5.18.1</a></td>
   <td align="right">729kB</td>
   <td><tt>2f44291cee704c86526ddc8fa75455157d5694a1dfca5b5f57683ae70829bd86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kactivitymanagerd-5.18.1.tar.xz">kactivitymanagerd-5.18.1</a></td>
   <td align="right">84kB</td>
   <td><tt>236ae371a1185962ad95dad0c21b89987f7dad015b5934f62ecdc713f4ccc68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kde-cli-tools-5.18.1.tar.xz">kde-cli-tools-5.18.1</a></td>
   <td align="right">578kB</td>
   <td><tt>d2f7250e6b557f927e2526542ede5efda9267f2f89c9b359a97c40b665c1b86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kdecoration-5.18.1.tar.xz">kdecoration-5.18.1</a></td>
   <td align="right">42kB</td>
   <td><tt>22816ea3407ded2aa82e10d2caa88aa9bf86475d6b6eec39d9564d7dc06013d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kde-gtk-config-5.18.1.tar.xz">kde-gtk-config-5.18.1</a></td>
   <td align="right">23kB</td>
   <td><tt>e404453f73dfacd16b4cfcde11fb2c029652a20c29d3402f1518de355afd437d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kdeplasma-addons-5.18.1.tar.xz">kdeplasma-addons-5.18.1</a></td>
   <td align="right">600kB</td>
   <td><tt>a2cc4bc2d0f529755a878caffc26116adcaa788272522c2ba208b2ad06e3d6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kgamma5-5.18.1.tar.xz">kgamma5-5.18.1</a></td>
   <td align="right">78kB</td>
   <td><tt>370cdf9988a57509f3df395e1cc6f78505da171c18b3338cb57bfd7f7e230658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/khotkeys-5.18.1.tar.xz">khotkeys-5.18.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b800399d9de8024608d3918af4484f2d36ae08a89bd0ae5ea539e508215ebd6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kinfocenter-5.18.1.tar.xz">kinfocenter-5.18.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>05c628787cdc5c40256ae821d3dfd72ed16e5510e5489b678f302655edc75eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kmenuedit-5.18.1.tar.xz">kmenuedit-5.18.1</a></td>
   <td align="right">794kB</td>
   <td><tt>af7b1e50fd8d91469bda6d78916c527d9b9e1b0e9a809b5e7f4fbdfc2ac3ad5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kscreen-5.18.1.tar.xz">kscreen-5.18.1</a></td>
   <td align="right">110kB</td>
   <td><tt>e863c425029cae0d52d1496eaf7993bf58aa80354825bc0cb8b25157203ea9c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kscreenlocker-5.18.1.tar.xz">kscreenlocker-5.18.1</a></td>
   <td align="right">122kB</td>
   <td><tt>4b9d4bbb075aa749f83cc74f520c37aa81b2752db5f74f0a50c80cbc824d72e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/ksshaskpass-5.18.1.tar.xz">ksshaskpass-5.18.1</a></td>
   <td align="right">21kB</td>
   <td><tt>dccc4bc93d7691024e77b4217e7fd811b4324437409779412990d5d5425f25a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/ksysguard-5.18.1.tar.xz">ksysguard-5.18.1</a></td>
   <td align="right">505kB</td>
   <td><tt>d88c8c324fd5835d6287107b162b2434f43dcd3adb01bb9b2a9c4b93afb0ece2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kwallet-pam-5.18.1.tar.xz">kwallet-pam-5.18.1</a></td>
   <td align="right">19kB</td>
   <td><tt>dafced390651e8c5f9572a9def3cdfbab003a32b1ced2711be31b41ab44d9e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kwayland-integration-5.18.1.tar.xz">kwayland-integration-5.18.1</a></td>
   <td align="right">20kB</td>
   <td><tt>e9d582560becb11b2884df642dbb0796696a2d94d55e92e1d87db8d312f443a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kwin-5.18.1.tar.xz">kwin-5.18.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>3ab3e497cf231f43e8ee918f8bc666e7d5745c4858d5171f9516bd48783583da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/kwrited-5.18.1.tar.xz">kwrited-5.18.1</a></td>
   <td align="right">19kB</td>
   <td><tt>a76548c2af73296a957ccbc04fdd859398473d2f8e3a0ffb17e2ad75499ac8e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/libkscreen-5.18.1.tar.xz">libkscreen-5.18.1</a></td>
   <td align="right">83kB</td>
   <td><tt>768d8c353179c44cb0f8f2be3d6c046802303d9c3f96236d3d562953cf6f5444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/libksysguard-5.18.1.tar.xz">libksysguard-5.18.1</a></td>
   <td align="right">595kB</td>
   <td><tt>93654e348845a992158d22608cd612e6770c718ee945aafcf04a8bd50f7b1c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/milou-5.18.1.tar.xz">milou-5.18.1</a></td>
   <td align="right">62kB</td>
   <td><tt>3a74fe8846cca7e1d01c614d5112f44f93042e0b20c60cf0c6ec10b8f18bd4c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/oxygen-5.18.1.tar.xz">oxygen-5.18.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ebdda6ef0c9426dae1f09293ae5beefe9b03f8008416df43c1a0a9f20d568b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-browser-integration-5.18.1.tar.xz">plasma-browser-integration-5.18.1</a></td>
   <td align="right">152kB</td>
   <td><tt>683d56dc4f268f7614d3214d2f4629b83cac7e2178edcfe0e4619ffe6a5312eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-desktop-5.18.1.tar.xz">plasma-desktop-5.18.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>588b228dab889b13f2942f8682fdab1765bae97f2c057fec4277be21c37aa912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-integration-5.18.1.tar.xz">plasma-integration-5.18.1</a></td>
   <td align="right">56kB</td>
   <td><tt>e59363f8d0e965d5b66b1cfe8c5df188c0b9a8b6e989f4979987b6375b87837f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-nano-5.18.1.tar.xz">plasma-nano-5.18.1</a></td>
   <td align="right">30kB</td>
   <td><tt>d088ee4b3956d8338182abc619330b7469b9b44c11ea45012a8680e573331819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-nm-5.18.1.tar.xz">plasma-nm-5.18.1</a></td>
   <td align="right">806kB</td>
   <td><tt>91eb7ab7234b3d6e17e2dd97b8afe00cabf7255efe658f6c2c144271c60051f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-pa-5.18.1.tar.xz">plasma-pa-5.18.1</a></td>
   <td align="right">102kB</td>
   <td><tt>0dedb6999aeafebbabfa13ab0f873245e1a127ad7b67ce87724e44e388638e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-phone-components-5.18.1.tar.xz">plasma-phone-components-5.18.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>fc87919a11408cf21f9a3f3ad9f45bc87d304ebb3dcd80feec73ffca13cdd2da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-sdk-5.18.1.tar.xz">plasma-sdk-5.18.1</a></td>
   <td align="right">256kB</td>
   <td><tt>4fbf665715aac42cacb3a7b7053d2d441d176ebbdd5886872bfc25bf2c57e1ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-tests-5.18.1.tar.xz">plasma-tests-5.18.1</a></td>
   <td align="right">1kB</td>
   <td><tt>f3338efcc7e121ac4d63293e4054c635347dfd9f7284465848e8383bf0f7ee7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-thunderbolt-5.18.1.tar.xz">plasma-thunderbolt-5.18.1</a></td>
   <td align="right">49kB</td>
   <td><tt>7fce9817eed5ad620b321c0688c952e2f15b4ea1d51f24a44be49eb994d7acd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-vault-5.18.1.tar.xz">plasma-vault-5.18.1</a></td>
   <td align="right">133kB</td>
   <td><tt>493c4fae8df78f58efdef5ca1eba7a2ea894f343c2f12645111fb8aa1177632f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-workspace-5.18.1.tar.xz">plasma-workspace-5.18.1</a></td>
   <td align="right">5.4MB</td>
   <td><tt>0b095ea91c0cb214350f08ef1c53437db222d4018fe1c9da83ba3d71d8c27f52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plasma-workspace-wallpapers-5.18.1.tar.xz">plasma-workspace-wallpapers-5.18.1</a></td>
   <td align="right">35MB</td>
   <td><tt>8b4809e6847000510a50bf2e265bc75958f789e0a0cf3dc07c587637fa11afc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/plymouth-kcm-5.18.1.tar.xz">plymouth-kcm-5.18.1</a></td>
   <td align="right">40kB</td>
   <td><tt>b06044b153d1d59ac6ece149fe01f3423262e871b589a6b28f0058366a97cdb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/polkit-kde-agent-1-5.18.1.tar.xz">polkit-kde-agent-1-5.18.1</a></td>
   <td align="right">43kB</td>
   <td><tt>2ac53451bec7eca86ccc773df46b775d703a9a0cc50ee0fe64ad11185c3d36eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/powerdevil-5.18.1.tar.xz">powerdevil-5.18.1</a></td>
   <td align="right">583kB</td>
   <td><tt>d2e77be66becaa61d87da269aeaba7d6fcba2bc99276453b527b95c42209516c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/sddm-kcm-5.18.1.tar.xz">sddm-kcm-5.18.1</a></td>
   <td align="right">60kB</td>
   <td><tt>fdae8dce63fd607ef2fd39008dfc1d98ec9c9fecd38c855066e5e588334943e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/systemsettings-5.18.1.tar.xz">systemsettings-5.18.1</a></td>
   <td align="right">171kB</td>
   <td><tt>35783f8997b5a790784948ff2394d354d967719e28d03820abde483d9c207e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/user-manager-5.18.1.tar.xz">user-manager-5.18.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>605958201e4fc8a7a2dafdf02894acfbd8359c388bf466c54a603634b883825d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.1/xdg-desktop-portal-kde-5.18.1.tar.xz">xdg-desktop-portal-kde-5.18.1</a></td>
   <td align="right">63kB</td>
   <td><tt>6f0239e805704d7fc1f514c3e30646ebc9ad8b17201999b2754a6d3704b61ab0</tt></td>
</tr>

</table>
