
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/attica-5.70.0.tar.xz">attica-5.70.0</a></td>
   <td align="right">66kB</td>
   <td><tt>c85cca637457f6c771c7e4233f18f6de8bec2432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/baloo-5.70.0.tar.xz">baloo-5.70.0</a></td>
   <td align="right">266kB</td>
   <td><tt>e7d5de83b2c3fdb2b20a865d588098419e22f80d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/bluez-qt-5.70.0.tar.xz">bluez-qt-5.70.0</a></td>
   <td align="right">100kB</td>
   <td><tt>6a9cf5bc49c871db6e575eea273baf6a834a0bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/breeze-icons-5.70.0.tar.xz">breeze-icons-5.70.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>61f94ada88eeeba91895d0780203a3e8aeec76da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/extra-cmake-modules-5.70.0.tar.xz">extra-cmake-modules-5.70.0</a></td>
   <td align="right">335kB</td>
   <td><tt>04cfe9b72109498ef7e7460b1495f16cd5dfaf5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/frameworkintegration-5.70.0.tar.xz">frameworkintegration-5.70.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1e43ae8b30a65a06269e2c37cf9a06ef5b18414e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kactivities-5.70.0.tar.xz">kactivities-5.70.0</a></td>
   <td align="right">59kB</td>
   <td><tt>cd9db58136ddce10777812fd288bdc5c47a0d77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kactivities-stats-5.70.0.tar.xz">kactivities-stats-5.70.0</a></td>
   <td align="right">61kB</td>
   <td><tt>9f504810981609b5e2eba054e7ac4a444f423304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kapidox-5.70.0.tar.xz">kapidox-5.70.0</a></td>
   <td align="right">154kB</td>
   <td><tt>4953c45d35a7605e85f7c12ba68ce80e25b90aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/karchive-5.70.0.tar.xz">karchive-5.70.0</a></td>
   <td align="right">964kB</td>
   <td><tt>4b66d2fc80dbaf60f7178769e999d659456103f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kauth-5.70.0.tar.xz">kauth-5.70.0</a></td>
   <td align="right">84kB</td>
   <td><tt>8897e058a31ea75ec382660a28c8f739dc6a101c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kbookmarks-5.70.0.tar.xz">kbookmarks-5.70.0</a></td>
   <td align="right">118kB</td>
   <td><tt>ab26d4673b3256ddb746e64bbe9c621ec24acb52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kcalendarcore-5.70.0.tar.xz">kcalendarcore-5.70.0</a></td>
   <td align="right">248kB</td>
   <td><tt>29c4415301b248ad3d7aa7126bb7ffeea9986f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kcmutils-5.70.0.tar.xz">kcmutils-5.70.0</a></td>
   <td align="right">234kB</td>
   <td><tt>6da18913c52e41aeb55ebd314aedcab985c1446a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kcodecs-5.70.0.tar.xz">kcodecs-5.70.0</a></td>
   <td align="right">223kB</td>
   <td><tt>55c0246bcfbd1b18241ec144152b7f48a2770e84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kcompletion-5.70.0.tar.xz">kcompletion-5.70.0</a></td>
   <td align="right">117kB</td>
   <td><tt>586702d0d3e3eb0f8d0fe8e0bc77a28f42a3667f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kconfig-5.70.0.tar.xz">kconfig-5.70.0</a></td>
   <td align="right">254kB</td>
   <td><tt>8d078f063ed2711ac7bd9d81daa57b18f454e7c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kconfigwidgets-5.70.0.tar.xz">kconfigwidgets-5.70.0</a></td>
   <td align="right">372kB</td>
   <td><tt>aa3d5c520ad617b5fab55c8421a4d73ff8af726e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kcontacts-5.70.0.tar.xz">kcontacts-5.70.0</a></td>
   <td align="right">529kB</td>
   <td><tt>eff1f7c1d5d6acbab5cd49bdb7f0a6a46a46229f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kcoreaddons-5.70.0.tar.xz">kcoreaddons-5.70.0</a></td>
   <td align="right">372kB</td>
   <td><tt>4242f9e8ebfe57cac2bbceba7b026a5305623d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kcrash-5.70.0.tar.xz">kcrash-5.70.0</a></td>
   <td align="right">21kB</td>
   <td><tt>013426f2f1b5bf71ed10d0660d4f369aa9654fae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kdbusaddons-5.70.0.tar.xz">kdbusaddons-5.70.0</a></td>
   <td align="right">42kB</td>
   <td><tt>d249672de3cc898e148f37c9e533906da45a5f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kdeclarative-5.70.0.tar.xz">kdeclarative-5.70.0</a></td>
   <td align="right">171kB</td>
   <td><tt>d9aaac0a40ff2e1c0e92a47f74b2d25bec77fb64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kded-5.70.0.tar.xz">kded-5.70.0</a></td>
   <td align="right">36kB</td>
   <td><tt>4079da2a5a72f1b8f9bf58b77f7c024f8a312e03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kdesu-5.70.0.tar.xz">kdesu-5.70.0</a></td>
   <td align="right">46kB</td>
   <td><tt>8e08cfc908846d1cdcb575cad5c30f5c82b79bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kdnssd-5.70.0.tar.xz">kdnssd-5.70.0</a></td>
   <td align="right">58kB</td>
   <td><tt>48ea7cc9a885e977eabe2c90af865235bdc5afb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kdoctools-5.70.0.tar.xz">kdoctools-5.70.0</a></td>
   <td align="right">416kB</td>
   <td><tt>9c9547cbc4d8f3ae6fc967dfd65754ae51ac65c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kemoticons-5.70.0.tar.xz">kemoticons-5.70.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a98e2db524af7f5b5a832c9c9f3e314270719c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kfilemetadata-5.70.0.tar.xz">kfilemetadata-5.70.0</a></td>
   <td align="right">412kB</td>
   <td><tt>cf3c49d163ec50c4cd4e7cc318e98a12920c1d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kglobalaccel-5.70.0.tar.xz">kglobalaccel-5.70.0</a></td>
   <td align="right">82kB</td>
   <td><tt>87fc002e99de34fd3655d54bf1c333dc17bb0a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kguiaddons-5.70.0.tar.xz">kguiaddons-5.70.0</a></td>
   <td align="right">51kB</td>
   <td><tt>ab1b35d3b9f37217c461d0f9aba53082915b6482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kholidays-5.70.0.tar.xz">kholidays-5.70.0</a></td>
   <td align="right">216kB</td>
   <td><tt>02d7c8861b608057bb375d0e4db3ca18343df172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/ki18n-5.70.0.tar.xz">ki18n-5.70.0</a></td>
   <td align="right">577kB</td>
   <td><tt>36fad53526633883471da2861e52d1788f0972e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kiconthemes-5.70.0.tar.xz">kiconthemes-5.70.0</a></td>
   <td align="right">205kB</td>
   <td><tt>db53ab0f493e1523d0b07a9999ac58ae970b107d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kidletime-5.70.0.tar.xz">kidletime-5.70.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4654ab2cb8903c7e11d19ba929bca7f71900ef5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kimageformats-5.70.0.tar.xz">kimageformats-5.70.0</a></td>
   <td align="right">394kB</td>
   <td><tt>f582c6a90d5991eddf9ba15ba9c2739f74309228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kinit-5.70.0.tar.xz">kinit-5.70.0</a></td>
   <td align="right">116kB</td>
   <td><tt>835c28a0825603056bdddf981f11076a45be7c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kio-5.70.0.tar.xz">kio-5.70.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>20b4920882516c1abfacc4f6997a3879369d085a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kirigami2-5.70.0.tar.xz">kirigami2-5.70.0</a></td>
   <td align="right">251kB</td>
   <td><tt>91dc0ae7e993be7a861001c08bdf42a5e0db1f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kitemmodels-5.70.0.tar.xz">kitemmodels-5.70.0</a></td>
   <td align="right">390kB</td>
   <td><tt>b63351e3c0807499a99279ef5639cfe0821bb3d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kitemviews-5.70.0.tar.xz">kitemviews-5.70.0</a></td>
   <td align="right">76kB</td>
   <td><tt>d5b6f0485309d8141d8257a782833140a1f86fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kjobwidgets-5.70.0.tar.xz">kjobwidgets-5.70.0</a></td>
   <td align="right">86kB</td>
   <td><tt>5f8081486c3188119a97dac411153110406ac168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/knewstuff-5.70.0.tar.xz">knewstuff-5.70.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>84cfeb51db449ec93880ee2726db07ab47c8a10b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/knotifications-5.70.0.tar.xz">knotifications-5.70.0</a></td>
   <td align="right">116kB</td>
   <td><tt>79ec9a0ffad2724c1be0fad5a5c2f163f8075947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/knotifyconfig-5.70.0.tar.xz">knotifyconfig-5.70.0</a></td>
   <td align="right">83kB</td>
   <td><tt>eb22a4b10684f18987ab6e7201feae567162932f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kpackage-5.70.0.tar.xz">kpackage-5.70.0</a></td>
   <td align="right">134kB</td>
   <td><tt>cb0060589985567530a83f93b4a983f28e6c62d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kparts-5.70.0.tar.xz">kparts-5.70.0</a></td>
   <td align="right">183kB</td>
   <td><tt>e218351158028664750bd59975de87e6917cf63e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kpeople-5.70.0.tar.xz">kpeople-5.70.0</a></td>
   <td align="right">60kB</td>
   <td><tt>3cac3b5420420c2154899e01dee303b31253dba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kplotting-5.70.0.tar.xz">kplotting-5.70.0</a></td>
   <td align="right">32kB</td>
   <td><tt>59137be01d5334d535b0642c33ffe59c1c53d2db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kpty-5.70.0.tar.xz">kpty-5.70.0</a></td>
   <td align="right">56kB</td>
   <td><tt>0ad6ff333ad04c82b331a51fa849b73a595af04d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kquickcharts-5.70.0.tar.xz">kquickcharts-5.70.0</a></td>
   <td align="right">94kB</td>
   <td><tt>d0fd26ad97c8cf5741776189613b0d52ae2cef97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/krunner-5.70.0.tar.xz">krunner-5.70.0</a></td>
   <td align="right">62kB</td>
   <td><tt>6e87027add43803490de9bbacefff498b71ad811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kservice-5.70.0.tar.xz">kservice-5.70.0</a></td>
   <td align="right">252kB</td>
   <td><tt>cce6e0dbb6afd263b437463cfcd727031cc26679</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/ktexteditor-5.70.0.tar.xz">ktexteditor-5.70.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f7f565a0c826d0d80490682de250055bb5335979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/ktextwidgets-5.70.0.tar.xz">ktextwidgets-5.70.0</a></td>
   <td align="right">313kB</td>
   <td><tt>04e44961d44f789f3028749da003f076198be6ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kunitconversion-5.70.0.tar.xz">kunitconversion-5.70.0</a></td>
   <td align="right">821kB</td>
   <td><tt>9910e9b981b0d6481e43e16bb29abc45465e75a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kwallet-5.70.0.tar.xz">kwallet-5.70.0</a></td>
   <td align="right">288kB</td>
   <td><tt>e15c9af0310febfb09658c9c0feb5a0568e0b608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kwayland-5.70.0.tar.xz">kwayland-5.70.0</a></td>
   <td align="right">339kB</td>
   <td><tt>7cf6ad6f5fdd2909f348469098d81580048e0a95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kwidgetsaddons-5.70.0.tar.xz">kwidgetsaddons-5.70.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>96578804ba98e5f573bc7f70040a8c19c1560fed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kwindowsystem-5.70.0.tar.xz">kwindowsystem-5.70.0</a></td>
   <td align="right">175kB</td>
   <td><tt>2d4bfc9061998a4b1affc598a94fc938cf76f622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kxmlgui-5.70.0.tar.xz">kxmlgui-5.70.0</a></td>
   <td align="right">837kB</td>
   <td><tt>1323f7d8db8462d40e657b590df802e8fec5d0aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kxmlrpcclient-5.70.0.tar.xz">kxmlrpcclient-5.70.0</a></td>
   <td align="right">29kB</td>
   <td><tt>a4f2f7d6e949c18479457656737da2fa731a0e2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/modemmanager-qt-5.70.0.tar.xz">modemmanager-qt-5.70.0</a></td>
   <td align="right">111kB</td>
   <td><tt>dd25e5a82428613a5fde8fb74dc237ed70b73430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/networkmanager-qt-5.70.0.tar.xz">networkmanager-qt-5.70.0</a></td>
   <td align="right">191kB</td>
   <td><tt>578d2fcb46ce7f75e9806b0e82f9a0819d05be01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/oxygen-icons5-5.70.0.tar.xz">oxygen-icons5-5.70.0</a></td>
   <td align="right">225MB</td>
   <td><tt>28edb26355b47777227337ab4efe645b7d739c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/plasma-framework-5.70.0.tar.xz">plasma-framework-5.70.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>09a0c4d8a461c0ba81caf854af91cb676879b3d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/prison-5.70.0.tar.xz">prison-5.70.0</a></td>
   <td align="right">40kB</td>
   <td><tt>6bdcda87a896a864432d6d1611a8ef4e6498e283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/purpose-5.70.0.tar.xz">purpose-5.70.0</a></td>
   <td align="right">149kB</td>
   <td><tt>1bdef5d72899e7cf6abf8ea5c7f6b686a67f0158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/qqc2-desktop-style-5.70.0.tar.xz">qqc2-desktop-style-5.70.0</a></td>
   <td align="right">57kB</td>
   <td><tt>7e42010b5aba1f45f1cd70b6411604397b8e88d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/solid-5.70.0.tar.xz">solid-5.70.0</a></td>
   <td align="right">261kB</td>
   <td><tt>03e38056edb59640d4fadd086acf0e802984046a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/sonnet-5.70.0.tar.xz">sonnet-5.70.0</a></td>
   <td align="right">285kB</td>
   <td><tt>f19a11eb2970a68e358bbace7e391e96bb3e9914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/syndication-5.70.0.tar.xz">syndication-5.70.0</a></td>
   <td align="right">496kB</td>
   <td><tt>3037c08014bfece53583a015c66b50835d9e6d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/syntax-highlighting-5.70.0.tar.xz">syntax-highlighting-5.70.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d96e66bd038c0a4b6d0c609020966fc0acd4234a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/threadweaver-5.70.0.tar.xz">threadweaver-5.70.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7fdab8a1b3daab8bf1f6f94212f4310e1f5410e6</tt></td>
</tr>

</table>
