<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/baloo-5.0.95.tar.xz">baloo-5.0.95</a></td>
   <td align="right">226kB</td>
   <td><tt>4d1fd45ed5d06aca86f02cff44c6be5cbf0d890e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/breeze-5.0.95.tar.xz">breeze-5.0.95</a></td>
   <td align="right">15MB</td>
   <td><tt>ecb8cf6967f356e3a55a715a5b45ca37b8c74743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kde-cli-tools-5.0.95.tar.xz">kde-cli-tools-5.0.95</a></td>
   <td align="right">454kB</td>
   <td><tt>3057393612a3ec79f55d822964f274e7dc3efdea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kdeplasma-addons-5.0.95.tar.xz">kdeplasma-addons-5.0.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3c9b02ab3a1d191a9be16641e182e77c8fe3720e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kfilemetadata-5.0.95.tar.xz">kfilemetadata-5.0.95</a></td>
   <td align="right">82kB</td>
   <td><tt>b821e59dade3f10e9998a0f79784e290a31dc89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/khelpcenter-5.0.95.tar.xz">khelpcenter-5.0.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2bb596db313913d6859d4232b1e1de6613fd3d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/khotkeys-5.0.95.tar.xz">khotkeys-5.0.95</a></td>
   <td align="right">724kB</td>
   <td><tt>145ef1b195f17804cad68a1099598051012a4990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kinfocenter-5.0.95.tar.xz">kinfocenter-5.0.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>146a574d815c3fa1e33a50b81a0d4d40626c381a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kio-extras-5.0.95.tar.xz">kio-extras-5.0.95</a></td>
   <td align="right">541kB</td>
   <td><tt>3d735caf3d5cb45fc56b4e708cf1ecb702aa3463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kmenuedit-5.0.95.tar.xz">kmenuedit-5.0.95</a></td>
   <td align="right">333kB</td>
   <td><tt>c09f086bfeb28ca6e2d31ef0bbfa4450fccb9009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/ksysguard-5.0.95.tar.xz">ksysguard-5.0.95</a></td>
   <td align="right">428kB</td>
   <td><tt>69616494e685324e00b39d0c42399410c83472e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kwayland-5.0.95.tar.xz">kwayland-5.0.95</a></td>
   <td align="right">58kB</td>
   <td><tt>4e3e0c7d3ebb511c44e566fa42afcd01b0d5c825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kwin-5.0.95.tar.xz">kwin-5.0.95</a></td>
   <td align="right">3.6MB</td>
   <td><tt>8c63b8490743bccc0c1befd40b9e1dcd4cb03868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/kwrited-5.0.95.tar.xz">kwrited-5.0.95</a></td>
   <td align="right">18kB</td>
   <td><tt>08e0bba6922b18e43355724a19f181beff02dc68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/libkscreen-5.0.95.tar.xz">libkscreen-5.0.95</a></td>
   <td align="right">59kB</td>
   <td><tt>e50b0857c425df01c021aa383c29ccc21ef1f47b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/libksysguard-5.0.95.tar.xz">libksysguard-5.0.95</a></td>
   <td align="right">531kB</td>
   <td><tt>e1a52f74196d2f117e2eb0fc54f3d0d75963b683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/libmm-qt-5.0.95.tar.xz">libmm-qt-5.0.95</a></td>
   <td align="right">74kB</td>
   <td><tt>4ff6e256dd0f84d486f0bf1ceef33d787126395e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/libnm-qt-5.0.95.tar.xz">libnm-qt-5.0.95</a></td>
   <td align="right">138kB</td>
   <td><tt>9a61374be670f6862470ffd8b15265dd2f9c725f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/milou-5.0.95.tar.xz">milou-5.0.95</a></td>
   <td align="right">47kB</td>
   <td><tt>6bc702bc6f55d9fbfcbad01819f3d08d148a9bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/oxygen-5.0.95.tar.xz">oxygen-5.0.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>d995644fc02e3599c05ad8f0c0fe75f56ecca1f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/oxygen-fonts-5.0.95.tar.xz">oxygen-fonts-5.0.95</a></td>
   <td align="right">157kB</td>
   <td><tt>c466e09d68fea46525ff9d59cff28b7bffd2ec4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/plasma-desktop-5.0.95.tar.xz">plasma-desktop-5.0.95</a></td>
   <td align="right">5.7MB</td>
   <td><tt>87d120c1d2031cc66036a7d0a4391d9a82fdb63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/plasma-nm-5.0.95.tar.xz">plasma-nm-5.0.95</a></td>
   <td align="right">473kB</td>
   <td><tt>d1ab42b56fb55e1c0bc15793bd3e6c6ecf5f0cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/plasma-workspace-5.0.95.tar.xz">plasma-workspace-5.0.95</a></td>
   <td align="right">6.0MB</td>
   <td><tt>7c76c5c1644320d071c004138cbab2e574c2e934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/plasma-workspace-wallpapers-5.0.95.tar.xz">plasma-workspace-wallpapers-5.0.95</a></td>
   <td align="right">27MB</td>
   <td><tt>cb0f28c3ba67ab075ecdd8355ecbf8eabfab2417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/powerdevil-5.0.95.tar.xz">powerdevil-5.0.95</a></td>
   <td align="right">408kB</td>
   <td><tt>68916dab32a9a24044cb921d48a678046fe74a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.0.95/systemsettings-5.0.95.tar.xz">systemsettings-5.0.95</a></td>
   <td align="right">131kB</td>
   <td><tt>f7d052ef62408b0f9a0a2b41d1fa5a1f77537086</tt></td>
</tr>

</table>
