
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/attica-5.10.0.tar.xz">attica-5.10.0</a></td>
   <td align="right">58kB</td>
   <td><tt>0931f3484fdb41c5322ed80dac7f56dd1854073c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/extra-cmake-modules-5.10.0.tar.xz">extra-cmake-modules-5.10.0</a></td>
   <td align="right">127kB</td>
   <td><tt>3ad6dd4cbf92d6b2285a2cf5f42d60b41a270729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/frameworkintegration-5.10.0.tar.xz">frameworkintegration-5.10.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c2d1e0dca9c2edb8f7d8b9c7b5d8a9afc19c46f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kactivities-5.10.0.tar.xz">kactivities-5.10.0</a></td>
   <td align="right">141kB</td>
   <td><tt>fe02acf824db792bc6e06e6f02df79c6781705ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kapidox-5.10.0.tar.xz">kapidox-5.10.0</a></td>
   <td align="right">127kB</td>
   <td><tt>12d033918357d410c7565661d617fed1c53048b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/karchive-5.10.0.tar.xz">karchive-5.10.0</a></td>
   <td align="right">105kB</td>
   <td><tt>a38c1561432c39bb93b3f9564e497b46cab4b0cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kauth-5.10.0.tar.xz">kauth-5.10.0</a></td>
   <td align="right">79kB</td>
   <td><tt>6e8645a32b80e8cdf52cbfae126d8cef35feb67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kbookmarks-5.10.0.tar.xz">kbookmarks-5.10.0</a></td>
   <td align="right">112kB</td>
   <td><tt>587e4dcb7325d81d80b023d0027fe99f615cb313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kcmutils-5.10.0.tar.xz">kcmutils-5.10.0</a></td>
   <td align="right">229kB</td>
   <td><tt>d2ab2f2be7aa99cf5d3628790f480799eaee96bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kcodecs-5.10.0.tar.xz">kcodecs-5.10.0</a></td>
   <td align="right">217kB</td>
   <td><tt>7fd9352b1a434077ca2cd537c9d5de19f4f9824c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kcompletion-5.10.0.tar.xz">kcompletion-5.10.0</a></td>
   <td align="right">113kB</td>
   <td><tt>9cc59e3ce6ee96ff907ca2bb22d08da83afda4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kconfig-5.10.0.tar.xz">kconfig-5.10.0</a></td>
   <td align="right">213kB</td>
   <td><tt>d949466ac50c290e4425cc17f7841d753ba4bc60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kconfigwidgets-5.10.0.tar.xz">kconfigwidgets-5.10.0</a></td>
   <td align="right">350kB</td>
   <td><tt>bab9c9dedf45e86f9bf60b5575781fd12715a7d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kcoreaddons-5.10.0.tar.xz">kcoreaddons-5.10.0</a></td>
   <td align="right">294kB</td>
   <td><tt>2df5ef5e710c902d16a860c733b7bdba6c19cae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kcrash-5.10.0.tar.xz">kcrash-5.10.0</a></td>
   <td align="right">19kB</td>
   <td><tt>29e2193b2172ef04e20feb3affa67dc00d6c276f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kdbusaddons-5.10.0.tar.xz">kdbusaddons-5.10.0</a></td>
   <td align="right">32kB</td>
   <td><tt>010a7d272f8c8c3b917027677cadc70632372c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kdeclarative-5.10.0.tar.xz">kdeclarative-5.10.0</a></td>
   <td align="right">155kB</td>
   <td><tt>bb854ce20b3bab64e07928c65234f32f995e5b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kded-5.10.0.tar.xz">kded-5.10.0</a></td>
   <td align="right">33kB</td>
   <td><tt>2025476f3ab8cce7ac3661062e463c9af5ff0ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kdesignerplugin-5.10.0.tar.xz">kdesignerplugin-5.10.0</a></td>
   <td align="right">84kB</td>
   <td><tt>184b7e59751a03f760db2b6e39f5751e42204d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kdesu-5.10.0.tar.xz">kdesu-5.10.0</a></td>
   <td align="right">42kB</td>
   <td><tt>7c29d3ee0d5c55fb4e5aac62ec88cdd77350aac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kdewebkit-5.10.0.tar.xz">kdewebkit-5.10.0</a></td>
   <td align="right">28kB</td>
   <td><tt>5f1a122300c6a0794939b3f4a21ef2954c049460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kdnssd-5.10.0.tar.xz">kdnssd-5.10.0</a></td>
   <td align="right">55kB</td>
   <td><tt>2003359d675200b0d70777d297e896e196c7e742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kdoctools-5.10.0.tar.xz">kdoctools-5.10.0</a></td>
   <td align="right">396kB</td>
   <td><tt>27d0bf5a8280eb22f48444bda691327e9d71bcdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kemoticons-5.10.0.tar.xz">kemoticons-5.10.0</a></td>
   <td align="right">71kB</td>
   <td><tt>d47dc8faf8a0700990daa65b58560c93ed751d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kglobalaccel-5.10.0.tar.xz">kglobalaccel-5.10.0</a></td>
   <td align="right">83kB</td>
   <td><tt>0643de54b6cde2956cc3758a4be041e14427da37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kguiaddons-5.10.0.tar.xz">kguiaddons-5.10.0</a></td>
   <td align="right">38kB</td>
   <td><tt>40d42c5b8404005e9b5ab23a8b37e568a35904c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/ki18n-5.10.0.tar.xz">ki18n-5.10.0</a></td>
   <td align="right">572kB</td>
   <td><tt>a8b1021be261d10de39f2a37bed278f159098705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kiconthemes-5.10.0.tar.xz">kiconthemes-5.10.0</a></td>
   <td align="right">190kB</td>
   <td><tt>f630c0e8c71c62bb81d3d9a76c97fe553c5038c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kidletime-5.10.0.tar.xz">kidletime-5.10.0</a></td>
   <td align="right">22kB</td>
   <td><tt>b7aa78d9f7ccde8517b18af8c576a883c69b9de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kimageformats-5.10.0.tar.xz">kimageformats-5.10.0</a></td>
   <td align="right">91kB</td>
   <td><tt>3228f3a9b98c62a1b5992bc9910a0d8068d900bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kinit-5.10.0.tar.xz">kinit-5.10.0</a></td>
   <td align="right">113kB</td>
   <td><tt>b6a2ae5c669b4a8539f15ca6bd7c455131ef35da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kio-5.10.0.tar.xz">kio-5.10.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2c8a2728ed1de782ea45782bc1bec80a8ad5eafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kitemmodels-5.10.0.tar.xz">kitemmodels-5.10.0</a></td>
   <td align="right">365kB</td>
   <td><tt>713f25e88750dc65f94269b86f9cb0315c3aa30a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kitemviews-5.10.0.tar.xz">kitemviews-5.10.0</a></td>
   <td align="right">72kB</td>
   <td><tt>8aa22f2edbfe475aee3fab2edf3af466784e187d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kjobwidgets-5.10.0.tar.xz">kjobwidgets-5.10.0</a></td>
   <td align="right">86kB</td>
   <td><tt>9b9506feaea8a999bd86188105d142b1f1966328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/knewstuff-5.10.0.tar.xz">knewstuff-5.10.0</a></td>
   <td align="right">818kB</td>
   <td><tt>a5e80a8b73867a52739e821071ffe8a39327ff83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/knotifications-5.10.0.tar.xz">knotifications-5.10.0</a></td>
   <td align="right">89kB</td>
   <td><tt>49a1926c5a17e5c4ce5dbd2ddb54da091ad4914f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/knotifyconfig-5.10.0.tar.xz">knotifyconfig-5.10.0</a></td>
   <td align="right">79kB</td>
   <td><tt>9f1ecbf12a3903d5cd05ffdcf9b3d69b9ef1b25e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kpackage-5.10.0.tar.xz">kpackage-5.10.0</a></td>
   <td align="right">94kB</td>
   <td><tt>2989b40c32d4b713bf088a71b0bc7d2c8e4955b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kparts-5.10.0.tar.xz">kparts-5.10.0</a></td>
   <td align="right">150kB</td>
   <td><tt>1bb40f81c284d6a6231555034b41b1d895a857b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kpeople-5.10.0.tar.xz">kpeople-5.10.0</a></td>
   <td align="right">54kB</td>
   <td><tt>94437c7b062142b68bafbf3daabafa19f5481749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kplotting-5.10.0.tar.xz">kplotting-5.10.0</a></td>
   <td align="right">28kB</td>
   <td><tt>638705bf6069945e7cbae345039b2c4ea9d4c7c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kpty-5.10.0.tar.xz">kpty-5.10.0</a></td>
   <td align="right">55kB</td>
   <td><tt>28719ef0f3fb3634d2335255e2fc2e9f7a4a778d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kservice-5.10.0.tar.xz">kservice-5.10.0</a></td>
   <td align="right">256kB</td>
   <td><tt>4dbed227cfd4ba36be240e7a704b97fd2e343b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/ktexteditor-5.10.0.tar.xz">ktexteditor-5.10.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6c3c6c6db82a21901cafedd494e96e081b0b80e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/ktextwidgets-5.10.0.tar.xz">ktextwidgets-5.10.0</a></td>
   <td align="right">298kB</td>
   <td><tt>013ba713261964e7d3f27060ea5401685be5fcac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kunitconversion-5.10.0.tar.xz">kunitconversion-5.10.0</a></td>
   <td align="right">604kB</td>
   <td><tt>1a7c7222b502f20f25b5b437f9ec1fd2e8964ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kwallet-5.10.0.tar.xz">kwallet-5.10.0</a></td>
   <td align="right">261kB</td>
   <td><tt>a23e1569dbd21ebe11ba0b4213db2de88a9251d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kwidgetsaddons-5.10.0.tar.xz">kwidgetsaddons-5.10.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3f5a3f7061ab4f5dd52e4822e8af72b946a94189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kwindowsystem-5.10.0.tar.xz">kwindowsystem-5.10.0</a></td>
   <td align="right">156kB</td>
   <td><tt>4b2a8b28317989f6f24ddec9b3abe38351932ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kxmlgui-5.10.0.tar.xz">kxmlgui-5.10.0</a></td>
   <td align="right">842kB</td>
   <td><tt>85079d3cc29b6843ed39ac491acc3ce25d01e100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/kxmlrpcclient-5.10.0.tar.xz">kxmlrpcclient-5.10.0</a></td>
   <td align="right">19kB</td>
   <td><tt>c9b33b611f769753e565538a22a16eb429016d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/modemmanager-qt-5.10.0.tar.xz">modemmanager-qt-5.10.0</a></td>
   <td align="right">95kB</td>
   <td><tt>4ba2d8183be6faf78968ca84fc31df5e3a1380d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/networkmanager-qt-5.10.0.tar.xz">networkmanager-qt-5.10.0</a></td>
   <td align="right">149kB</td>
   <td><tt>823ef7eaab8803913d2d234ae771cb5774cc1f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/plasma-framework-5.10.0.tar.xz">plasma-framework-5.10.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>30e3296cef0ac4918db341758a3fa3f13e7fe7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/solid-5.10.0.tar.xz">solid-5.10.0</a></td>
   <td align="right">258kB</td>
   <td><tt>42136192e1c34aca23baa9c6c2b50edb2259205b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/sonnet-5.10.0.tar.xz">sonnet-5.10.0</a></td>
   <td align="right">267kB</td>
   <td><tt>47257344bb02f6a5035322d6078b07246255ac05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.10/threadweaver-5.10.0.tar.xz">threadweaver-5.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>870fd02cf41e7b3a866d84c175c0a4012fbccb19</tt></td>
</tr>

</table>
