<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/bluedevil-5.17.2.tar.xz">bluedevil-5.17.2</a></td>
   <td align="right">156kB</td>
   <td><tt>05e22ff2e719ddafd1a18e0dd1766743f0879aab8d7ba3f366a6cc407e00c697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/breeze-5.17.2.tar.xz">breeze-5.17.2</a></td>
   <td align="right">15MB</td>
   <td><tt>042d41c0b12afa47a0fe6fe72cb23eb2261312955307ab905ba55201d814b095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/breeze-grub-5.17.2.tar.xz">breeze-grub-5.17.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2a455c419a872a8b862fdc55fd171943b14ea8b0e6e10a9e1efadf2ddd8389a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/breeze-gtk-5.17.2.tar.xz">breeze-gtk-5.17.2</a></td>
   <td align="right">43kB</td>
   <td><tt>d89fd00df51d8631d14b99138393a9daf679599ade1d1b299407dc96c1640c02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/breeze-plymouth-5.17.2.tar.xz">breeze-plymouth-5.17.2</a></td>
   <td align="right">103kB</td>
   <td><tt>069a98689036d5d0e9dcf34e133bb92ce9165ec4160b50fe2026df127fda21f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/discover-5.17.2.tar.xz">discover-5.17.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>e9740b8bfe36ee7e76e8eeaa2ca659552bc358be07eec66f4ede9bcd44e5b5ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/drkonqi-5.17.2.tar.xz">drkonqi-5.17.2</a></td>
   <td align="right">722kB</td>
   <td><tt>a133ab23403e4f92844769f842afbe1116cda7fd15f0588f1fe610f6fc3f2ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kactivitymanagerd-5.17.2.tar.xz">kactivitymanagerd-5.17.2</a></td>
   <td align="right">84kB</td>
   <td><tt>74dd669315cf41fbd79ec5bd209bdef9955263c63ec4c55c5ab7402a35e49340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kde-cli-tools-5.17.2.tar.xz">kde-cli-tools-5.17.2</a></td>
   <td align="right">577kB</td>
   <td><tt>fb8a0600b06d6f1c663403d26f5f395b94984bb912078062b426f8924880083c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kdecoration-5.17.2.tar.xz">kdecoration-5.17.2</a></td>
   <td align="right">42kB</td>
   <td><tt>80842366805d38557aac93c747e3a20bcc778dfd41b7fd2fecc96159cb906c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kde-gtk-config-5.17.2.tar.xz">kde-gtk-config-5.17.2</a></td>
   <td align="right">150kB</td>
   <td><tt>81f678af545be51212160ce9b824b282bb9f7626679a4b540b935bf4d606a1ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kdeplasma-addons-5.17.2.tar.xz">kdeplasma-addons-5.17.2</a></td>
   <td align="right">592kB</td>
   <td><tt>05946299e2a58d923eb0667fcdb0c19ecd45ed4a242b364ac1f040bb770b5a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kgamma5-5.17.2.tar.xz">kgamma5-5.17.2</a></td>
   <td align="right">78kB</td>
   <td><tt>fca731f2abc82566ec5f15d697171de00efe74c0b44a414787724246bd5adf5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/khotkeys-5.17.2.tar.xz">khotkeys-5.17.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ecd01c235e9895d1e7b8cbff8baa6ff53a99ae2d8bc2c4c10ef06ac15e47b582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kinfocenter-5.17.2.tar.xz">kinfocenter-5.17.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1691df791a609572fcf09f952b98baff0a51d950088e25e212710aaff9dc4e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kmenuedit-5.17.2.tar.xz">kmenuedit-5.17.2</a></td>
   <td align="right">796kB</td>
   <td><tt>a99e4985ce2591d8d7f6b444f323ca709f68caa3bee334fd8e5ca6afafc7503f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kscreen-5.17.2.tar.xz">kscreen-5.17.2</a></td>
   <td align="right">97kB</td>
   <td><tt>0c7ad59ebf89cbf74a748aac6c7d08007b48170d1c18affbf2b230809e487957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kscreenlocker-5.17.2.tar.xz">kscreenlocker-5.17.2</a></td>
   <td align="right">120kB</td>
   <td><tt>a116794a29ce44cd17855b271a988d9a70138fda286906a161cb4dde4fb9e357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/ksshaskpass-5.17.2.tar.xz">ksshaskpass-5.17.2</a></td>
   <td align="right">20kB</td>
   <td><tt>a20aac7ba5c1df6c72fa9cfc9573698c9c54e8f8f6b4727f3a50ac5f0faf4093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/ksysguard-5.17.2.tar.xz">ksysguard-5.17.2</a></td>
   <td align="right">502kB</td>
   <td><tt>8dab9531d13ec4a00c3a65b08771433ced0b5ed636beab2f9830b372d9f4fc12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kwallet-pam-5.17.2.tar.xz">kwallet-pam-5.17.2</a></td>
   <td align="right">19kB</td>
   <td><tt>92d94286e3c4316851f1a43010ce4dc813b6e8f74eb990849f0fa392340fdf7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kwayland-integration-5.17.2.tar.xz">kwayland-integration-5.17.2</a></td>
   <td align="right">19kB</td>
   <td><tt>27740c241d7b14ce4ac9d7b999d8ed75011a68fdfc8f2a3df662d6078ed123a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kwin-5.17.2.tar.xz">kwin-5.17.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>987a6035b85497193996d3917421012ac16451d4c935e0d1fef014d8cfd57db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/kwrited-5.17.2.tar.xz">kwrited-5.17.2</a></td>
   <td align="right">19kB</td>
   <td><tt>d57525305db38cb202cf87eca19b0893a0397fb6c19bf9736591d522731d1582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/libkscreen-5.17.2.tar.xz">libkscreen-5.17.2</a></td>
   <td align="right">80kB</td>
   <td><tt>7dbd01b18b8e8e7f84799cb4ee558cf82db840a716bd209b53ae32d018ffd4f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/libksysguard-5.17.2.tar.xz">libksysguard-5.17.2</a></td>
   <td align="right">592kB</td>
   <td><tt>7d4fa8ca098586d48e96e15a35183df9cd1060f2a0ec49f66423600e53355478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/milou-5.17.2.tar.xz">milou-5.17.2</a></td>
   <td align="right">61kB</td>
   <td><tt>94fb7cb59c4aef514ec004f83ea05d90439098d75b43e525b7035b4f61c3d0c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/oxygen-5.17.2.tar.xz">oxygen-5.17.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ca7f57ad8bd14b452041e55aa05770d6eff9b1230a5e48e5d6e624762f8645f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-browser-integration-5.17.2.tar.xz">plasma-browser-integration-5.17.2</a></td>
   <td align="right">142kB</td>
   <td><tt>e95fcc00f27628119d196ad681f48b882379aa38e3f897dc003909a16aad69a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-desktop-5.17.2.tar.xz">plasma-desktop-5.17.2</a></td>
   <td align="right">9.0MB</td>
   <td><tt>9ab540c31240f97495500a50f3ecc052a894ea7607e125204e85d75a52d6d4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-integration-5.17.2.tar.xz">plasma-integration-5.17.2</a></td>
   <td align="right">54kB</td>
   <td><tt>3a03ca65098dee856b5e2a75da63d07872da9e72b0148746109c108e4917e993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-nm-5.17.2.tar.xz">plasma-nm-5.17.2</a></td>
   <td align="right">794kB</td>
   <td><tt>d477db02b2db43ef2b43b73f8f8857388533188ee08ae10a48cbe7c214d4bf70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-pa-5.17.2.tar.xz">plasma-pa-5.17.2</a></td>
   <td align="right">101kB</td>
   <td><tt>6c78e852c3eb665000fdfac7901fb568d565552aaace4219c4a051d29b6e8d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-sdk-5.17.2.tar.xz">plasma-sdk-5.17.2</a></td>
   <td align="right">251kB</td>
   <td><tt>59f8351567242e05c8f435af57621fe12d3e60628b4b0347e138fc9a60bd10b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-tests-5.17.2.tar.xz">plasma-tests-5.17.2</a></td>
   <td align="right">1kB</td>
   <td><tt>b76a4369e19a83a0162a2e9185258efa0f026cf0cdc995c2aadd33ae62f1327b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-thunderbolt-5.17.2.tar.xz">plasma-thunderbolt-5.17.2</a></td>
   <td align="right">45kB</td>
   <td><tt>0fd2dc9220cfcb9ec46faf6423a694caac24a5ec98f1fe34172c47f0db093255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-vault-5.17.2.tar.xz">plasma-vault-5.17.2</a></td>
   <td align="right">126kB</td>
   <td><tt>38c6d6c6c3ea40ff81b5529c50fdc6da30111ab287f04163891032ca86beb87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-workspace-5.17.2.tar.xz">plasma-workspace-5.17.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>02a56bcd2c771b359bf9fdd216094f1aa74b95221ff87960776aae18012a0d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plasma-workspace-wallpapers-5.17.2.tar.xz">plasma-workspace-wallpapers-5.17.2</a></td>
   <td align="right">32MB</td>
   <td><tt>fd35ccae41085091d8898b5d119004ab96a799cee9cf8faa838d8baa7df0333e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/plymouth-kcm-5.17.2.tar.xz">plymouth-kcm-5.17.2</a></td>
   <td align="right">38kB</td>
   <td><tt>3cc0c6208fe32506e90cc7465d22fef888e81b54bb9f6bfadad9639e9c88801c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/polkit-kde-agent-1-5.17.2.tar.xz">polkit-kde-agent-1-5.17.2</a></td>
   <td align="right">42kB</td>
   <td><tt>bae0cb8c6281774fb78602d950ef242cfd578472c60e5c5ca062900afdff75a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/powerdevil-5.17.2.tar.xz">powerdevil-5.17.2</a></td>
   <td align="right">580kB</td>
   <td><tt>303386cc438407200da22cbc14a53e04174b6f0bae933bc43f0d69ac3bdf7623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/sddm-kcm-5.17.2.tar.xz">sddm-kcm-5.17.2</a></td>
   <td align="right">57kB</td>
   <td><tt>29afa561cdd157761d662f3e52226e7b6d8ab6c5fd67bbde073c226ac396e9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/systemsettings-5.17.2.tar.xz">systemsettings-5.17.2</a></td>
   <td align="right">168kB</td>
   <td><tt>9a195e8132df84b3ea7da3f864feee81cfe175fddd0bbd4822ca8cd9a5c2979e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/user-manager-5.17.2.tar.xz">user-manager-5.17.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a930810ca3f75d6aad22d0071da20236c638e2791b017d0e594b2a687952c271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.2/xdg-desktop-portal-kde-5.17.2.tar.xz">xdg-desktop-portal-kde-5.17.2</a></td>
   <td align="right">61kB</td>
   <td><tt>dccbf1022c09380fa8081fb218f970db6e0fc6c437c17af176715b825b5211ee</tt></td>
</tr>

</table>
