
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/attica-5.86.0.tar.xz">attica-5.86.0</a></td>
   <td align="right">65kB</td>
   <td><tt>0e7380c8e03d7f356877405bf02519931225ab65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/baloo-5.86.0.tar.xz">baloo-5.86.0</a></td>
   <td align="right">275kB</td>
   <td><tt>31c71273be9fbbfec8a13f7e95c8e7fe762c3d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/bluez-qt-5.86.0.tar.xz">bluez-qt-5.86.0</a></td>
   <td align="right">99kB</td>
   <td><tt>cad2d6250ac8d00552208bf5305b6576e0aef717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/breeze-icons-5.86.0.tar.xz">breeze-icons-5.86.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>217a01747ad40610401c9669c3630c755a1dd985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/extra-cmake-modules-5.86.0.tar.xz">extra-cmake-modules-5.86.0</a></td>
   <td align="right">310kB</td>
   <td><tt>2bb6269a5f763f8db1ce23ed192d751b7145f7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/frameworkintegration-5.86.0.tar.xz">frameworkintegration-5.86.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8c6e9b68dff0ccb027b12735ff8595c152f2abcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kactivities-5.86.0.tar.xz">kactivities-5.86.0</a></td>
   <td align="right">69kB</td>
   <td><tt>b611ed836bd02d16e43e75433fa24607bcf62de1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kactivities-stats-5.86.0.tar.xz">kactivities-stats-5.86.0</a></td>
   <td align="right">80kB</td>
   <td><tt>fd36b84b1868d01847efcf258a5dbd6f9dc91bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kapidox-5.86.0.tar.xz">kapidox-5.86.0</a></td>
   <td align="right">190kB</td>
   <td><tt>1a99e18b99413b9e870e920c9a095ae05c7f1b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/karchive-5.86.0.tar.xz">karchive-5.86.0</a></td>
   <td align="right">962kB</td>
   <td><tt>103d5030fd9556f4ee8875b8abb39a1ec52c440e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kauth-5.86.0.tar.xz">kauth-5.86.0</a></td>
   <td align="right">86kB</td>
   <td><tt>e370cfd82b74f512f8638a130b652a77add306f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kbookmarks-5.86.0.tar.xz">kbookmarks-5.86.0</a></td>
   <td align="right">124kB</td>
   <td><tt>c954844ed5ad8898cd0ec55cc2457d9f77f4cd90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kcalendarcore-5.86.0.tar.xz">kcalendarcore-5.86.0</a></td>
   <td align="right">254kB</td>
   <td><tt>e74d1cf2335c8d7e453ad96065e1e5d0ff8448a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kcmutils-5.86.0.tar.xz">kcmutils-5.86.0</a></td>
   <td align="right">160kB</td>
   <td><tt>9f01aabcb68fd6bf0da264f635dd13c9c54b3dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kcodecs-5.86.0.tar.xz">kcodecs-5.86.0</a></td>
   <td align="right">229kB</td>
   <td><tt>74783a5f6052143eabebae0ee207df611bb1c28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kcompletion-5.86.0.tar.xz">kcompletion-5.86.0</a></td>
   <td align="right">119kB</td>
   <td><tt>621c58c5dd0c39da9ac39f6c83df4c6bda768735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kconfig-5.86.0.tar.xz">kconfig-5.86.0</a></td>
   <td align="right">264kB</td>
   <td><tt>74549e3206908d49454aa973b06e9eb3c0185aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kconfigwidgets-5.86.0.tar.xz">kconfigwidgets-5.86.0</a></td>
   <td align="right">401kB</td>
   <td><tt>4c09114f8e47e39f4eb1580fe76d822080dcb1e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kcontacts-5.86.0.tar.xz">kcontacts-5.86.0</a></td>
   <td align="right">531kB</td>
   <td><tt>557a4fba8d57a7525b8fffa7df296c788755811d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kcoreaddons-5.86.0.tar.xz">kcoreaddons-5.86.0</a></td>
   <td align="right">430kB</td>
   <td><tt>6d82a18ef735497a5c03b2ac474aeaadee7f97d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kcrash-5.86.0.tar.xz">kcrash-5.86.0</a></td>
   <td align="right">27kB</td>
   <td><tt>69bed10de54cae7a56a4cc5501d20e346dab3b78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kdav-5.86.0.tar.xz">kdav-5.86.0</a></td>
   <td align="right">60kB</td>
   <td><tt>f7c50f29d87bb03159e018fe2782b03eac06ca8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kdbusaddons-5.86.0.tar.xz">kdbusaddons-5.86.0</a></td>
   <td align="right">42kB</td>
   <td><tt>4a757b9a91f47485918b496adb9840abb1ab8388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kdeclarative-5.86.0.tar.xz">kdeclarative-5.86.0</a></td>
   <td align="right">185kB</td>
   <td><tt>cc6b314d2d50fc7374ddb83c2e05a0420261758d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kded-5.86.0.tar.xz">kded-5.86.0</a></td>
   <td align="right">36kB</td>
   <td><tt>c331a50262e961b4407c64a115079d062379052a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kdesu-5.86.0.tar.xz">kdesu-5.86.0</a></td>
   <td align="right">51kB</td>
   <td><tt>6639b9a46ec96cc306920b45620703a13396d9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kdnssd-5.86.0.tar.xz">kdnssd-5.86.0</a></td>
   <td align="right">57kB</td>
   <td><tt>3cdc8cbc8c8fb444a1dd90c48e4dfef00ff24870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kdoctools-5.86.0.tar.xz">kdoctools-5.86.0</a></td>
   <td align="right">426kB</td>
   <td><tt>fca0073ea88925ab0641ee6a68e6b55f218b5e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kemoticons-5.86.0.tar.xz">kemoticons-5.86.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>551a5db47ddc694bfc4e8e4efc7e81970e84b652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kfilemetadata-5.86.0.tar.xz">kfilemetadata-5.86.0</a></td>
   <td align="right">416kB</td>
   <td><tt>ea62efe6bb1862f3adb68ce1a5f5c5e62520137a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kglobalaccel-5.86.0.tar.xz">kglobalaccel-5.86.0</a></td>
   <td align="right">85kB</td>
   <td><tt>f0a4803e2878d1b7909b1b64eda4169f437953cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kguiaddons-5.86.0.tar.xz">kguiaddons-5.86.0</a></td>
   <td align="right">59kB</td>
   <td><tt>f624ec9a67f4ee5dd4b216bc2ed410305e65d13f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kholidays-5.86.0.tar.xz">kholidays-5.86.0</a></td>
   <td align="right">226kB</td>
   <td><tt>cb41f363484351dd440944f7742da9f64d321e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/ki18n-5.86.0.tar.xz">ki18n-5.86.0</a></td>
   <td align="right">576kB</td>
   <td><tt>5b7c2d26d6cbcd698fea32161bd71b502b49486a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kiconthemes-5.86.0.tar.xz">kiconthemes-5.86.0</a></td>
   <td align="right">216kB</td>
   <td><tt>3d684c46618120fba2f78ebac69a3a95c29f2136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kidletime-5.86.0.tar.xz">kidletime-5.86.0</a></td>
   <td align="right">25kB</td>
   <td><tt>91af623eb4d3ef1e10ceafd92579e1c272baff36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kimageformats-5.86.0.tar.xz">kimageformats-5.86.0</a></td>
   <td align="right">576kB</td>
   <td><tt>a73895dbb253505d4053eb6d9bc8a0023c865b60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kinit-5.86.0.tar.xz">kinit-5.86.0</a></td>
   <td align="right">118kB</td>
   <td><tt>c4710ded5a8fc05aca720edd5f3603426e836457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kio-5.86.0.tar.xz">kio-5.86.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>3b0c8e2e452f71c34ea37c654b314da60d6513c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kirigami2-5.86.0.tar.xz">kirigami2-5.86.0</a></td>
   <td align="right">320kB</td>
   <td><tt>6c9c7168ca9f907cdf04134d03b513fc80116100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kitemmodels-5.86.0.tar.xz">kitemmodels-5.86.0</a></td>
   <td align="right">393kB</td>
   <td><tt>cf74f93d892a67ea53447a63dbd6d88a9d33f0c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kitemviews-5.86.0.tar.xz">kitemviews-5.86.0</a></td>
   <td align="right">73kB</td>
   <td><tt>096d58335a461959125ea1a0cbf3aa7f87c041a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kjobwidgets-5.86.0.tar.xz">kjobwidgets-5.86.0</a></td>
   <td align="right">96kB</td>
   <td><tt>5ec1f6fbf527824d8810b77ae810f5fc91b0e8ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/knewstuff-5.86.0.tar.xz">knewstuff-5.86.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a418209935ca9639ccd2ae2b433077562fa36b86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/knotifications-5.86.0.tar.xz">knotifications-5.86.0</a></td>
   <td align="right">121kB</td>
   <td><tt>f3561f3881f91fc9931ba10e1b35d66ad251912c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/knotifyconfig-5.86.0.tar.xz">knotifyconfig-5.86.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b2abcc2d66f40fd4c9b1d10784a061e648e1a983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kpackage-5.86.0.tar.xz">kpackage-5.86.0</a></td>
   <td align="right">135kB</td>
   <td><tt>e542b5b5956bd085c482d642eec9d821dc0e450a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kparts-5.86.0.tar.xz">kparts-5.86.0</a></td>
   <td align="right">188kB</td>
   <td><tt>58bf5d40bfdb2489c4dec4948d712a5a31caef44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kpeople-5.86.0.tar.xz">kpeople-5.86.0</a></td>
   <td align="right">55kB</td>
   <td><tt>ab11c509a743d996e5b647da9ddadbeeb245bbf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kplotting-5.86.0.tar.xz">kplotting-5.86.0</a></td>
   <td align="right">30kB</td>
   <td><tt>20a774291ce6f099a6f424a040a133e6564ce8a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kpty-5.86.0.tar.xz">kpty-5.86.0</a></td>
   <td align="right">54kB</td>
   <td><tt>57ede5671169437876e1efcbd54f285cc6a8d4c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kquickcharts-5.86.0.tar.xz">kquickcharts-5.86.0</a></td>
   <td align="right">105kB</td>
   <td><tt>db85e020aa6acaf4f807ac008a507ffec5b1cc2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/krunner-5.86.0.tar.xz">krunner-5.86.0</a></td>
   <td align="right">76kB</td>
   <td><tt>d96af9fcec71ce26e1fa1261b5180156d6a78900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kservice-5.86.0.tar.xz">kservice-5.86.0</a></td>
   <td align="right">257kB</td>
   <td><tt>8f80e33e4c8edcfa657ed640f44536d91a878cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/ktexteditor-5.86.0.tar.xz">ktexteditor-5.86.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>99ca8fb773db6e267c90fae8fa9c9ea46f02976a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/ktextwidgets-5.86.0.tar.xz">ktextwidgets-5.86.0</a></td>
   <td align="right">318kB</td>
   <td><tt>93a652561a5cb6f4e735e4b026bc11ed4cc861f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kunitconversion-5.86.0.tar.xz">kunitconversion-5.86.0</a></td>
   <td align="right">868kB</td>
   <td><tt>077039e94befbdc47c236db4cc2ee15be654f60d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kwallet-5.86.0.tar.xz">kwallet-5.86.0</a></td>
   <td align="right">295kB</td>
   <td><tt>073e903f5be9d402566e9a8c0889a91e0e084968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kwayland-5.86.0.tar.xz">kwayland-5.86.0</a></td>
   <td align="right">324kB</td>
   <td><tt>75c7924127b8d99c1330b02bb53254cae1f51a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kwidgetsaddons-5.86.0.tar.xz">kwidgetsaddons-5.86.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b9f65460d1c81fa2ece4b559917868122568c4ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kwindowsystem-5.86.0.tar.xz">kwindowsystem-5.86.0</a></td>
   <td align="right">174kB</td>
   <td><tt>42e26e3bbfb095014c0c59f2c1432123e2f6038d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/kxmlgui-5.86.0.tar.xz">kxmlgui-5.86.0</a></td>
   <td align="right">858kB</td>
   <td><tt>6bfc19b17ce6ffe3c503c4408ae1ac0bafeb0d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/modemmanager-qt-5.86.0.tar.xz">modemmanager-qt-5.86.0</a></td>
   <td align="right">109kB</td>
   <td><tt>4b89e0d7c44d01729b32f3f7af9f41b029c74217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/networkmanager-qt-5.86.0.tar.xz">networkmanager-qt-5.86.0</a></td>
   <td align="right">191kB</td>
   <td><tt>02970624977d504d157811e8272d146733cc2672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/oxygen-icons5-5.86.0.tar.xz">oxygen-icons5-5.86.0</a></td>
   <td align="right">227MB</td>
   <td><tt>36d5be125e929b05b21f2352a26a6aacaf4fd882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/plasma-framework-5.86.0.tar.xz">plasma-framework-5.86.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>f3788c87ab84c4ba884189114be298635309e89f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/prison-5.86.0.tar.xz">prison-5.86.0</a></td>
   <td align="right">45kB</td>
   <td><tt>357a498848e5d201459554d5761f2443d3c96392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/purpose-5.86.0.tar.xz">purpose-5.86.0</a></td>
   <td align="right">158kB</td>
   <td><tt>0b33875eab5208fe4a700c4d63c82077a0235291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/qqc2-desktop-style-5.86.0.tar.xz">qqc2-desktop-style-5.86.0</a></td>
   <td align="right">60kB</td>
   <td><tt>64fd35f5945f1cf4732c124853fb5611d52a8875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/solid-5.86.0.tar.xz">solid-5.86.0</a></td>
   <td align="right">245kB</td>
   <td><tt>3116893de9801dad4a8ea0006822cdf7324da34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/sonnet-5.86.0.tar.xz">sonnet-5.86.0</a></td>
   <td align="right">290kB</td>
   <td><tt>09bc7f95c0219ad296488be1068780ed877394ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/syndication-5.86.0.tar.xz">syndication-5.86.0</a></td>
   <td align="right">496kB</td>
   <td><tt>2d2589adde0b8464c9309e0eca32ce8b803ab589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/syntax-highlighting-5.86.0.tar.xz">syntax-highlighting-5.86.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b79adecc7cb3292ee3cd814069a85e1210084eb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.86/threadweaver-5.86.0.tar.xz">threadweaver-5.86.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>025c03c7e749165727dfc7a484fcc3000fb6d455</tt></td>
</tr>

</table>
