
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/attica-5.51.0.tar.xz">attica-5.51.0</a></td>
   <td align="right">61kB</td>
   <td><tt>6e93ca6d8bd190f331860739c4ff06e0072633bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/baloo-5.51.0.tar.xz">baloo-5.51.0</a></td>
   <td align="right">229kB</td>
   <td><tt>df766d1389714feb3cf5a15712fb91ce854a2ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/bluez-qt-5.51.0.tar.xz">bluez-qt-5.51.0</a></td>
   <td align="right">78kB</td>
   <td><tt>bd05fbeea223608690848d2e8d4ab0a93b9261c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/breeze-icons-5.51.0.tar.xz">breeze-icons-5.51.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2cad18ecf4bf694aee3bfdfe6f87b6d5507097cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/extra-cmake-modules-5.51.0.tar.xz">extra-cmake-modules-5.51.0</a></td>
   <td align="right">316kB</td>
   <td><tt>a58a747f7177b8f952e925f3455f53e8e8daa58d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/frameworkintegration-5.51.0.tar.xz">frameworkintegration-5.51.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0a5e88a80e15ab7055566586849d9d83c1c53207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kactivities-5.51.0.tar.xz">kactivities-5.51.0</a></td>
   <td align="right">60kB</td>
   <td><tt>b9f63a5fb4ae2560e3839b38635f80e9858cf287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kactivities-stats-5.51.0.tar.xz">kactivities-stats-5.51.0</a></td>
   <td align="right">59kB</td>
   <td><tt>15e3139b283bb7bb796559bd9fd0b7ff874d00af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kapidox-5.51.0.tar.xz">kapidox-5.51.0</a></td>
   <td align="right">387kB</td>
   <td><tt>5bb2430b2d185323a029cabf023f016f7142ba1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/karchive-5.51.0.tar.xz">karchive-5.51.0</a></td>
   <td align="right">429kB</td>
   <td><tt>642d069dadeacdb156c7068c756015a9ab30ed99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kauth-5.51.0.tar.xz">kauth-5.51.0</a></td>
   <td align="right">83kB</td>
   <td><tt>516fa0ab7e55e68694115119b3fea7b54d39c6c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kbookmarks-5.51.0.tar.xz">kbookmarks-5.51.0</a></td>
   <td align="right">116kB</td>
   <td><tt>cb4f7198e62c133766803a140b04cb65c4d7cc02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kcmutils-5.51.0.tar.xz">kcmutils-5.51.0</a></td>
   <td align="right">231kB</td>
   <td><tt>3190d3ca23ee93ba8a76ac04a1c0a24624245963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kcodecs-5.51.0.tar.xz">kcodecs-5.51.0</a></td>
   <td align="right">214kB</td>
   <td><tt>f4a1ff0fc4c6d43284c16211f69c4bae88b79a63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kcompletion-5.51.0.tar.xz">kcompletion-5.51.0</a></td>
   <td align="right">112kB</td>
   <td><tt>2081d5c996b659e508dc4a5ed4243c4d012627b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kconfig-5.51.0.tar.xz">kconfig-5.51.0</a></td>
   <td align="right">230kB</td>
   <td><tt>70c9953b10159cbdb74f54d98179c662ab0f0d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kconfigwidgets-5.51.0.tar.xz">kconfigwidgets-5.51.0</a></td>
   <td align="right">366kB</td>
   <td><tt>986ddd6d43ce310f5defd5ee626d349807760ca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kcoreaddons-5.51.0.tar.xz">kcoreaddons-5.51.0</a></td>
   <td align="right">344kB</td>
   <td><tt>8d884fed66ce2e6e0d2e393bc1ca7c7aa1ddbec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kcrash-5.51.0.tar.xz">kcrash-5.51.0</a></td>
   <td align="right">21kB</td>
   <td><tt>8bde4085888a3ee88dede58fbaf745faca0402b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kdbusaddons-5.51.0.tar.xz">kdbusaddons-5.51.0</a></td>
   <td align="right">36kB</td>
   <td><tt>96248a14b3d06557466c8bc9f7d5a6130a3c5a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kdeclarative-5.51.0.tar.xz">kdeclarative-5.51.0</a></td>
   <td align="right">167kB</td>
   <td><tt>4a5954c7852066c1694030a686729c67e8b5d5ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kded-5.51.0.tar.xz">kded-5.51.0</a></td>
   <td align="right">37kB</td>
   <td><tt>32831a1c2ab89b5b198448f515458096d961ee36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kdesignerplugin-5.51.0.tar.xz">kdesignerplugin-5.51.0</a></td>
   <td align="right">88kB</td>
   <td><tt>281527405a2c70eceb9476acb62697f0733e559b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kdesu-5.51.0.tar.xz">kdesu-5.51.0</a></td>
   <td align="right">43kB</td>
   <td><tt>36f7014b61db0525adf0bbc79237c1cc65f6d2dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kdewebkit-5.51.0.tar.xz">kdewebkit-5.51.0</a></td>
   <td align="right">28kB</td>
   <td><tt>1f5a38c3aa3c7c5ff113819e4109a51677ab421a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kdnssd-5.51.0.tar.xz">kdnssd-5.51.0</a></td>
   <td align="right">55kB</td>
   <td><tt>7d3bc9349a099d793d4d551e71c81cd25369f25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kdoctools-5.51.0.tar.xz">kdoctools-5.51.0</a></td>
   <td align="right">414kB</td>
   <td><tt>9f24dd8fde442158422837dc8ac942d958e2517a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kemoticons-5.51.0.tar.xz">kemoticons-5.51.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3affdae7fc0c3d4ea75bb0891df96ca8ab54caf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kfilemetadata-5.51.0.tar.xz">kfilemetadata-5.51.0</a></td>
   <td align="right">254kB</td>
   <td><tt>e32f45a6895c8f2e38275c206815d06112d8d99b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kglobalaccel-5.51.0.tar.xz">kglobalaccel-5.51.0</a></td>
   <td align="right">81kB</td>
   <td><tt>0ce50f5c28d4b0bf76ca23d96fa5b6412f4c64c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kguiaddons-5.51.0.tar.xz">kguiaddons-5.51.0</a></td>
   <td align="right">39kB</td>
   <td><tt>5a426fb24c7bc3cd4d76d44f1e12fbf45b2f4846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kholidays-5.51.0.tar.xz">kholidays-5.51.0</a></td>
   <td align="right">196kB</td>
   <td><tt>53b5203fb193cca9093ecadf8a79a54886a06bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/ki18n-5.51.0.tar.xz">ki18n-5.51.0</a></td>
   <td align="right">573kB</td>
   <td><tt>14a6e2f074d3b1beb90ff3a0c48c35bf54fcf66f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kiconthemes-5.51.0.tar.xz">kiconthemes-5.51.0</a></td>
   <td align="right">202kB</td>
   <td><tt>914f850cf540a4d5e5bb49a8b164503a4e760bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kidletime-5.51.0.tar.xz">kidletime-5.51.0</a></td>
   <td align="right">25kB</td>
   <td><tt>dcf3d0ab2e38ef81d62b8b369f272e133107bef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kimageformats-5.51.0.tar.xz">kimageformats-5.51.0</a></td>
   <td align="right">199kB</td>
   <td><tt>c1adea67c1e3efd43e09aa11fce74d957de008b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kinit-5.51.0.tar.xz">kinit-5.51.0</a></td>
   <td align="right">117kB</td>
   <td><tt>619a7ffa8f63a74843b003bfddd2639080c443d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kio-5.51.0.tar.xz">kio-5.51.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>58a38819c07a0625cce9a11850b2731080310c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kirigami2-5.51.0.tar.xz">kirigami2-5.51.0</a></td>
   <td align="right">117kB</td>
   <td><tt>ae98d54ff7cdcf4fa99581603e7ca5e869a55695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kitemmodels-5.51.0.tar.xz">kitemmodels-5.51.0</a></td>
   <td align="right">381kB</td>
   <td><tt>358894b5858a65ec3c418a7d1d8205c05a0c7722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kitemviews-5.51.0.tar.xz">kitemviews-5.51.0</a></td>
   <td align="right">73kB</td>
   <td><tt>0158d73d823e1c7aefd692dc951c519524ee733f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kjobwidgets-5.51.0.tar.xz">kjobwidgets-5.51.0</a></td>
   <td align="right">85kB</td>
   <td><tt>07744ce4cbe79cc90e4915602f6ef1bfcbb9e64c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/knewstuff-5.51.0.tar.xz">knewstuff-5.51.0</a></td>
   <td align="right">984kB</td>
   <td><tt>aaa5e464dfe2c7c237f419ea20aad1e89f376219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/knotifications-5.51.0.tar.xz">knotifications-5.51.0</a></td>
   <td align="right">100kB</td>
   <td><tt>45cd2e0a5355225eb8eb3824de7806bddb552277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/knotifyconfig-5.51.0.tar.xz">knotifyconfig-5.51.0</a></td>
   <td align="right">81kB</td>
   <td><tt>94188b27828395b484134b3554d5a338c123b536</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kpackage-5.51.0.tar.xz">kpackage-5.51.0</a></td>
   <td align="right">130kB</td>
   <td><tt>18aa831fd33cac065c8e0e315a6889bafc92bc1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kparts-5.51.0.tar.xz">kparts-5.51.0</a></td>
   <td align="right">172kB</td>
   <td><tt>6a4b2a1664c45c3a14d9f5629daa4113f01e0739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kpeople-5.51.0.tar.xz">kpeople-5.51.0</a></td>
   <td align="right">59kB</td>
   <td><tt>e0fec57816574b936da031e53a303c7b8ded19d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kplotting-5.51.0.tar.xz">kplotting-5.51.0</a></td>
   <td align="right">29kB</td>
   <td><tt>860bd87c9295e7ff0f4313a8a5662606e4498c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kpty-5.51.0.tar.xz">kpty-5.51.0</a></td>
   <td align="right">56kB</td>
   <td><tt>9725ff4abb982c8e4657e1df9e325fe296749af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/krunner-5.51.0.tar.xz">krunner-5.51.0</a></td>
   <td align="right">60kB</td>
   <td><tt>084a7fc9fbdccab2ad1811f091628c8f4130fbae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kservice-5.51.0.tar.xz">kservice-5.51.0</a></td>
   <td align="right">245kB</td>
   <td><tt>c58af69dccfe8ff066df3bf8388154ac1d741439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/ktexteditor-5.51.0.tar.xz">ktexteditor-5.51.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8dd3cf131fb9237150358aae0c6837599276dd11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/ktextwidgets-5.51.0.tar.xz">ktextwidgets-5.51.0</a></td>
   <td align="right">301kB</td>
   <td><tt>c967822c5c5deb2101d0f099bafcb90085b78075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kunitconversion-5.51.0.tar.xz">kunitconversion-5.51.0</a></td>
   <td align="right">756kB</td>
   <td><tt>ce3ba7a759a6082b32aea00d8c0c221fb6b2cbbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kwallet-5.51.0.tar.xz">kwallet-5.51.0</a></td>
   <td align="right">301kB</td>
   <td><tt>2af8caece3052bafb56c6318d997451e30949ea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kwayland-5.51.0.tar.xz">kwayland-5.51.0</a></td>
   <td align="right">317kB</td>
   <td><tt>59076df2c466ba94bbc2cdcea337498491838471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kwidgetsaddons-5.51.0.tar.xz">kwidgetsaddons-5.51.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>7b2dfe7aa096d430566441e20ad028b98ede5575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kwindowsystem-5.51.0.tar.xz">kwindowsystem-5.51.0</a></td>
   <td align="right">165kB</td>
   <td><tt>a50c7539277a5b8512ab348121a3156bac9872c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kxmlgui-5.51.0.tar.xz">kxmlgui-5.51.0</a></td>
   <td align="right">852kB</td>
   <td><tt>7d6cc1f4774ba7841b89d7d665448e393f06d426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/kxmlrpcclient-5.51.0.tar.xz">kxmlrpcclient-5.51.0</a></td>
   <td align="right">28kB</td>
   <td><tt>85af2d48b831c103a212cbdb6b65d94086b4c911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/modemmanager-qt-5.51.0.tar.xz">modemmanager-qt-5.51.0</a></td>
   <td align="right">98kB</td>
   <td><tt>b0badccb7c7d15aafafbb923dfb6a7f376b7d24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/networkmanager-qt-5.51.0.tar.xz">networkmanager-qt-5.51.0</a></td>
   <td align="right">159kB</td>
   <td><tt>ff6188ca0df39f2b1f82c0f0353648d39cc4fa27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/oxygen-icons5-5.51.0.tar.xz">oxygen-icons5-5.51.0</a></td>
   <td align="right">225MB</td>
   <td><tt>463d5fc36cbec248262ce4447199baeef8835e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/plasma-framework-5.51.0.tar.xz">plasma-framework-5.51.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>0cc323355356d82e6ef947b14753ecebb86f0f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/prison-5.51.0.tar.xz">prison-5.51.0</a></td>
   <td align="right">40kB</td>
   <td><tt>c0fabd87be1831d21fa9eee03308aec3bdab6030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/purpose-5.51.0.tar.xz">purpose-5.51.0</a></td>
   <td align="right">136kB</td>
   <td><tt>488a8bb0b18c26388c719d7653cea994e253029a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/qqc2-desktop-style-5.51.0.tar.xz">qqc2-desktop-style-5.51.0</a></td>
   <td align="right">40kB</td>
   <td><tt>9b907b736e7102c27b31882f49839a9e43ae8e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/solid-5.51.0.tar.xz">solid-5.51.0</a></td>
   <td align="right">253kB</td>
   <td><tt>c2e4c04f014ce0695d41734ba6fad1456cfb0052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/sonnet-5.51.0.tar.xz">sonnet-5.51.0</a></td>
   <td align="right">279kB</td>
   <td><tt>75834be12db3da95f2d418b205d9e6baf9beb0d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/syndication-5.51.0.tar.xz">syndication-5.51.0</a></td>
   <td align="right">155kB</td>
   <td><tt>0beb19dd31e7e5a523ff76d0000f13f6a709d40d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/syntax-highlighting-5.51.0.tar.xz">syntax-highlighting-5.51.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f3837c43078076660c87215a4de07b7d9b140c43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.51/threadweaver-5.51.0.tar.xz">threadweaver-5.51.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0ed02ce5e3ab52ecad95dc31831877c944c8dcae</tt></td>
</tr>

</table>
