
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.64/kirigami2-5.64.1.tar.xz">kirigami2-5.64.1</a></td>
   <td align="right">151kB</td>
   <td><tt>c30824818104462671cf41aa1ec1818b8a82c776</tt></td>
</tr>

</table>
