<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadi-20.03.90.tar.xz">akonadi-20.03.90</a></td>
   <td align="right">1543kB</td>
   <td><tt>3a716591efdc09a9ae19061cc80c6535470c2d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadi-calendar-20.03.90.tar.xz">akonadi-calendar-20.03.90</a></td>
   <td align="right">324kB</td>
   <td><tt>21aefa0980ff692db219038bf6584c88852b592b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadi-calendar-tools-20.03.90.tar.xz">akonadi-calendar-tools-20.03.90</a></td>
   <td align="right">218kB</td>
   <td><tt>232cef20e1532172491ec9557513469ad152a639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadiconsole-20.03.90.tar.xz">akonadiconsole-20.03.90</a></td>
   <td align="right">189kB</td>
   <td><tt>1c2f9bfb8775d774d6402395c96dd4f94750fb22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadi-contacts-20.03.90.tar.xz">akonadi-contacts-20.03.90</a></td>
   <td align="right">384kB</td>
   <td><tt>f7f2e6c2b5014a66b055a201e5fc64cc80af956d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadi-import-wizard-20.03.90.tar.xz">akonadi-import-wizard-20.03.90</a></td>
   <td align="right">428kB</td>
   <td><tt>e86fbb94c13779663f7eb85a33f779c7fa708a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadi-mime-20.03.90.tar.xz">akonadi-mime-20.03.90</a></td>
   <td align="right">129kB</td>
   <td><tt>d57015d74724942d233470babae941552524818d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadi-notes-20.03.90.tar.xz">akonadi-notes-20.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>964d0f8c2d307e8d875d6000286e4badb945f642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akonadi-search-20.03.90.tar.xz">akonadi-search-20.03.90</a></td>
   <td align="right">81kB</td>
   <td><tt>ca776c803b23a60aae2ebaeb89fb60b3faa13776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/akregator-20.03.90.tar.xz">akregator-20.03.90</a></td>
   <td align="right">2147kB</td>
   <td><tt>7b6f1c5c7a57e2046e661d1202e7e16e5f62d3e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/analitza-20.03.90.tar.xz">analitza-20.03.90</a></td>
   <td align="right">325kB</td>
   <td><tt>d1880f6f8e226eceb6d219227f93cb98e3d0a811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ark-20.03.90.tar.xz">ark-20.03.90</a></td>
   <td align="right">2527kB</td>
   <td><tt>e973f2002b1a3803d910b442d13ae45480c1c592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/artikulate-20.03.90.tar.xz">artikulate-20.03.90</a></td>
   <td align="right">1051kB</td>
   <td><tt>4c8fcf4a81e47b0cb69bd84bd5298b4572f6743f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/audiocd-kio-20.03.90.tar.xz">audiocd-kio-20.03.90</a></td>
   <td align="right">351kB</td>
   <td><tt>78f52d91ad6508be48dd6226445ca29e4bed33e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/baloo-widgets-20.03.90.tar.xz">baloo-widgets-20.03.90</a></td>
   <td align="right">255kB</td>
   <td><tt>09507dba6a9a9752600f67358cc9811da8cd04a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/blinken-20.03.90.tar.xz">blinken-20.03.90</a></td>
   <td align="right">2754kB</td>
   <td><tt>c92bc25683e47f66feb09d522d3efe28f4c47680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/bomber-20.03.90.tar.xz">bomber-20.03.90</a></td>
   <td align="right">803kB</td>
   <td><tt>9afa51fc6b3b29790c62a70da4172ab1ff1d0986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/bovo-20.03.90.tar.xz">bovo-20.03.90</a></td>
   <td align="right">195kB</td>
   <td><tt>743799c2b151279b66f744989c173929ff657ef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/calendarsupport-20.03.90.tar.xz">calendarsupport-20.03.90</a></td>
   <td align="right">637kB</td>
   <td><tt>e5b916264d71b438befc228010895b786755d213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/cantor-20.03.90.tar.xz">cantor-20.03.90</a></td>
   <td align="right">8813kB</td>
   <td><tt>ccb2ad2d282cb4b2fe5bf5552d23dc1bf6cc409a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/cervisia-20.03.90.tar.xz">cervisia-20.03.90</a></td>
   <td align="right">1851kB</td>
   <td><tt>a30326db539d7bff7ff36cec582f3d0a1239b513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/dolphin-20.03.90.tar.xz">dolphin-20.03.90</a></td>
   <td align="right">4683kB</td>
   <td><tt>f632179884e4781ac698820dbb2aa969b3916fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/dolphin-plugins-20.03.90.tar.xz">dolphin-plugins-20.03.90</a></td>
   <td align="right">205kB</td>
   <td><tt>5ab2af769e459d08163a2b014cb8f01d8bb9a38d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/dragon-20.03.90.tar.xz">dragon-20.03.90</a></td>
   <td align="right">1320kB</td>
   <td><tt>d58a542a29300279976d92bc081d29589c393eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/elisa-20.03.90.tar.xz">elisa-20.03.90</a></td>
   <td align="right">1370kB</td>
   <td><tt>0a17efdda91aa98af10ad265c207e3470fd1c555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/eventviews-20.03.90.tar.xz">eventviews-20.03.90</a></td>
   <td align="right">433kB</td>
   <td><tt>33f23284ce9085beeac25cc89db4273a1579dcca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ffmpegthumbs-20.03.90.tar.xz">ffmpegthumbs-20.03.90</a></td>
   <td align="right">26kB</td>
   <td><tt>f8471a5ef71174c4c9807fbe8de81b12929f0c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/filelight-20.03.90.tar.xz">filelight-20.03.90</a></td>
   <td align="right">645kB</td>
   <td><tt>473f8e47786b694f493b5a6037121a6cccb2352e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/granatier-20.03.90.tar.xz">granatier-20.03.90</a></td>
   <td align="right">1900kB</td>
   <td><tt>50dee3ae45d33adf13295a7ac0bf5ec639a4a22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/grantlee-editor-20.03.90.tar.xz">grantlee-editor-20.03.90</a></td>
   <td align="right">109kB</td>
   <td><tt>40850584b77b918f851b186680c7fb9f981a224b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/grantleetheme-20.03.90.tar.xz">grantleetheme-20.03.90</a></td>
   <td align="right">53kB</td>
   <td><tt>9e5320808247c6457a967c83e693b57df3af7fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/gwenview-20.03.90.tar.xz">gwenview-20.03.90</a></td>
   <td align="right">5604kB</td>
   <td><tt>a86c64689fae69438f2812f5c83e29f0688dcb6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/incidenceeditor-20.03.90.tar.xz">incidenceeditor-20.03.90</a></td>
   <td align="right">537kB</td>
   <td><tt>b8b9ed0a0489af5e947a46d5c034ae8ed98aacf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/juk-20.03.90.tar.xz">juk-20.03.90</a></td>
   <td align="right">1824kB</td>
   <td><tt>1718e3f1874ccb82569577747566a12cca54402e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/k3b-20.03.90.tar.xz">k3b-20.03.90</a></td>
   <td align="right">10273kB</td>
   <td><tt>b2c39a4db9f75a4d0eb9e5d4d5575be5b359cf21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kaccounts-integration-20.03.90.tar.xz">kaccounts-integration-20.03.90</a></td>
   <td align="right">64kB</td>
   <td><tt>09e0aefb2010b62fb1a6abb5cd90cd86fa9783ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kaccounts-providers-20.03.90.tar.xz">kaccounts-providers-20.03.90</a></td>
   <td align="right">34kB</td>
   <td><tt>527f1753f9cfc04d546489c92f099024ca404dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kaddressbook-20.03.90.tar.xz">kaddressbook-20.03.90</a></td>
   <td align="right">2369kB</td>
   <td><tt>18a8be0eeacc6d5f773a8779a865dfeadcab5e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kajongg-20.03.90.tar.xz">kajongg-20.03.90</a></td>
   <td align="right">4361kB</td>
   <td><tt>3fe809b2626d13cc08b8c33de6f623229f55f97c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kalarm-20.03.90.tar.xz">kalarm-20.03.90</a></td>
   <td align="right">1796kB</td>
   <td><tt>1e6b7ab30fd13061d973a77656eb94a2a5a0a73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kalarmcal-20.03.90.tar.xz">kalarmcal-20.03.90</a></td>
   <td align="right">560kB</td>
   <td><tt>8f634cfbbb9d9488544f47345c6f8430de2eaaaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kalgebra-20.03.90.tar.xz">kalgebra-20.03.90</a></td>
   <td align="right">1130kB</td>
   <td><tt>ad1660b81dcd2d7156c61fdcf4fb54d836b20c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kalzium-20.03.90.tar.xz">kalzium-20.03.90</a></td>
   <td align="right">24025kB</td>
   <td><tt>1e6ece45408b1de02b96c5621d0482613e484fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kamera-20.03.90.tar.xz">kamera-20.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>b5e85f7ca0d68e060669714aaffc6b46da38be9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kamoso-20.03.90.tar.xz">kamoso-20.03.90</a></td>
   <td align="right">198kB</td>
   <td><tt>773cff821176b945add2b4b04c73686aa096c29c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kanagram-20.03.90.tar.xz">kanagram-20.03.90</a></td>
   <td align="right">7848kB</td>
   <td><tt>2ac242f114c0ce977ad87f75946d1f22d6923de2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kapman-20.03.90.tar.xz">kapman-20.03.90</a></td>
   <td align="right">2468kB</td>
   <td><tt>eeb13154edf4b6a7977ba1f9aa046d6325bd626f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kapptemplate-20.03.90.tar.xz">kapptemplate-20.03.90</a></td>
   <td align="right">317kB</td>
   <td><tt>74a2acd84934294318a0d16e35e543ee620c8c6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kate-20.03.90.tar.xz">kate-20.03.90</a></td>
   <td align="right">5689kB</td>
   <td><tt>09b7898f2b4afc7179e61524e7ec2592d92f3b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/katomic-20.03.90.tar.xz">katomic-20.03.90</a></td>
   <td align="right">1391kB</td>
   <td><tt>75350cd1556ccf7c20de92a88e5d5a32e1372c77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kbackup-20.03.90.tar.xz">kbackup-20.03.90</a></td>
   <td align="right">352kB</td>
   <td><tt>fce469bfa4f96535afc0ae5c094f99620cf0c111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kblackbox-20.03.90.tar.xz">kblackbox-20.03.90</a></td>
   <td align="right">437kB</td>
   <td><tt>23df529616f0726c71488470a3445902e808438c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kblocks-20.03.90.tar.xz">kblocks-20.03.90</a></td>
   <td align="right">1862kB</td>
   <td><tt>7b77a822e97dc1c366983c41469ef8bd269a1641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kblog-20.03.90.tar.xz">kblog-20.03.90</a></td>
   <td align="right">71kB</td>
   <td><tt>118cdbae0ac8165cc239ac511abcc9570c2995d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kbounce-20.03.90.tar.xz">kbounce-20.03.90</a></td>
   <td align="right">3387kB</td>
   <td><tt>45b58d90d29cb3b136617ddfc630bbea952fb786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kbreakout-20.03.90.tar.xz">kbreakout-20.03.90</a></td>
   <td align="right">2224kB</td>
   <td><tt>c4e201663e9817bde403cd20d3ab91074bbc8fb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kbruch-20.03.90.tar.xz">kbruch-20.03.90</a></td>
   <td align="right">5474kB</td>
   <td><tt>0ef70760a33b3b840da9ae1ca5ea96e7575e4566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kcachegrind-20.03.90.tar.xz">kcachegrind-20.03.90</a></td>
   <td align="right">790kB</td>
   <td><tt>46d9e4256e5a4b7eda888c9523db0fc1a11cb766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kcalc-20.03.90.tar.xz">kcalc-20.03.90</a></td>
   <td align="right">365kB</td>
   <td><tt>94964ea6240a061d40006902a4eba2032e8a1fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kcalutils-20.03.90.tar.xz">kcalutils-20.03.90</a></td>
   <td align="right">313kB</td>
   <td><tt>6961f8b570c753bd2e85d88932f40272ba83c8d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kcharselect-20.03.90.tar.xz">kcharselect-20.03.90</a></td>
   <td align="right">327kB</td>
   <td><tt>ea00134eac697016ed47f5e0eb38f5b25e3d70d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kcolorchooser-20.03.90.tar.xz">kcolorchooser-20.03.90</a></td>
   <td align="right">21kB</td>
   <td><tt>06d6fdc947491075e3fc507f4e8a14802d2bb8ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kcron-20.03.90.tar.xz">kcron-20.03.90</a></td>
   <td align="right">870kB</td>
   <td><tt>dba50cf39647fb439f441606f7e3866c29dc15aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdav-20.03.90.tar.xz">kdav-20.03.90</a></td>
   <td align="right">55kB</td>
   <td><tt>ea9d54f90fd18fa255919d9e4cbd6ca64666f8be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdebugsettings-20.03.90.tar.xz">kdebugsettings-20.03.90</a></td>
   <td align="right">63kB</td>
   <td><tt>77a820b96c87157609733c9d01f7ba45577a008e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdeconnect-kde-20.03.90.tar.xz">kdeconnect-kde-20.03.90</a></td>
   <td align="right">417kB</td>
   <td><tt>f178b56efc67221bfe75bfdd4ded524e063d523b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kde-dev-scripts-20.03.90.tar.xz">kde-dev-scripts-20.03.90</a></td>
   <td align="right">369kB</td>
   <td><tt>5c4f09653250c9950d0f3a0f3ccc64d98f469802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kde-dev-utils-20.03.90.tar.xz">kde-dev-utils-20.03.90</a></td>
   <td align="right">63kB</td>
   <td><tt>3bf2600a39a7be2fa08596abf2f32cdf232aab40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdeedu-data-20.03.90.tar.xz">kdeedu-data-20.03.90</a></td>
   <td align="right">320kB</td>
   <td><tt>5913b1bb3d0a98c3079da2f788e138342737fe96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdegraphics-mobipocket-20.03.90.tar.xz">kdegraphics-mobipocket-20.03.90</a></td>
   <td align="right">15kB</td>
   <td><tt>c67bb4dbbf38fad454e44f0077e4ece8e888119f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdegraphics-thumbnailers-20.03.90.tar.xz">kdegraphics-thumbnailers-20.03.90</a></td>
   <td align="right">45kB</td>
   <td><tt>7e419fcbd1828cbadc8f69ba43b5943d45ac3410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdenetwork-filesharing-20.03.90.tar.xz">kdenetwork-filesharing-20.03.90</a></td>
   <td align="right">312kB</td>
   <td><tt>1242dbbb529d507e6e4a202c80a823a33d9fe58f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdenlive-20.03.90.tar.xz">kdenlive-20.03.90</a></td>
   <td align="right">10827kB</td>
   <td><tt>0283835658a9775655666d87d1d0c765afdb4e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdepim-addons-20.03.90.tar.xz">kdepim-addons-20.03.90</a></td>
   <td align="right">2017kB</td>
   <td><tt>c78996270643f8f79a765a9c7c35071af6e8b359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdepim-apps-libs-20.03.90.tar.xz">kdepim-apps-libs-20.03.90</a></td>
   <td align="right">82kB</td>
   <td><tt>852854ee982340781dface786a71eaccb4c70c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdepim-runtime-20.03.90.tar.xz">kdepim-runtime-20.03.90</a></td>
   <td align="right">1705kB</td>
   <td><tt>120b3e7eb98f01a40395938593d5d595664249f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdesdk-kioslaves-20.03.90.tar.xz">kdesdk-kioslaves-20.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>82f1488ff85fe89f1e6ff5a22d0481062c4cbfb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdesdk-thumbnailers-20.03.90.tar.xz">kdesdk-thumbnailers-20.03.90</a></td>
   <td align="right">17kB</td>
   <td><tt>d0b46604b2a77d8e919a57090359628451200cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdf-20.03.90.tar.xz">kdf-20.03.90</a></td>
   <td align="right">451kB</td>
   <td><tt>198b403358e927efd6fd49f6a775baf7276515b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdialog-20.03.90.tar.xz">kdialog-20.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>098d8e3a7a7395d219a7a1f833134072171d0484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kdiamond-20.03.90.tar.xz">kdiamond-20.03.90</a></td>
   <td align="right">4584kB</td>
   <td><tt>1e0739706141d0d22e238443dbe865882cf421b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/keditbookmarks-20.03.90.tar.xz">keditbookmarks-20.03.90</a></td>
   <td align="right">184kB</td>
   <td><tt>91383f8954c98d1ef1f6452addb396dfc95e624c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kfind-20.03.90.tar.xz">kfind-20.03.90</a></td>
   <td align="right">265kB</td>
   <td><tt>4c213716b300971894680a14a83c989e3c84700f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kfloppy-20.03.90.tar.xz">kfloppy-20.03.90</a></td>
   <td align="right">194kB</td>
   <td><tt>d2751a5655063e12ed69e973a4cd85fed15cffcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kfourinline-20.03.90.tar.xz">kfourinline-20.03.90</a></td>
   <td align="right">624kB</td>
   <td><tt>063ab268742d81f04fd23ef16d05d69261a69340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kgeography-20.03.90.tar.xz">kgeography-20.03.90</a></td>
   <td align="right">10590kB</td>
   <td><tt>5f4224aa9a536e316f04574773ee7b85d6b6ca04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kget-20.03.90.tar.xz">kget-20.03.90</a></td>
   <td align="right">5115kB</td>
   <td><tt>414a74deeb7b87863cb1bad0d5646eb760586ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kgoldrunner-20.03.90.tar.xz">kgoldrunner-20.03.90</a></td>
   <td align="right">4330kB</td>
   <td><tt>f0f54ab47a335e92ef170c3b6a7503bff332790b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kgpg-20.03.90.tar.xz">kgpg-20.03.90</a></td>
   <td align="right">2725kB</td>
   <td><tt>4e6aedb341de99733c7b8bc0064b6d20ea2ba493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/khangman-20.03.90.tar.xz">khangman-20.03.90</a></td>
   <td align="right">6959kB</td>
   <td><tt>0578451dca743c86ddfe876cd32823650ea929d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/khelpcenter-20.03.90.tar.xz">khelpcenter-20.03.90</a></td>
   <td align="right">3757kB</td>
   <td><tt>85f0541bc9e9428bc4c632f8626c225e3e9aa0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kidentitymanagement-20.03.90.tar.xz">kidentitymanagement-20.03.90</a></td>
   <td align="right">146kB</td>
   <td><tt>f5ee79fce85eeae0d90e2e7c6b6760c0de51091f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kig-20.03.90.tar.xz">kig-20.03.90</a></td>
   <td align="right">3415kB</td>
   <td><tt>3cbaaff14fc6b58b8b242e540bad64a5ef8cce25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kigo-20.03.90.tar.xz">kigo-20.03.90</a></td>
   <td align="right">5106kB</td>
   <td><tt>247a179afe03e22d0989fc249b9d112fe46f1027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/killbots-20.03.90.tar.xz">killbots-20.03.90</a></td>
   <td align="right">1148kB</td>
   <td><tt>06d6017a0ef3fa2b525be538bdf3652e277ca4f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kimagemapeditor-20.03.90.tar.xz">kimagemapeditor-20.03.90</a></td>
   <td align="right">1045kB</td>
   <td><tt>ec4713fb694359a3074b243e0a02ba66bb46f192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kimap-20.03.90.tar.xz">kimap-20.03.90</a></td>
   <td align="right">116kB</td>
   <td><tt>8613c0d605a0aaa2ca19e98e94a526397c4a25be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kio-extras-20.03.90.tar.xz">kio-extras-20.03.90</a></td>
   <td align="right">600kB</td>
   <td><tt>a57d124a0b9c09077aa6ce48c362ab49cb308af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kipi-plugins-20.03.90.tar.xz">kipi-plugins-20.03.90</a></td>
   <td align="right">1595kB</td>
   <td><tt>366688cd13d22b0ed15ac522dbbec0624703efd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kirigami-gallery-20.03.90.tar.xz">kirigami-gallery-20.03.90</a></td>
   <td align="right">272kB</td>
   <td><tt>425cf90aa142c0560dc02163272bf229ca56c3db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kiriki-20.03.90.tar.xz">kiriki-20.03.90</a></td>
   <td align="right">364kB</td>
   <td><tt>f4b2f32c952490f32059cacf97d2a09fc56c300b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kiten-20.03.90.tar.xz">kiten-20.03.90</a></td>
   <td align="right">11018kB</td>
   <td><tt>8b069dc613b411424f26c1ffccddbc1f99cbc11b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kitinerary-20.03.90.tar.xz">kitinerary-20.03.90</a></td>
   <td align="right">1254kB</td>
   <td><tt>84434289afc47b6a014107fe621c93dec2c18e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kjumpingcube-20.03.90.tar.xz">kjumpingcube-20.03.90</a></td>
   <td align="right">282kB</td>
   <td><tt>a76ba23f5d06526e76f0efaa7e7969c0f81be650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kldap-20.03.90.tar.xz">kldap-20.03.90</a></td>
   <td align="right">145kB</td>
   <td><tt>523a64f41c7eb12770dd3cb13418545169834816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kleopatra-20.03.90.tar.xz">kleopatra-20.03.90</a></td>
   <td align="right">1891kB</td>
   <td><tt>fac077f8dbd1c4f3c4cc684120bccc4ec3ce067b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/klettres-20.03.90.tar.xz">klettres-20.03.90</a></td>
   <td align="right">39198kB</td>
   <td><tt>2bf5c7044cb53545a9c7199010a8217cc85eb341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/klickety-20.03.90.tar.xz">klickety-20.03.90</a></td>
   <td align="right">1357kB</td>
   <td><tt>b402ff4be5e1f7a5f8d73706a842fbccb872f44f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/klines-20.03.90.tar.xz">klines-20.03.90</a></td>
   <td align="right">1741kB</td>
   <td><tt>81bbef826b8beb1ae056ef41f9f9751bc588e706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmag-20.03.90.tar.xz">kmag-20.03.90</a></td>
   <td align="right">658kB</td>
   <td><tt>c276dcbbc1c9fb990cc12a48956b8469a85fd9a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmahjongg-20.03.90.tar.xz">kmahjongg-20.03.90</a></td>
   <td align="right">3348kB</td>
   <td><tt>8e8339cc22e5b2e8cca86f2c8588578d768dae72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmail-20.03.90.tar.xz">kmail-20.03.90</a></td>
   <td align="right">4608kB</td>
   <td><tt>bb03934add3e68995b083af4257607dfe2826643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmail-account-wizard-20.03.90.tar.xz">kmail-account-wizard-20.03.90</a></td>
   <td align="right">155kB</td>
   <td><tt>a91433dddd73a41571ddc361ea1d5f24fc2be246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmailtransport-20.03.90.tar.xz">kmailtransport-20.03.90</a></td>
   <td align="right">163kB</td>
   <td><tt>6123cbdca789d29ea65e9f8b3aa7aa036265f455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmbox-20.03.90.tar.xz">kmbox-20.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>03d60bc0bb231f3be345b8a29847ff7dcf5c2105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmime-20.03.90.tar.xz">kmime-20.03.90</a></td>
   <td align="right">143kB</td>
   <td><tt>90a1e3b5786b627a71a1357bcaa73f0eb87edf13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmines-20.03.90.tar.xz">kmines-20.03.90</a></td>
   <td align="right">879kB</td>
   <td><tt>a70b77a1a04db655ea3bbffbebc1e5231d4772c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmix-20.03.90.tar.xz">kmix-20.03.90</a></td>
   <td align="right">983kB</td>
   <td><tt>531a26cb020b07f36ee88865cce1a2c39c9ec802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmousetool-20.03.90.tar.xz">kmousetool-20.03.90</a></td>
   <td align="right">111kB</td>
   <td><tt>2da045bed52ea5a6382f70f38e4a82a8ccb92498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmouth-20.03.90.tar.xz">kmouth-20.03.90</a></td>
   <td align="right">1920kB</td>
   <td><tt>c99d158b05541152985910332e286be8ccd2a170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kmplot-20.03.90.tar.xz">kmplot-20.03.90</a></td>
   <td align="right">2984kB</td>
   <td><tt>4a7bd9106e55f15942427e88e08f4a51bfc2f9fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/knavalbattle-20.03.90.tar.xz">knavalbattle-20.03.90</a></td>
   <td align="right">1252kB</td>
   <td><tt>d43ce8b934542e93aeff5349d294f77c0a29e11a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/knetwalk-20.03.90.tar.xz">knetwalk-20.03.90</a></td>
   <td align="right">1229kB</td>
   <td><tt>3ff8b052dac25ef317240f07fa72ee1c84111a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/knights-20.03.90.tar.xz">knights-20.03.90</a></td>
   <td align="right">3440kB</td>
   <td><tt>2a1f637c43e086dd9adaf0ae847c72c534e53d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/knotes-20.03.90.tar.xz">knotes-20.03.90</a></td>
   <td align="right">314kB</td>
   <td><tt>7048a3c73386085a0c6381f2a6cdfb7ac153d0a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kolf-20.03.90.tar.xz">kolf-20.03.90</a></td>
   <td align="right">995kB</td>
   <td><tt>1d8a7fc986463cf662a498a07c4bf12a14f12e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kollision-20.03.90.tar.xz">kollision-20.03.90</a></td>
   <td align="right">274kB</td>
   <td><tt>d59c0bb07194617149c5ec36bb5c82e42a56e236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kolourpaint-20.03.90.tar.xz">kolourpaint-20.03.90</a></td>
   <td align="right">5521kB</td>
   <td><tt>8b78e01cbf9fed3ffc618dc390665825f63dedfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kompare-20.03.90.tar.xz">kompare-20.03.90</a></td>
   <td align="right">783kB</td>
   <td><tt>e532c9bc6162d852971bd7ace41202eeae9904e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/konqueror-20.03.90.tar.xz">konqueror-20.03.90</a></td>
   <td align="right">7212kB</td>
   <td><tt>0c3ab3e97d7762b824fb4c70ac0c60ded63c83ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/konquest-20.03.90.tar.xz">konquest-20.03.90</a></td>
   <td align="right">645kB</td>
   <td><tt>07473ddbc20cf8068d8cb532e46a420914363098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/konsole-20.03.90.tar.xz">konsole-20.03.90</a></td>
   <td align="right">1140kB</td>
   <td><tt>6b95e3b73877bed0aeeb48ca737e0f59076fb9da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kontact-20.03.90.tar.xz">kontact-20.03.90</a></td>
   <td align="right">775kB</td>
   <td><tt>fab69460ec5ef2bb58c3d99ca8f6e52232a53461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kontactinterface-20.03.90.tar.xz">kontactinterface-20.03.90</a></td>
   <td align="right">32kB</td>
   <td><tt>495677db7f8d9aec626539289de34dfe7d31e29b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kopete-20.03.90.tar.xz">kopete-20.03.90</a></td>
   <td align="right">9163kB</td>
   <td><tt>ae2d59da212c7d0a6d54dcbd959048f3b1f219d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/korganizer-20.03.90.tar.xz">korganizer-20.03.90</a></td>
   <td align="right">2186kB</td>
   <td><tt>a30c45645e54df8892bd11869a449ec31103f6f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kpat-20.03.90.tar.xz">kpat-20.03.90</a></td>
   <td align="right">3494kB</td>
   <td><tt>243effbc3241d0bbffc2994b11a4d685865fd6c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kpimtextedit-20.03.90.tar.xz">kpimtextedit-20.03.90</a></td>
   <td align="right">165kB</td>
   <td><tt>613ad373213578991898ed2260f0b1cb4cdd9a35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kpkpass-20.03.90.tar.xz">kpkpass-20.03.90</a></td>
   <td align="right">22kB</td>
   <td><tt>69af76932614a61bc9013ac6d240a87aceec95e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kqtquickcharts-20.03.90.tar.xz">kqtquickcharts-20.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>a09f3afa511312ad14496bfc30ffde2c2591efa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/krdc-20.03.90.tar.xz">krdc-20.03.90</a></td>
   <td align="right">1391kB</td>
   <td><tt>55b14ebc3e205f8ac62eed6439eac1c4392fc560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kreversi-20.03.90.tar.xz">kreversi-20.03.90</a></td>
   <td align="right">925kB</td>
   <td><tt>eeb8086df4ccf6a95ee3eeb96b13c68260a8427f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/krfb-20.03.90.tar.xz">krfb-20.03.90</a></td>
   <td align="right">1247kB</td>
   <td><tt>42a1c38c42c529797aec759f2bdb2ad8d2f0765c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kross-interpreters-20.03.90.tar.xz">kross-interpreters-20.03.90</a></td>
   <td align="right">148kB</td>
   <td><tt>aac3653a933279682cad19ac1265da2ddc6c958d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kruler-20.03.90.tar.xz">kruler-20.03.90</a></td>
   <td align="right">244kB</td>
   <td><tt>3a87d5920e1ea9b1104fb783f30c54e464cb7b60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kshisen-20.03.90.tar.xz">kshisen-20.03.90</a></td>
   <td align="right">803kB</td>
   <td><tt>3f13a662eff9d8056bca9b420cf685575a1314ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ksirk-20.03.90.tar.xz">ksirk-20.03.90</a></td>
   <td align="right">6826kB</td>
   <td><tt>b57d4a32d6a46621a7d42ac8580ba9297701387c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ksmtp-20.03.90.tar.xz">ksmtp-20.03.90</a></td>
   <td align="right">40kB</td>
   <td><tt>91e479407ae31a32c54f21b08750f7e980522484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ksnakeduel-20.03.90.tar.xz">ksnakeduel-20.03.90</a></td>
   <td align="right">591kB</td>
   <td><tt>dbf7ecc8a4c50b985466574714fa042c2bdc0f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kspaceduel-20.03.90.tar.xz">kspaceduel-20.03.90</a></td>
   <td align="right">597kB</td>
   <td><tt>83eb523aa873fc25e1e59a9ea44c9958d2dc5308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ksquares-20.03.90.tar.xz">ksquares-20.03.90</a></td>
   <td align="right">255kB</td>
   <td><tt>be4a22dae0b91863f339b39dff64e0edf23a9bd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ksudoku-20.03.90.tar.xz">ksudoku-20.03.90</a></td>
   <td align="right">1616kB</td>
   <td><tt>536673df11d4e86685c34102bc6d9cfa0410b4cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ksystemlog-20.03.90.tar.xz">ksystemlog-20.03.90</a></td>
   <td align="right">1882kB</td>
   <td><tt>41c0a19e15354e3222269d21e6dd01e54d9049d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kteatime-20.03.90.tar.xz">kteatime-20.03.90</a></td>
   <td align="right">280kB</td>
   <td><tt>5ca26d68acb5c950ff0a419a2e4823a1d0bc86b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktimer-20.03.90.tar.xz">ktimer-20.03.90</a></td>
   <td align="right">368kB</td>
   <td><tt>81efb02b5982f12cde1e54e37114c155ae50d7f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktnef-20.03.90.tar.xz">ktnef-20.03.90</a></td>
   <td align="right">292kB</td>
   <td><tt>fa282f4ff0ed76832ccb4d8dd8f05483314e05ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktouch-20.03.90.tar.xz">ktouch-20.03.90</a></td>
   <td align="right">4819kB</td>
   <td><tt>b5e06dead269049f7637dc6283d861d896610490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-accounts-kcm-20.03.90.tar.xz">ktp-accounts-kcm-20.03.90</a></td>
   <td align="right">257kB</td>
   <td><tt>7d4414879b00407ad320c5cbb20e97bff28880d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-approver-20.03.90.tar.xz">ktp-approver-20.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>e3f7b97fd5385e8b47a3ed172a1f44eb73ece639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-auth-handler-20.03.90.tar.xz">ktp-auth-handler-20.03.90</a></td>
   <td align="right">45kB</td>
   <td><tt>08a0b11347c252ca69bb447a73f37461e342a7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-call-ui-20.03.90.tar.xz">ktp-call-ui-20.03.90</a></td>
   <td align="right">95kB</td>
   <td><tt>8132de1ee641570fd6d2eeab5bcf6a8eb5d57a95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-common-internals-20.03.90.tar.xz">ktp-common-internals-20.03.90</a></td>
   <td align="right">439kB</td>
   <td><tt>ebdf183974e8e86a6c0cf60ed5f451be8a4f07cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-contact-list-20.03.90.tar.xz">ktp-contact-list-20.03.90</a></td>
   <td align="right">145kB</td>
   <td><tt>a2e36cee9d6ba7282b485e627dfee6fdf6e47648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-contact-runner-20.03.90.tar.xz">ktp-contact-runner-20.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>81b0e25845f021f961af5bee172b6de60aff2f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-desktop-applets-20.03.90.tar.xz">ktp-desktop-applets-20.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>375ca3417005118c34aba08b5ee4671582bca207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-filetransfer-handler-20.03.90.tar.xz">ktp-filetransfer-handler-20.03.90</a></td>
   <td align="right">45kB</td>
   <td><tt>9afe2426256df29e7437b60f9857e9742c112c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-kded-module-20.03.90.tar.xz">ktp-kded-module-20.03.90</a></td>
   <td align="right">95kB</td>
   <td><tt>11578168bc7633692c093182593b3305d7b963ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-send-file-20.03.90.tar.xz">ktp-send-file-20.03.90</a></td>
   <td align="right">27kB</td>
   <td><tt>f91f451c289e29b9e91c008e458d637fdce8e443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktp-text-ui-20.03.90.tar.xz">ktp-text-ui-20.03.90</a></td>
   <td align="right">460kB</td>
   <td><tt>8ffe00f08b7c668fcea69d1e40c1f13d84ff6191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/ktuberling-20.03.90.tar.xz">ktuberling-20.03.90</a></td>
   <td align="right">69083kB</td>
   <td><tt>79e70d386e9629428302a80c3c3fd1b2458b0e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kturtle-20.03.90.tar.xz">kturtle-20.03.90</a></td>
   <td align="right">1790kB</td>
   <td><tt>19b528b5f12713060029663236637f29b64ab5ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kubrick-20.03.90.tar.xz">kubrick-20.03.90</a></td>
   <td align="right">310kB</td>
   <td><tt>8eb616d777dd8855fb83adb3ab5b6d2618d184ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kwalletmanager-20.03.90.tar.xz">kwalletmanager-20.03.90</a></td>
   <td align="right">769kB</td>
   <td><tt>781b58f07b8b18a045cd6c9393210b0ed07be3ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kwave-20.03.90.tar.xz">kwave-20.03.90</a></td>
   <td align="right">6048kB</td>
   <td><tt>8059981e9674efa4e70c32da274e0dd0aacf9da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/kwordquiz-20.03.90.tar.xz">kwordquiz-20.03.90</a></td>
   <td align="right">4075kB</td>
   <td><tt>bc500bc14a6258d8a18277baf5d440c5e3882c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libgravatar-20.03.90.tar.xz">libgravatar-20.03.90</a></td>
   <td align="right">30kB</td>
   <td><tt>148f98e24059f777d161b5f06cca8c73c3850938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkcddb-20.03.90.tar.xz">libkcddb-20.03.90</a></td>
   <td align="right">415kB</td>
   <td><tt>2a5df9ba178e4ccd26922e5019049c42e19aa6ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkcompactdisc-20.03.90.tar.xz">libkcompactdisc-20.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>ec9f7f9ba7494228f34d44b1c45c6b470fd2ba4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkdcraw-20.03.90.tar.xz">libkdcraw-20.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>9c2bab3cd00e65aeb033b6257a4e77e8478e9a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkdegames-20.03.90.tar.xz">libkdegames-20.03.90</a></td>
   <td align="right">6243kB</td>
   <td><tt>0cdce50b3877a2859533f0d1a69cbdc2bf18341e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkdepim-20.03.90.tar.xz">libkdepim-20.03.90</a></td>
   <td align="right">325kB</td>
   <td><tt>6d20c61ca5e5f63f441e229fa9b20075f69ef5a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkeduvocdocument-20.03.90.tar.xz">libkeduvocdocument-20.03.90</a></td>
   <td align="right">201kB</td>
   <td><tt>88cac37345980f1abafe54157d33b262f38e0ab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkexiv2-20.03.90.tar.xz">libkexiv2-20.03.90</a></td>
   <td align="right">62kB</td>
   <td><tt>a2cf95203ad8a4658bdff742155a31dbdd642a43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkgapi-20.03.90.tar.xz">libkgapi-20.03.90</a></td>
   <td align="right">232kB</td>
   <td><tt>3eb268a1d2d70bda4b46979fa8141787a6e0ea52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkgeomap-20.03.90.tar.xz">libkgeomap-20.03.90</a></td>
   <td align="right">147kB</td>
   <td><tt>0c748c57dd46e47d8e0d9de433a6027a068abb3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkipi-20.03.90.tar.xz">libkipi-20.03.90</a></td>
   <td align="right">100kB</td>
   <td><tt>03f8c716f14fe5ad9732fc43f4c019e752c950ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkleo-20.03.90.tar.xz">libkleo-20.03.90</a></td>
   <td align="right">342kB</td>
   <td><tt>4cf25ce041acea63fed6c7e8063d78f53f825a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkmahjongg-20.03.90.tar.xz">libkmahjongg-20.03.90</a></td>
   <td align="right">1644kB</td>
   <td><tt>2fb9d5fa155dabdb8e96a2fcd59841e53e486805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libkomparediff2-20.03.90.tar.xz">libkomparediff2-20.03.90</a></td>
   <td align="right">166kB</td>
   <td><tt>5fbe39f8b2aa0999f2322242fdf41da78032e57c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libksane-20.03.90.tar.xz">libksane-20.03.90</a></td>
   <td align="right">139kB</td>
   <td><tt>6e214c8aa6b6bb2afd450c3630aad1ada04d0a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/libksieve-20.03.90.tar.xz">libksieve-20.03.90</a></td>
   <td align="right">541kB</td>
   <td><tt>b0629124ea9bcfc7572bc3d9efc53556521dafb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/lokalize-20.03.90.tar.xz">lokalize-20.03.90</a></td>
   <td align="right">1677kB</td>
   <td><tt>13d000fdb0869f670e0b5579a7fb1b1f6a76be42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/lskat-20.03.90.tar.xz">lskat-20.03.90</a></td>
   <td align="right">1191kB</td>
   <td><tt>c69ec140181bff6f9b75e5a96bb2217e73cf113b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/mailcommon-20.03.90.tar.xz">mailcommon-20.03.90</a></td>
   <td align="right">690kB</td>
   <td><tt>2fb59699a716ae402cf5efda374882f864349e23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/mailimporter-20.03.90.tar.xz">mailimporter-20.03.90</a></td>
   <td align="right">527kB</td>
   <td><tt>8bd0eb0ae80e002c2583f9c2123d77da754ef285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/marble-20.03.90.tar.xz">marble-20.03.90</a></td>
   <td align="right">51372kB</td>
   <td><tt>301a3f84ffe682df131d7af31b3ef5565e0f6a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/mbox-importer-20.03.90.tar.xz">mbox-importer-20.03.90</a></td>
   <td align="right">32kB</td>
   <td><tt>c3140475a6c55f85271a822de124f94467ab51e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/messagelib-20.03.90.tar.xz">messagelib-20.03.90</a></td>
   <td align="right">10239kB</td>
   <td><tt>a3dccc093be8097c2c3713df82943bd9285be938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/minuet-20.03.90.tar.xz">minuet-20.03.90</a></td>
   <td align="right">26957kB</td>
   <td><tt>08cfb9e66f640e38be4651e064408c2237b5b777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/okular-20.03.90.tar.xz">okular-20.03.90</a></td>
   <td align="right">7070kB</td>
   <td><tt>f05aab59f4f52ecf612449f9d1d2fc52e848ed1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/palapeli-20.03.90.tar.xz">palapeli-20.03.90</a></td>
   <td align="right">2024kB</td>
   <td><tt>b319f07491e56a6a7eeac6369d6667ec9737bfc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/parley-20.03.90.tar.xz">parley-20.03.90</a></td>
   <td align="right">8626kB</td>
   <td><tt>1895ed655be2f81568d945734f78cbbb55d731ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/picmi-20.03.90.tar.xz">picmi-20.03.90</a></td>
   <td align="right">1329kB</td>
   <td><tt>92ab5218fd5d559be7b9978e1989a75fbdbefebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/pimcommon-20.03.90.tar.xz">pimcommon-20.03.90</a></td>
   <td align="right">287kB</td>
   <td><tt>c1bd3616a2e2182c34ffe4d623875038c08843a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/pim-data-exporter-20.03.90.tar.xz">pim-data-exporter-20.03.90</a></td>
   <td align="right">202kB</td>
   <td><tt>6ab5f2c608f10f2bce2c7341c61dbf70e071658b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/pim-sieve-editor-20.03.90.tar.xz">pim-sieve-editor-20.03.90</a></td>
   <td align="right">442kB</td>
   <td><tt>c2004526ab97daedb7611b4c7d246439680d901d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/poxml-20.03.90.tar.xz">poxml-20.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>8945701ae97ac3bbaa0adf221612410e58479846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/print-manager-20.03.90.tar.xz">print-manager-20.03.90</a></td>
   <td align="right">249kB</td>
   <td><tt>52c69b364fba0d71f9243b597bec8cbca43894d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/rocs-20.03.90.tar.xz">rocs-20.03.90</a></td>
   <td align="right">1471kB</td>
   <td><tt>7b86f03f7fe0baac2ba40eedaf531667dc778d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/signon-kwallet-extension-20.03.90.tar.xz">signon-kwallet-extension-20.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>28d02e99f39e8a8499df6c2e25eb958f61f298de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/spectacle-20.03.90.tar.xz">spectacle-20.03.90</a></td>
   <td align="right">644kB</td>
   <td><tt>03ec3576373ff9eb455238f3ba98b257428efbd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/step-20.03.90.tar.xz">step-20.03.90</a></td>
   <td align="right">898kB</td>
   <td><tt>6a85d8edc9765cabc4252d0d26e86b47f8191e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/svgpart-20.03.90.tar.xz">svgpart-20.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>2988927a572989507b407ce2db4afeb437211e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/sweeper-20.03.90.tar.xz">sweeper-20.03.90</a></td>
   <td align="right">359kB</td>
   <td><tt>ce6c24318b655d8a7ac5ab74f269b8607cbdfb40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/umbrello-20.03.90.tar.xz">umbrello-20.03.90</a></td>
   <td align="right">4276kB</td>
   <td><tt>3bed9bbe1c22a9056c8e57eba84a6141fe1e2fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/yakuake-20.03.90.tar.xz">yakuake-20.03.90</a></td>
   <td align="right">366kB</td>
   <td><tt>d91e22a619a12fa1f274d7ee62421781a14470b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.03.90/src/zeroconf-ioslave-20.03.90.tar.xz">zeroconf-ioslave-20.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>6f22b001f8a3409757ab7cf8f0ef5416f29c76aa</tt></td>
</tr>

</table>
