/*
 * SPDX-FileCopyrightText: 2020 (c) Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

img {
  border: 0px;
}

ul {
  list-style-type: none;
}

.text-center ul {
  list-style-type: none;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

main li:not(.breadcrumb-item) {
  position: relative;
  &:before {
    content: ">";
    font-family: "glyph";
    font-size: 60%;
    position: absolute;
    top: 0.8ex;
    left: -20px;
    font-weight: bold;
    color: #3bb566;
  }
}

.retro {
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
  padding: 20px 50px;
}

.date {
  font-size: 50%;
}

.tables {
  margin: 10px auto;
  width: 80%;
}

h3 {
  text-align: left;
}

p {
  text-align: left;
}

.youtube {
  margin: 0 auto;
  width: 50%;

  @media (max-width: 760px) {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .tables {
    tr.table-row {
      background: none !important;
    }
  }
}

figure {
  text-align: center;
  figcaption {
    p {
      text-align: center;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.get-it {
	border-top: solid 1px #eff1f1;
	border-bottom: solid 1px #eff1f1;
	padding: 10px 0px 20px;
	margin: 10px 0px;
}

.store-badge-img {
    max-width: 200px;
}

.max-width-800 {
  max-width: 800px;
}
@media (max-width: 799.98px) {
  .max-width-800 {
    max-width: 100%;
  }
}
