/*
 * SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu.nguyen@kdemail.net>
 * SPDX-License-Identifier: LGPL-3.0-or-later
 */

.highlight-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "konsole      kdenlive"
    "konsole-desc kdenlive-desc";
}
.konsole {
  grid-area: konsole;
}
.konsole-desc {
  grid-area: konsole-desc;
}
.kdenlive {
  grid-area: kdenlive;
}
.kdenlive-desc {
  grid-area: kdenlive-desc;
}
.konsole, .kdenlive {
  align-self: end;
  margin: 20px;
}
@media (max-width: 767px) {
  .highlight-grid {
    display: flex;
    flex-direction: column;
  }
  .konsole, .kdenlive {
    width: 100%;
    align-self: center;
    margin: 0;
    margin-top: 20px;
  }
}


.hero-image {
  background-position: 0 50%;
}
