// SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
// SPDX-License-Identifier: LGPL-2.1-or-later

.app-category,.international-site {
   float: left;
   display: table-cell;
   max-width: 240px;
   width: 240px;
   height: 60px;
   max-height: 60px!important;
   text-align: left;
}

.app-category img,.international-site img {
   float: left;
   margin: 0 10px 0 0!important;
}

.app-category a,.international-site a {
   font-size: 12pt;
   font-weight: 700;
   text-decoration: none;
}

.international-site {
   height: auto!important;
}
