/**
 * SPDX-FileCopyrightText: 2019 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2017 (c) Ken Vermette <vermette@gmail.com>
 * SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.latest-plasma {
  background-image: url(/reusable-assets/home-blur.jpg);
  background-size: cover;
}
.latest-plasma * {
  color: black !important;
}

.grid {
  --grid-layout-gap: 1rem;
  --grid-column-count: 2;
  --grid-item--min-width: 350px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(\max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  grid-auto-rows: 1fr;
}
.bg-red {
  background-image: linear-gradient(-135deg, rgba(218,68,83,0.2), rgba(231,76,60, 0.2));
}

.bg-blue {
  background-image: linear-gradient(-135deg, rgba(61,174,233,0.2), rgba(29,153,243, 0.2));
}

.bg-green {
  background-image: linear-gradient(-135deg, rgba(39,174,96,0.2), rgba(46,204,113, 0.2));
}

.bg-yellow {
  background-image: linear-gradient(-135deg, rgba(253,188,75,0.2), rgba(246,116,0, 0.2));
}

.bg-orange {
  background-color: rgba(246,116,0,.05)
}

.bg-purple {
  background-image: linear-gradient(-135deg, #9b59b611, #8e44ad11);
}
