<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadi-18.07.90.tar.xz">akonadi-18.07.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0ccb0fb123bf265c4e66c816c7981b419885974f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadi-calendar-18.07.90.tar.xz">akonadi-calendar-18.07.90</a></td>
   <td align="right">328kB</td>
   <td><tt>3b5e10fb6e852e8716305fae432dd8f2c5efee94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadi-calendar-tools-18.07.90.tar.xz">akonadi-calendar-tools-18.07.90</a></td>
   <td align="right">220kB</td>
   <td><tt>940e5a85192b1f3f7d5a476638bc1deb6288b9da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadiconsole-18.07.90.tar.xz">akonadiconsole-18.07.90</a></td>
   <td align="right">187kB</td>
   <td><tt>6389afceebf333d8a4f1bdebf097fa15aa35f415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadi-contacts-18.07.90.tar.xz">akonadi-contacts-18.07.90</a></td>
   <td align="right">383kB</td>
   <td><tt>d6353ef7c1e236e7ffb137b5ea389a381a9fa0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadi-import-wizard-18.07.90.tar.xz">akonadi-import-wizard-18.07.90</a></td>
   <td align="right">429kB</td>
   <td><tt>d2554c345909766620a3a655cefcfc9cc21b28a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadi-mime-18.07.90.tar.xz">akonadi-mime-18.07.90</a></td>
   <td align="right">134kB</td>
   <td><tt>1c296966c6b1bb768a27b8fcdf72b0fb5ed785e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadi-notes-18.07.90.tar.xz">akonadi-notes-18.07.90</a></td>
   <td align="right">24kB</td>
   <td><tt>dc3d0a14d5521befc298d062425478e70b4bc4c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akonadi-search-18.07.90.tar.xz">akonadi-search-18.07.90</a></td>
   <td align="right">80kB</td>
   <td><tt>973831536cc3ef2b0f4e0d4b95c682fa0fbf5c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/akregator-18.07.90.tar.xz">akregator-18.07.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0de546fcd9a3f7b9853d68f7f9e358fb65555f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/analitza-18.07.90.tar.xz">analitza-18.07.90</a></td>
   <td align="right">323kB</td>
   <td><tt>247982055596edf707eaae8e28002b35bbe74648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ark-18.07.90.tar.xz">ark-18.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b799f543359520ee670e48eced9d35548da32320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/artikulate-18.07.90.tar.xz">artikulate-18.07.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>37d652d7b921c3b4fa86705c34edeaea216c86f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/audiocd-kio-18.07.90.tar.xz">audiocd-kio-18.07.90</a></td>
   <td align="right">243kB</td>
   <td><tt>2405e6c041f79f0d5c11cbe7d97d85797193df03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/baloo-widgets-18.07.90.tar.xz">baloo-widgets-18.07.90</a></td>
   <td align="right">241kB</td>
   <td><tt>e10596d9caeacc2d656da638edb526e892ae71d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/blinken-18.07.90.tar.xz">blinken-18.07.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>555dd84f4a05efe0ec6c555edbab061da0a3d300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/bomber-18.07.90.tar.xz">bomber-18.07.90</a></td>
   <td align="right">800kB</td>
   <td><tt>2cb25239a46d9a39bc32dd595fcf95958dcee6a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/bovo-18.07.90.tar.xz">bovo-18.07.90</a></td>
   <td align="right">194kB</td>
   <td><tt>1fe7b73740ad4dedbb8ea913de6ac2f64f32f30b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/calendarsupport-18.07.90.tar.xz">calendarsupport-18.07.90</a></td>
   <td align="right">634kB</td>
   <td><tt>cc1b47c3f3f895e9a7a9093d7aa184b5f36634f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/cantor-18.07.90.tar.xz">cantor-18.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>66b540181cd05022156813713f21c08c3c4b0a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/cervisia-18.07.90.tar.xz">cervisia-18.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>807f48fe39ab39110e22c40f0d6ab3ad1e97bc22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/dolphin-18.07.90.tar.xz">dolphin-18.07.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>d0855b0a0b5b1f60a08057d147cf3039610f3b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/dolphin-plugins-18.07.90.tar.xz">dolphin-plugins-18.07.90</a></td>
   <td align="right">188kB</td>
   <td><tt>fa2b27de026ec66473099e17694ede76d6d37f48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/dragon-18.07.90.tar.xz">dragon-18.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8dcbce425d4a060da1609af350c2ff1e2c938549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/eventviews-18.07.90.tar.xz">eventviews-18.07.90</a></td>
   <td align="right">432kB</td>
   <td><tt>75c8550eef068d47388d7a2428b3e56925feb608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ffmpegthumbs-18.07.90.tar.xz">ffmpegthumbs-18.07.90</a></td>
   <td align="right">21kB</td>
   <td><tt>912a94570623a82905f6a99c4749e078d7a24b6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/filelight-18.07.90.tar.xz">filelight-18.07.90</a></td>
   <td align="right">643kB</td>
   <td><tt>0983fa749e4cf226feddf49051058d971ac9d343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/granatier-18.07.90.tar.xz">granatier-18.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5f4ad93133b6566033df7c6af5b361dd4a5edbaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/grantlee-editor-18.07.90.tar.xz">grantlee-editor-18.07.90</a></td>
   <td align="right">108kB</td>
   <td><tt>3492b13801b38193198a056d853ea4a974bb0b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/grantleetheme-18.07.90.tar.xz">grantleetheme-18.07.90</a></td>
   <td align="right">50kB</td>
   <td><tt>cc3c0ce7a16c08d11bc7ea0e4bffc74bb21cd911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/gwenview-18.07.90.tar.xz">gwenview-18.07.90</a></td>
   <td align="right">5.8MB</td>
   <td><tt>78e25cfb547d86d13b063fecd924790b16329268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/incidenceeditor-18.07.90.tar.xz">incidenceeditor-18.07.90</a></td>
   <td align="right">514kB</td>
   <td><tt>ec263b0314210e46dcc3ffb365f7cd4d4a4bc051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/juk-18.07.90.tar.xz">juk-18.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f795791d149d7c530a612a74c8108de975e53a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/k3b-18.07.90.tar.xz">k3b-18.07.90</a></td>
   <td align="right">10MB</td>
   <td><tt>886003f47a10f7ac97f482243b1246d477f2189e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kaccounts-integration-18.07.90.tar.xz">kaccounts-integration-18.07.90</a></td>
   <td align="right">70kB</td>
   <td><tt>cd8e4d80e89c272017a1437a400b33ceebfcde7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kaccounts-providers-18.07.90.tar.xz">kaccounts-providers-18.07.90</a></td>
   <td align="right">31kB</td>
   <td><tt>42818ae093dea8acc03baf3b7b560ac8bbbd9555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kaddressbook-18.07.90.tar.xz">kaddressbook-18.07.90</a></td>
   <td align="right">533kB</td>
   <td><tt>602f1bd8100e800be414e7a6de6b7bb3a2d4150b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kajongg-18.07.90.tar.xz">kajongg-18.07.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>bfd0e362c0300cc64eecc284a2c4f067840c9f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kalarm-18.07.90.tar.xz">kalarm-18.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fe480aeebcc6f8788654144917866771f553aff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kalarmcal-18.07.90.tar.xz">kalarmcal-18.07.90</a></td>
   <td align="right">577kB</td>
   <td><tt>a0d18d56c01c5df1ccd6d098623b03ca83e0b21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kalgebra-18.07.90.tar.xz">kalgebra-18.07.90</a></td>
   <td align="right">692kB</td>
   <td><tt>02e4a4afa0d89aa0ea1082b2fe5b23cfef832094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kalzium-18.07.90.tar.xz">kalzium-18.07.90</a></td>
   <td align="right">23MB</td>
   <td><tt>83f1b6f211c30d337f0d714949af36adbbca248d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kamera-18.07.90.tar.xz">kamera-18.07.90</a></td>
   <td align="right">95kB</td>
   <td><tt>7ee8bd7e0fd1c4c2eb0f1bac578d4e0648736353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kamoso-18.07.90.tar.xz">kamoso-18.07.90</a></td>
   <td align="right">178kB</td>
   <td><tt>d6f1b706adadf099ff9204247419a8ea2182b696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kanagram-18.07.90.tar.xz">kanagram-18.07.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>1dcdc14effab364309c9f0af752710bdc20d4aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kapman-18.07.90.tar.xz">kapman-18.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>31b7454cb45cc587cdcfbe996af07a40128320f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kapptemplate-18.07.90.tar.xz">kapptemplate-18.07.90</a></td>
   <td align="right">310kB</td>
   <td><tt>c38585cc7290a247131eabd7a768be9710e6751c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kate-18.07.90.tar.xz">kate-18.07.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a42b5211f5f859785c3b497d767de05b490008d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/katomic-18.07.90.tar.xz">katomic-18.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ff9c4e40ef59332c6c798106745d83f939058fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kbackup-18.07.90.tar.xz">kbackup-18.07.90</a></td>
   <td align="right">342kB</td>
   <td><tt>262245ffde3fded1958be31ff195a93b8520fc2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kblackbox-18.07.90.tar.xz">kblackbox-18.07.90</a></td>
   <td align="right">395kB</td>
   <td><tt>ec9884021eba6f859cb875a3e9098e04404b75dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kblocks-18.07.90.tar.xz">kblocks-18.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0d1c04861b67781f02bef9990962238b89b2b2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kblog-18.07.90.tar.xz">kblog-18.07.90</a></td>
   <td align="right">71kB</td>
   <td><tt>7d581f8ee7e44ef2552156a7fb7bfedc551246da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kbounce-18.07.90.tar.xz">kbounce-18.07.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>0bfef366e0e8c1d3406234f16027ae0d80c10f1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kbreakout-18.07.90.tar.xz">kbreakout-18.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ade16a5790c494cd8bb8b8f5c1d1d380dab5cccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kbruch-18.07.90.tar.xz">kbruch-18.07.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>e1774b953a516a840d8e5e705ccdf0cd064cf748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kcachegrind-18.07.90.tar.xz">kcachegrind-18.07.90</a></td>
   <td align="right">793kB</td>
   <td><tt>83512cb8d85671f15437383ba67183b4f827e151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kcalc-18.07.90.tar.xz">kcalc-18.07.90</a></td>
   <td align="right">353kB</td>
   <td><tt>f06ff93edb9e77eafd3e22d4b74ab23484014e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kcalcore-18.07.90.tar.xz">kcalcore-18.07.90</a></td>
   <td align="right">245kB</td>
   <td><tt>0b468e40106acec2e888ce4bc63df77e92738b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kcalutils-18.07.90.tar.xz">kcalutils-18.07.90</a></td>
   <td align="right">319kB</td>
   <td><tt>2f57ed54756fe911e007532a3a8115e4971eeeac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kcharselect-18.07.90.tar.xz">kcharselect-18.07.90</a></td>
   <td align="right">346kB</td>
   <td><tt>ef8690aa32ca4b1f6ae2a84a5d195316c85a0d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kcolorchooser-18.07.90.tar.xz">kcolorchooser-18.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>b50d680646cc0bd9021655f5f3bc135378fb0424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kcontacts-18.07.90.tar.xz">kcontacts-18.07.90</a></td>
   <td align="right">203kB</td>
   <td><tt>3b5e90346e236af31b8b8800cd0450c17dcc2403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kcron-18.07.90.tar.xz">kcron-18.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bfe6059817ba78ba46246f0865ff9866c901e2cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdav-18.07.90.tar.xz">kdav-18.07.90</a></td>
   <td align="right">48kB</td>
   <td><tt>5fcb9c3fe5831a1bd114f9c184aea0f764dd1e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdebugsettings-18.07.90.tar.xz">kdebugsettings-18.07.90</a></td>
   <td align="right">51kB</td>
   <td><tt>ed724972a6c965d7c17435bd4c8f7aa38508d4cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kde-dev-scripts-18.07.90.tar.xz">kde-dev-scripts-18.07.90</a></td>
   <td align="right">368kB</td>
   <td><tt>43715403ad17771700bef8f563fe8a437a5c9384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kde-dev-utils-18.07.90.tar.xz">kde-dev-utils-18.07.90</a></td>
   <td align="right">60kB</td>
   <td><tt>145595068fdc35b8c9dba6154fc783287286af13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdeedu-data-18.07.90.tar.xz">kdeedu-data-18.07.90</a></td>
   <td align="right">320kB</td>
   <td><tt>16e11f1e7293ce7d9b244dafe2c50f4263e7a9ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdegraphics-mobipocket-18.07.90.tar.xz">kdegraphics-mobipocket-18.07.90</a></td>
   <td align="right">13kB</td>
   <td><tt>fef30cf278f8ba2207fb4c9059210476d794f63c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdegraphics-thumbnailers-18.07.90.tar.xz">kdegraphics-thumbnailers-18.07.90</a></td>
   <td align="right">40kB</td>
   <td><tt>9e1e0cbf92fd9a53d7236f5e3df644ac3dfe6ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdenetwork-filesharing-18.07.90.tar.xz">kdenetwork-filesharing-18.07.90</a></td>
   <td align="right">316kB</td>
   <td><tt>b1cbe35a164a440242746f641bdd1f2dfdcd0d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdenlive-18.07.90.tar.xz">kdenlive-18.07.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>290a1d3ba7440dca7f6ec06b695a7b9d275108d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdepim-addons-18.07.90.tar.xz">kdepim-addons-18.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9be0b8b60eb85537e541bcfca0dc7f6f89c6d266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdepim-apps-libs-18.07.90.tar.xz">kdepim-apps-libs-18.07.90</a></td>
   <td align="right">71kB</td>
   <td><tt>1ce008b4fdae84cc9dd6be1d5e901790ccb7d936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdepim-runtime-18.07.90.tar.xz">kdepim-runtime-18.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>03794edfaef239e32b311a75f12219c4a4847624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdesdk-kioslaves-18.07.90.tar.xz">kdesdk-kioslaves-18.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>553de89f9ccbc9da6339d8011f22ca6691e626a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdesdk-thumbnailers-18.07.90.tar.xz">kdesdk-thumbnailers-18.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>84ac2aedb6a307f6d603eaafdbb417dfd92c2efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdf-18.07.90.tar.xz">kdf-18.07.90</a></td>
   <td align="right">521kB</td>
   <td><tt>54dcb3b3f571c5a4c4d5606684cfeb934c719043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdialog-18.07.90.tar.xz">kdialog-18.07.90</a></td>
   <td align="right">94kB</td>
   <td><tt>e81ed76eb51437840bdaf90f1a59f03c08c1f055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kdiamond-18.07.90.tar.xz">kdiamond-18.07.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>a59ee7205f39e7d3ea5fee0d40175d67e812018c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/keditbookmarks-18.07.90.tar.xz">keditbookmarks-18.07.90</a></td>
   <td align="right">179kB</td>
   <td><tt>c750b06c0ecbd04bab46f2aaf14a241e92b24d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kfind-18.07.90.tar.xz">kfind-18.07.90</a></td>
   <td align="right">205kB</td>
   <td><tt>37b55ecb0b66b65c21cef1d66476a61b40da2fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kfloppy-18.07.90.tar.xz">kfloppy-18.07.90</a></td>
   <td align="right">195kB</td>
   <td><tt>7584fb20cdf9101277f69497e1e762593088b84e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kfourinline-18.07.90.tar.xz">kfourinline-18.07.90</a></td>
   <td align="right">560kB</td>
   <td><tt>be5de200993685cc6143d91df5dfbda5fe9f9642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kgeography-18.07.90.tar.xz">kgeography-18.07.90</a></td>
   <td align="right">10MB</td>
   <td><tt>b492e21ae8124d290611f848ccb825cf8916bf19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kget-18.07.90.tar.xz">kget-18.07.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>a8ab2996d5c796486d4eeeab009fadf967f5d51a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kgoldrunner-18.07.90.tar.xz">kgoldrunner-18.07.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>688fc928ced3420453d98a08e399d83aaa29fddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kgpg-18.07.90.tar.xz">kgpg-18.07.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>92745fe0dabea044f7e3ea07096eb117cd2eedae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/khangman-18.07.90.tar.xz">khangman-18.07.90</a></td>
   <td align="right">6.9MB</td>
   <td><tt>4d764620305a3b9dd8709175d4f5135b94bec6d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/khelpcenter-18.07.90.tar.xz">khelpcenter-18.07.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>86a592a27e37d4685567535613eff137f37aac72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kidentitymanagement-18.07.90.tar.xz">kidentitymanagement-18.07.90</a></td>
   <td align="right">144kB</td>
   <td><tt>7666135e127d5816e0658bf22bec210364204222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kig-18.07.90.tar.xz">kig-18.07.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>9968403fedabba3ba9af4ab411d4fe277dfa5c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kigo-18.07.90.tar.xz">kigo-18.07.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>3b38d3b5ed206e3a2f01f8bc063aa0c1ec84ce67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/killbots-18.07.90.tar.xz">killbots-18.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4e49562df640dab1029b24236f2af0fb1ca7f6d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kimagemapeditor-18.07.90.tar.xz">kimagemapeditor-18.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>628b60870880e0869c5a03f51de06aa6592d29d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kimap-18.07.90.tar.xz">kimap-18.07.90</a></td>
   <td align="right">116kB</td>
   <td><tt>b3c453b26324ce86b5c866e9a1e5555bf27b7512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kio-extras-18.07.90.tar.xz">kio-extras-18.07.90</a></td>
   <td align="right">536kB</td>
   <td><tt>ed37f1c8e5c4c18c09bea97ac22831707454ecca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kiriki-18.07.90.tar.xz">kiriki-18.07.90</a></td>
   <td align="right">319kB</td>
   <td><tt>5eb258a9563ac3b4f934a33cbc2d3b9701270a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kiten-18.07.90.tar.xz">kiten-18.07.90</a></td>
   <td align="right">11MB</td>
   <td><tt>f588950d801cddc1f26a5cdf3777fe61c7651f27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kitinerary-18.07.90.tar.xz">kitinerary-18.07.90</a></td>
   <td align="right">606kB</td>
   <td><tt>5c7e914559b5b7a33705cd4eb0995abfd46716a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kjumpingcube-18.07.90.tar.xz">kjumpingcube-18.07.90</a></td>
   <td align="right">287kB</td>
   <td><tt>5e7864f4c44d68d78c5c734bf1545799e72f92ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kldap-18.07.90.tar.xz">kldap-18.07.90</a></td>
   <td align="right">152kB</td>
   <td><tt>67980fe029ba0bec50244b3ca8c3f556404ef6fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kleopatra-18.07.90.tar.xz">kleopatra-18.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2e4631291b667264e9fef3417e67b68b168505dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/klettres-18.07.90.tar.xz">klettres-18.07.90</a></td>
   <td align="right">20MB</td>
   <td><tt>b8e1ff7c6b6862586cc8d44b5e5e06916c0fe978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/klickety-18.07.90.tar.xz">klickety-18.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>23403ad8664362740e611212aa190cdf7fb49195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/klines-18.07.90.tar.xz">klines-18.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>16c0378ca619a91acdeef7ac28889e396331e4df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmag-18.07.90.tar.xz">kmag-18.07.90</a></td>
   <td align="right">614kB</td>
   <td><tt>a3375d526f6fd9715a877b7c5ac01863c1fcbfc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmahjongg-18.07.90.tar.xz">kmahjongg-18.07.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>aad9a64d505838360544090df43131cfbdb1609b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmail-18.07.90.tar.xz">kmail-18.07.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>65fa8e4cc2b68b70c7bbfdd27b9008febbbed875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmail-account-wizard-18.07.90.tar.xz">kmail-account-wizard-18.07.90</a></td>
   <td align="right">152kB</td>
   <td><tt>4ead85832c2ea0a5fb975e798f031537c1f39b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmailtransport-18.07.90.tar.xz">kmailtransport-18.07.90</a></td>
   <td align="right">162kB</td>
   <td><tt>eab989e0685447110398f23c46b4381a9aceb11e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmbox-18.07.90.tar.xz">kmbox-18.07.90</a></td>
   <td align="right">23kB</td>
   <td><tt>52d06d666401e1d5384d174ef70cd26f43e1c8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmime-18.07.90.tar.xz">kmime-18.07.90</a></td>
   <td align="right">143kB</td>
   <td><tt>1e2a4e180cc035708f7bcec83416810cac9b1d45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmines-18.07.90.tar.xz">kmines-18.07.90</a></td>
   <td align="right">861kB</td>
   <td><tt>3ba54779d83b33129db9723f5646183a1fc715be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmix-18.07.90.tar.xz">kmix-18.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fabc50b370deadb32ecf0e76d69b0217d5404663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmousetool-18.07.90.tar.xz">kmousetool-18.07.90</a></td>
   <td align="right">110kB</td>
   <td><tt>cbc420a624b162da113b450647df4c1712ca78bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmouth-18.07.90.tar.xz">kmouth-18.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3f9cea100d2f3f7e6bd0fd181a7133ebaf54604b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kmplot-18.07.90.tar.xz">kmplot-18.07.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>9cfa5225ce736c0edda26756c3658f9665c3e46f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/knavalbattle-18.07.90.tar.xz">knavalbattle-18.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d5ebfb34142c786fa945cbca8efc9f48bea1a2ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/knetwalk-18.07.90.tar.xz">knetwalk-18.07.90</a></td>
   <td align="right">958kB</td>
   <td><tt>f31e627be100e3d1126e3103349c67ab225a3265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/knotes-18.07.90.tar.xz">knotes-18.07.90</a></td>
   <td align="right">331kB</td>
   <td><tt>0cd1fe5437648d3515a1539e0b3284b332fa2c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kolf-18.07.90.tar.xz">kolf-18.07.90</a></td>
   <td align="right">903kB</td>
   <td><tt>5d4777d408693df4c370536335b25586248074a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kollision-18.07.90.tar.xz">kollision-18.07.90</a></td>
   <td align="right">266kB</td>
   <td><tt>b6a2d63af7b3f651cca932d841bc66089f71454e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kolourpaint-18.07.90.tar.xz">kolourpaint-18.07.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>0f89629f4efe4e6a9f201238bc7811171d2bf968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kompare-18.07.90.tar.xz">kompare-18.07.90</a></td>
   <td align="right">695kB</td>
   <td><tt>cd889ea7964fd3df58e40209d66ff477ca7db69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/konqueror-18.07.90.tar.xz">konqueror-18.07.90</a></td>
   <td align="right">7.3MB</td>
   <td><tt>dcdbc73cab9532f3ffa05c48d347d1794ed504c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/konquest-18.07.90.tar.xz">konquest-18.07.90</a></td>
   <td align="right">643kB</td>
   <td><tt>05a6b6dad6782a1cbc57dca2cd1a8e1162f75935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/konsole-18.07.90.tar.xz">konsole-18.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b9a1c46440017a3a47b3f80378f1dadfbcfdcab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kontact-18.07.90.tar.xz">kontact-18.07.90</a></td>
   <td align="right">848kB</td>
   <td><tt>32050324d4033ef349603101b74890f3f1af7f53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kontactinterface-18.07.90.tar.xz">kontactinterface-18.07.90</a></td>
   <td align="right">32kB</td>
   <td><tt>23dd969e8ecb698ec1ad6322ac630ecb527fb727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kopete-18.07.90.tar.xz">kopete-18.07.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>7fa18d7d7c9d284800a910d94f6eafc7e50a9069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/korganizer-18.07.90.tar.xz">korganizer-18.07.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>43a82f422aeb1d964fff3e881496e41ea6bae3ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kpat-18.07.90.tar.xz">kpat-18.07.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>d47d53f64bc3c4be979a28d3fc230a3fa160162d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kpimtextedit-18.07.90.tar.xz">kpimtextedit-18.07.90</a></td>
   <td align="right">139kB</td>
   <td><tt>e01e0d37014984ccd9cfd511726f792dfe83bebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kpkpass-18.07.90.tar.xz">kpkpass-18.07.90</a></td>
   <td align="right">22kB</td>
   <td><tt>693dc8178b699ca264329ac4d4be58a8e48cf072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kqtquickcharts-18.07.90.tar.xz">kqtquickcharts-18.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>3b1afaf32df7399d9fec5aacd3572664d8f888ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/krdc-18.07.90.tar.xz">krdc-18.07.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>51e5aa371cfd83ce0272305efd90bdb689ab0934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kreversi-18.07.90.tar.xz">kreversi-18.07.90</a></td>
   <td align="right">892kB</td>
   <td><tt>63056617f185d8defc1b4b5e6f90387a8a54442e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/krfb-18.07.90.tar.xz">krfb-18.07.90</a></td>
   <td align="right">972kB</td>
   <td><tt>1aa8e821c6bc693b7e646a73abaa1f5aa4482710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kross-interpreters-18.07.90.tar.xz">kross-interpreters-18.07.90</a></td>
   <td align="right">141kB</td>
   <td><tt>9847a36e15100ca120e9a86f8d477008c8d2b91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kruler-18.07.90.tar.xz">kruler-18.07.90</a></td>
   <td align="right">289kB</td>
   <td><tt>b821d5c67d71a2cd838678dac420b8787fd2e5ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kshisen-18.07.90.tar.xz">kshisen-18.07.90</a></td>
   <td align="right">694kB</td>
   <td><tt>ff32c5d7aaec5de4b9aa87f7f60dbbd069ae94bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ksirk-18.07.90.tar.xz">ksirk-18.07.90</a></td>
   <td align="right">6.6MB</td>
   <td><tt>85f9a497519eed684f463885263dcd3dbbd14c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ksmtp-18.07.90.tar.xz">ksmtp-18.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>d4d8cff78700db8cc32d07c131662d8056080a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ksnakeduel-18.07.90.tar.xz">ksnakeduel-18.07.90</a></td>
   <td align="right">591kB</td>
   <td><tt>c7495cbbd7b52c25514180b79b4df75f91152526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kspaceduel-18.07.90.tar.xz">kspaceduel-18.07.90</a></td>
   <td align="right">596kB</td>
   <td><tt>0c39d22457e2d90aae490e0cac99b52a2c1fe0e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ksquares-18.07.90.tar.xz">ksquares-18.07.90</a></td>
   <td align="right">211kB</td>
   <td><tt>5a9959e51a2c556f22392f14bb3459bbd8f222f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ksudoku-18.07.90.tar.xz">ksudoku-18.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3693029177668e208fb154f7c34a6389e014eaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ksystemlog-18.07.90.tar.xz">ksystemlog-18.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c9a42441922a91e100f4e2118778924d18f71fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kteatime-18.07.90.tar.xz">kteatime-18.07.90</a></td>
   <td align="right">291kB</td>
   <td><tt>76d28675c8bc21e731194be339fe974b5874e18f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktimer-18.07.90.tar.xz">ktimer-18.07.90</a></td>
   <td align="right">445kB</td>
   <td><tt>5c9ad1ea9e25e0febf16aba3797fcfc036746dc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktnef-18.07.90.tar.xz">ktnef-18.07.90</a></td>
   <td align="right">293kB</td>
   <td><tt>0f1ed4615be64ea52a06c76913a0aebabd95a64c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktouch-18.07.90.tar.xz">ktouch-18.07.90</a></td>
   <td align="right">4.8MB</td>
   <td><tt>240c194c151e37f4710e68c2731c663c68d41fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-accounts-kcm-18.07.90.tar.xz">ktp-accounts-kcm-18.07.90</a></td>
   <td align="right">258kB</td>
   <td><tt>9770856d013460a8259c003db5b057de5b6eeb83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-approver-18.07.90.tar.xz">ktp-approver-18.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>f8c1f196610757f0a0795acffb7540ea9f008995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-auth-handler-18.07.90.tar.xz">ktp-auth-handler-18.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>5ea8a31d6cf5828be468e44dd72f2c013f5cd508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-call-ui-18.07.90.tar.xz">ktp-call-ui-18.07.90</a></td>
   <td align="right">95kB</td>
   <td><tt>c3203f6f45f97eeee9fc58425f49a7ed5f80297c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-common-internals-18.07.90.tar.xz">ktp-common-internals-18.07.90</a></td>
   <td align="right">433kB</td>
   <td><tt>85686d5120c654283000e6b590ed316b713e7e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-contact-list-18.07.90.tar.xz">ktp-contact-list-18.07.90</a></td>
   <td align="right">144kB</td>
   <td><tt>bd0ab00aa743e65ef08cc12c3f38aba3184d120b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-contact-runner-18.07.90.tar.xz">ktp-contact-runner-18.07.90</a></td>
   <td align="right">41kB</td>
   <td><tt>cea8c0fa09f3b47597784e76deae753f40af1b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-desktop-applets-18.07.90.tar.xz">ktp-desktop-applets-18.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>a30a12b6eaa827bbc6086d9f84696d39ba828379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-filetransfer-handler-18.07.90.tar.xz">ktp-filetransfer-handler-18.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>64b9ea1179c2f183fd55529f5a71445c1c2516d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-kded-module-18.07.90.tar.xz">ktp-kded-module-18.07.90</a></td>
   <td align="right">92kB</td>
   <td><tt>042b5a1a5fe7f3a091b71dd16f425c2b39eba4dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-send-file-18.07.90.tar.xz">ktp-send-file-18.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>449b813d5124fbb0dbb036ab0cb58663265fd2e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktp-text-ui-18.07.90.tar.xz">ktp-text-ui-18.07.90</a></td>
   <td align="right">459kB</td>
   <td><tt>cc43fd107b118f858af39aa0654477b61606b5d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/ktuberling-18.07.90.tar.xz">ktuberling-18.07.90</a></td>
   <td align="right">31MB</td>
   <td><tt>f09fc7a9d7ff8b308d5d44289e3aa811678de73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kturtle-18.07.90.tar.xz">kturtle-18.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c41baaee2cefe2911482284b04837b68dd82a2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kubrick-18.07.90.tar.xz">kubrick-18.07.90</a></td>
   <td align="right">301kB</td>
   <td><tt>991aa466d0406b705e94d8469135b96c0a181649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kwalletmanager-18.07.90.tar.xz">kwalletmanager-18.07.90</a></td>
   <td align="right">768kB</td>
   <td><tt>768df5ef94ccdf2e0f03f4b3ec48eb785348751c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kwave-18.07.90.tar.xz">kwave-18.07.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>ed2c55f3bd9a7ef35b41c4b1129756d5fa1da7c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/kwordquiz-18.07.90.tar.xz">kwordquiz-18.07.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>b10ed2e4468bf9c728466a9af8d085e194ed5b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libgravatar-18.07.90.tar.xz">libgravatar-18.07.90</a></td>
   <td align="right">29kB</td>
   <td><tt>91e0ce38eefd9229dfa9a3b05588882f044c3940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkcddb-18.07.90.tar.xz">libkcddb-18.07.90</a></td>
   <td align="right">417kB</td>
   <td><tt>1de7d6a05761424f41e556c800db4f39ad1f6301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkcompactdisc-18.07.90.tar.xz">libkcompactdisc-18.07.90</a></td>
   <td align="right">86kB</td>
   <td><tt>fd284f077a3e54f364d16c5a9f5335373ccd82a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkdcraw-18.07.90.tar.xz">libkdcraw-18.07.90</a></td>
   <td align="right">41kB</td>
   <td><tt>28cf355b94766e47c572c5eadd04cb92c04de701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkdegames-18.07.90.tar.xz">libkdegames-18.07.90</a></td>
   <td align="right">5.6MB</td>
   <td><tt>8e0cd4b7f60e7e43ca2947713d48c2a79c3e2ee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkdepim-18.07.90.tar.xz">libkdepim-18.07.90</a></td>
   <td align="right">333kB</td>
   <td><tt>ffb868209c003a01e84a69e714b6a2f39b4de90b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkeduvocdocument-18.07.90.tar.xz">libkeduvocdocument-18.07.90</a></td>
   <td align="right">205kB</td>
   <td><tt>155fdb6bbe0c94c618e6afd3833d2be03e6a3123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkexiv2-18.07.90.tar.xz">libkexiv2-18.07.90</a></td>
   <td align="right">62kB</td>
   <td><tt>81f5a918cf6eb460e0e332a2340cdc042e020834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkgapi-18.07.90.tar.xz">libkgapi-18.07.90</a></td>
   <td align="right">210kB</td>
   <td><tt>42cd44254a5ef64ca453efce1c2ad822b8aa55d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkgeomap-18.07.90.tar.xz">libkgeomap-18.07.90</a></td>
   <td align="right">146kB</td>
   <td><tt>933c7e75980709fb134e58de2dc0168bca9ea337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkipi-18.07.90.tar.xz">libkipi-18.07.90</a></td>
   <td align="right">101kB</td>
   <td><tt>356106e2cf8417691fc8e9c24ebd2d53e4e67a90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkleo-18.07.90.tar.xz">libkleo-18.07.90</a></td>
   <td align="right">327kB</td>
   <td><tt>22739e5aadc7de44fe379cf4c18054b459d2cd73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkmahjongg-18.07.90.tar.xz">libkmahjongg-18.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a7233ac840b1c68e9dca49b40b306c25402bad95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libkomparediff2-18.07.90.tar.xz">libkomparediff2-18.07.90</a></td>
   <td align="right">172kB</td>
   <td><tt>6424d9a1a29b16b189af59502c09e5906fd60270</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libksane-18.07.90.tar.xz">libksane-18.07.90</a></td>
   <td align="right">134kB</td>
   <td><tt>664d50745ecaeabc40ae4366091b972e60ed3a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/libksieve-18.07.90.tar.xz">libksieve-18.07.90</a></td>
   <td align="right">538kB</td>
   <td><tt>2636ce5b9abd18b33bd1789b7fd260e21bd4db84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/lokalize-18.07.90.tar.xz">lokalize-18.07.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c5814b21fdacb3017e5cafa41fdd0ce4f2ae3b40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/lskat-18.07.90.tar.xz">lskat-18.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>605f53f124c8509948ead4c23e7c269da55a7df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/mailcommon-18.07.90.tar.xz">mailcommon-18.07.90</a></td>
   <td align="right">676kB</td>
   <td><tt>f6149cc1180ca45f0aeb82989afb6e65e1ebf8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/mailimporter-18.07.90.tar.xz">mailimporter-18.07.90</a></td>
   <td align="right">528kB</td>
   <td><tt>c457f0bd9a2d1f312a0e3402d38a6d2c73bbf8f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/marble-18.07.90.tar.xz">marble-18.07.90</a></td>
   <td align="right">50MB</td>
   <td><tt>fe6fe5f3a4de3f272e539fa0e8301252141b8af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/mbox-importer-18.07.90.tar.xz">mbox-importer-18.07.90</a></td>
   <td align="right">32kB</td>
   <td><tt>8c409f9aa0c3704fa73cf95f4fd642d23c3127ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/messagelib-18.07.90.tar.xz">messagelib-18.07.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>92683396157cee003304dffa1dea04b6fc6ba028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/minuet-18.07.90.tar.xz">minuet-18.07.90</a></td>
   <td align="right">26MB</td>
   <td><tt>ed8de2cb719f26fafd609f57632bccdc8dbb567b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/okular-18.07.90.tar.xz">okular-18.07.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>3f02c1910dc3b9e52d7c8f675917c0a07ad16541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/palapeli-18.07.90.tar.xz">palapeli-18.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6d836b8c90afe541a292a3723100d512bd66166d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/parley-18.07.90.tar.xz">parley-18.07.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>787cf88172dc474d77e5ffa694e3494f6f35f091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/picmi-18.07.90.tar.xz">picmi-18.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>efe87dfdd4f7c1028c941b1391dea3eb3afa84ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/pimcommon-18.07.90.tar.xz">pimcommon-18.07.90</a></td>
   <td align="right">288kB</td>
   <td><tt>02ef69a0f6bbd2eded16df7949ab37840b2fc59f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/pim-data-exporter-18.07.90.tar.xz">pim-data-exporter-18.07.90</a></td>
   <td align="right">263kB</td>
   <td><tt>a1af222bfd2295e080e9bc8b9762bb8ba439ad45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/pim-sieve-editor-18.07.90.tar.xz">pim-sieve-editor-18.07.90</a></td>
   <td align="right">437kB</td>
   <td><tt>6c91b1ab83eb24bb9d908bc577c78fd4248b13c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/poxml-18.07.90.tar.xz">poxml-18.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>0fbc2bdb603c3807ecada7e60e200af849a121af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/print-manager-18.07.90.tar.xz">print-manager-18.07.90</a></td>
   <td align="right">233kB</td>
   <td><tt>0ca893bd576fd7a0da7b198df09f96d68cc1a5c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/rocs-18.07.90.tar.xz">rocs-18.07.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c5ef9f2f994bcf767d4100d1074cff641390ecb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/signon-kwallet-extension-18.07.90.tar.xz">signon-kwallet-extension-18.07.90</a></td>
   <td align="right">10kB</td>
   <td><tt>dfd2f3fbae27aafdd6944f151fad74f7e642836f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/spectacle-18.07.90.tar.xz">spectacle-18.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>83f803c4dc630ddffe0990e65a655f54a570a951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/step-18.07.90.tar.xz">step-18.07.90</a></td>
   <td align="right">842kB</td>
   <td><tt>f281b8d52026541e02a731d6718533c690a62072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/svgpart-18.07.90.tar.xz">svgpart-18.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>29f00227701960bec408091d39fb38aaf907f119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/sweeper-18.07.90.tar.xz">sweeper-18.07.90</a></td>
   <td align="right">359kB</td>
   <td><tt>78043e87ba409a7af0a0236c085bca54fea38908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/syndication-18.07.90.tar.xz">syndication-18.07.90</a></td>
   <td align="right">155kB</td>
   <td><tt>baa0d72710e8b0f5238c986a35b81bb7cc1d8226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/umbrello-18.07.90.tar.xz">umbrello-18.07.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>960f5d39b43f3e7b5c4a17cd2085818266ee1e87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.90/src/zeroconf-ioslave-18.07.90.tar.xz">zeroconf-ioslave-18.07.90</a></td>
   <td align="right">38kB</td>
   <td><tt>795c9a636fe9163e8e6c81c960d2850f8657ae5f</tt></td>
</tr>

</table>
