<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadi-17.07.80.tar.xz">akonadi-17.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a2bb0da0793389c9b42f6f1796c2807861797a28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadi-calendar-17.07.80.tar.xz">akonadi-calendar-17.07.80</a></td>
   <td align="right">273kB</td>
   <td><tt>a3a51dceaa270af9d2e26dd421f64eba6c849876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadi-calendar-tools-17.07.80.tar.xz">akonadi-calendar-tools-17.07.80</a></td>
   <td align="right">218kB</td>
   <td><tt>d3d9a55f13237d5916586d38b101818aac231e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadiconsole-17.07.80.tar.xz">akonadiconsole-17.07.80</a></td>
   <td align="right">180kB</td>
   <td><tt>e81311ab48c1d8522d20aa1680201d908148abef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadi-contacts-17.07.80.tar.xz">akonadi-contacts-17.07.80</a></td>
   <td align="right">344kB</td>
   <td><tt>41ac043220ed82c2fbdeeaf08512496b1b1ae41a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadi-import-wizard-17.07.80.tar.xz">akonadi-import-wizard-17.07.80</a></td>
   <td align="right">424kB</td>
   <td><tt>767bdbd2cf8f81692e204e773c158567db73306f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadi-mime-17.07.80.tar.xz">akonadi-mime-17.07.80</a></td>
   <td align="right">127kB</td>
   <td><tt>6c0fad087988b9293300556da8d83fb5993f2646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadi-notes-17.07.80.tar.xz">akonadi-notes-17.07.80</a></td>
   <td align="right">24kB</td>
   <td><tt>6e11cef5eb956c8abcc5f2eef3a8c4c87931e787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akonadi-search-17.07.80.tar.xz">akonadi-search-17.07.80</a></td>
   <td align="right">79kB</td>
   <td><tt>24ef2960deadd1594ef8cc06be02ddf480f72ad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/akregator-17.07.80.tar.xz">akregator-17.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>50a494f3aa5e999d41079ab553ac3fdbf3b88585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/analitza-17.07.80.tar.xz">analitza-17.07.80</a></td>
   <td align="right">322kB</td>
   <td><tt>2228e6ee3520dc785a649023c3c85f6d44959e60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ark-17.07.80.tar.xz">ark-17.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>45ef6419e43bd4fd4a3a7fd52787254e53b28bc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/artikulate-17.07.80.tar.xz">artikulate-17.07.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>654f07353765d8211ec454ae9f683746a5375054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/audiocd-kio-17.07.80.tar.xz">audiocd-kio-17.07.80</a></td>
   <td align="right">241kB</td>
   <td><tt>012054c8407669466e16afbad4253dfcbe3d50dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/baloo-widgets-17.07.80.tar.xz">baloo-widgets-17.07.80</a></td>
   <td align="right">148kB</td>
   <td><tt>d402c59ef4f6f45700a7cd7a47626f9d0ed84804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/blinken-17.07.80.tar.xz">blinken-17.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>810518725e21009198c9635efab90cb6c38d9dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/blogilo-17.07.80.tar.xz">blogilo-17.07.80</a></td>
   <td align="right">785kB</td>
   <td><tt>8950e213563de9d74e063084c3e03a2b431becdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/bomber-17.07.80.tar.xz">bomber-17.07.80</a></td>
   <td align="right">736kB</td>
   <td><tt>d5607f84290d22d8a4533b02243ec9e329a12bb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/bovo-17.07.80.tar.xz">bovo-17.07.80</a></td>
   <td align="right">182kB</td>
   <td><tt>edad5f71706b6e320598f7b1f0cac8d166399eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/calendarsupport-17.07.80.tar.xz">calendarsupport-17.07.80</a></td>
   <td align="right">630kB</td>
   <td><tt>d134ca0481af24731b5266d2a15264175f294c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/cantor-17.07.80.tar.xz">cantor-17.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1c326469b481511f38ebc216911a16f66d074fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/cervisia-17.07.80.tar.xz">cervisia-17.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>719794036de37e0fa82935c2cd18b22c22780cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/dolphin-17.07.80.tar.xz">dolphin-17.07.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>d8f0fe9e35e75800c1ea008eb3e2fd34621946a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/dolphin-plugins-17.07.80.tar.xz">dolphin-plugins-17.07.80</a></td>
   <td align="right">182kB</td>
   <td><tt>5bb0a76eec14a517fdcf4be91ed44ae93a4c37cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/dragon-17.07.80.tar.xz">dragon-17.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>72577a3717cd7bb1fcd38d15fa8e9de793788562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/eventviews-17.07.80.tar.xz">eventviews-17.07.80</a></td>
   <td align="right">424kB</td>
   <td><tt>23d58370f4f11ac141fab3c0e1c2020264f0b65d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ffmpegthumbs-17.07.80.tar.xz">ffmpegthumbs-17.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>08b0f1a7384227bba9e29fddd2b7042d368b9e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/filelight-17.07.80.tar.xz">filelight-17.07.80</a></td>
   <td align="right">634kB</td>
   <td><tt>f31c633fbccb1815d8d80ceee5259dea094eedb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/granatier-17.07.80.tar.xz">granatier-17.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bacc22e8982ce8893e6661ca27b4c0c348a8d926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/grantlee-editor-17.07.80.tar.xz">grantlee-editor-17.07.80</a></td>
   <td align="right">107kB</td>
   <td><tt>ab6904730b19d341dc827af6d0a7f8f793dad4c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/grantleetheme-17.07.80.tar.xz">grantleetheme-17.07.80</a></td>
   <td align="right">49kB</td>
   <td><tt>ac588ad535586bdad251a3063686e15c97a33a9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/gwenview-17.07.80.tar.xz">gwenview-17.07.80</a></td>
   <td align="right">5.6MB</td>
   <td><tt>ae06ccca27770e345f5ed17a52f5379870688ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/incidenceeditor-17.07.80.tar.xz">incidenceeditor-17.07.80</a></td>
   <td align="right">511kB</td>
   <td><tt>1bb7768699f0fe841e37b8bbaceeac1e19d0a3f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/jovie-17.07.80.tar.xz">jovie-17.07.80</a></td>
   <td align="right">386kB</td>
   <td><tt>7ef39020ebc8e9e5a9e38883965ebb9734014cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/juk-17.07.80.tar.xz">juk-17.07.80</a></td>
   <td align="right">435kB</td>
   <td><tt>589784c1897487e16e0c06de67dc00b2fc3befec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/k3b-17.07.80.tar.xz">k3b-17.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>778a898b4ca6cda0020b6dc2b00e87a0585c2a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kaccessible-17.07.80.tar.xz">kaccessible-17.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>5d9e270797cc7781c1dfa98192db42aaddfb9fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kaccounts-integration-17.07.80.tar.xz">kaccounts-integration-17.07.80</a></td>
   <td align="right">67kB</td>
   <td><tt>63dcb21909bba6c31eafa9a37b9d52b8ac5b1e91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kaccounts-providers-17.07.80.tar.xz">kaccounts-providers-17.07.80</a></td>
   <td align="right">30kB</td>
   <td><tt>6077a38ab833ed4fbbae46c2263d4a92c0a3f78a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kaddressbook-17.07.80.tar.xz">kaddressbook-17.07.80</a></td>
   <td align="right">536kB</td>
   <td><tt>14fa841c84d2ac951fbd296080323dc1caad8b13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kajongg-17.07.80.tar.xz">kajongg-17.07.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>372a24c2aea79cc0eb5759c54f33e8d56e695bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kalarm-17.07.80.tar.xz">kalarm-17.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>46f15e17dce681cd21d9e085088e8283e58b6bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kalarmcal-17.07.80.tar.xz">kalarmcal-17.07.80</a></td>
   <td align="right">481kB</td>
   <td><tt>68212c97cb293949aa7cd539690d1fdd569c327f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kalgebra-17.07.80.tar.xz">kalgebra-17.07.80</a></td>
   <td align="right">674kB</td>
   <td><tt>ede61239b94e0e2c385329a315068d82169c3edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kalzium-17.07.80.tar.xz">kalzium-17.07.80</a></td>
   <td align="right">23MB</td>
   <td><tt>981dab2c4df81b6a01825ac8458d0f1f10408a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kamera-17.07.80.tar.xz">kamera-17.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>d0bf2f230eafca89936c126e48874bb8e669490a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kanagram-17.07.80.tar.xz">kanagram-17.07.80</a></td>
   <td align="right">7.2MB</td>
   <td><tt>ac1bcb5cc0236ecc255cc0fa52448c0853871bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kapman-17.07.80.tar.xz">kapman-17.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>473018ead5383b8cb9176848979b6e1239e7e226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kapptemplate-17.07.80.tar.xz">kapptemplate-17.07.80</a></td>
   <td align="right">480kB</td>
   <td><tt>7c02f5f27b046b98a5454e1613b22c005eff7ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kate-17.07.80.tar.xz">kate-17.07.80</a></td>
   <td align="right">5.0MB</td>
   <td><tt>c484c05a5620718d3bcaec1ece781136f0760ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/katomic-17.07.80.tar.xz">katomic-17.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>960103236671368099bbeee62bbcef4ea8736fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kblackbox-17.07.80.tar.xz">kblackbox-17.07.80</a></td>
   <td align="right">392kB</td>
   <td><tt>bb861289168eac941811b23d20641921c1256d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kblocks-17.07.80.tar.xz">kblocks-17.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cbf1e2ddc90f45188cd615acf6c9b2e4ff159469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kblog-17.07.80.tar.xz">kblog-17.07.80</a></td>
   <td align="right">70kB</td>
   <td><tt>32c5ab387675d54d59128d2a246ce1b6aa819448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kbounce-17.07.80.tar.xz">kbounce-17.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>cdc97bca15f92f2d4af070b313552e7464892ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kbreakout-17.07.80.tar.xz">kbreakout-17.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>945999e61b5d05361514107cd262dbb86d3a0818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kbruch-17.07.80.tar.xz">kbruch-17.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>82aed51bbb9450c466758843095aab6fc6e394d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kcachegrind-17.07.80.tar.xz">kcachegrind-17.07.80</a></td>
   <td align="right">787kB</td>
   <td><tt>4fe9872eef0d5cc4e0a3a75efde79a771ded743a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kcalc-17.07.80.tar.xz">kcalc-17.07.80</a></td>
   <td align="right">351kB</td>
   <td><tt>e5f891b46912717c4278f84f5bf1bada2b3830d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kcalcore-17.07.80.tar.xz">kcalcore-17.07.80</a></td>
   <td align="right">276kB</td>
   <td><tt>125e3d5f351a046e9275562cb79e6d16c19114ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kcalutils-17.07.80.tar.xz">kcalutils-17.07.80</a></td>
   <td align="right">319kB</td>
   <td><tt>570a42512e3bf592a4abb94542047a6fcb7fee5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kcharselect-17.07.80.tar.xz">kcharselect-17.07.80</a></td>
   <td align="right">342kB</td>
   <td><tt>692808c061216df76548bb59e149a3c3dea58e4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kcolorchooser-17.07.80.tar.xz">kcolorchooser-17.07.80</a></td>
   <td align="right">15kB</td>
   <td><tt>1394a9c9353d4f7c0ab8f88436f77b685164c977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kcontacts-17.07.80.tar.xz">kcontacts-17.07.80</a></td>
   <td align="right">202kB</td>
   <td><tt>d05d28cfa120d07bcf529af14ecd2653c6bbf5fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kcron-17.07.80.tar.xz">kcron-17.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>62baa2e868c3bbc08870a7a9e03854463e055987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdav-17.07.80.tar.xz">kdav-17.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>f2200b95603510b07e6d8addc169b275d7ce4729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdebugsettings-17.07.80.tar.xz">kdebugsettings-17.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>ec9fb3c83a4c4f71c3fa2b476949158be8cc7842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-dev-scripts-17.07.80.tar.xz">kde-dev-scripts-17.07.80</a></td>
   <td align="right">307kB</td>
   <td><tt>945a631846e5cd09515eac73fdf6bf63fd5e82bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-dev-utils-17.07.80.tar.xz">kde-dev-utils-17.07.80</a></td>
   <td align="right">51kB</td>
   <td><tt>b5a57f74c6bff45917f634e6f2ea3b462109adac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdeedu-data-17.07.80.tar.xz">kdeedu-data-17.07.80</a></td>
   <td align="right">778kB</td>
   <td><tt>0df7b8f0b67b6b559c1caf178263a69da4fd294f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdegraphics-mobipocket-17.07.80.tar.xz">kdegraphics-mobipocket-17.07.80</a></td>
   <td align="right">13kB</td>
   <td><tt>aba0149c7bff553f24b902fa1b47fd933a473a62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdegraphics-thumbnailers-17.07.80.tar.xz">kdegraphics-thumbnailers-17.07.80</a></td>
   <td align="right">40kB</td>
   <td><tt>ed7907273d75adc6de038fc2a09edd57001ecdcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdenetwork-filesharing-17.07.80.tar.xz">kdenetwork-filesharing-17.07.80</a></td>
   <td align="right">315kB</td>
   <td><tt>10eb52a6a6421c2ad8a5c7ed128d5482c333cdb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdenlive-17.07.80.tar.xz">kdenlive-17.07.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>ceba316c498fd51789b2c536e4d517d0891172a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdepim-addons-17.07.80.tar.xz">kdepim-addons-17.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>24eb02e393800affde5962cd4a77fd1780d8b86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdepim-apps-libs-17.07.80.tar.xz">kdepim-apps-libs-17.07.80</a></td>
   <td align="right">71kB</td>
   <td><tt>7d6aad3cb7ab029e55048159921eeb4a990ef110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdepim-runtime-17.07.80.tar.xz">kdepim-runtime-17.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ae997c5142c2bf82c361920b0795dc2bcfc9ce07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-runtime-17.07.80.tar.xz">kde-runtime-17.07.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>9ed1f41635b29de2c24ad6bc641fad6922503d53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdesdk-kioslaves-17.07.80.tar.xz">kdesdk-kioslaves-17.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>e77fcef7032406661114fa5e313b60814f8b2be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdesdk-thumbnailers-17.07.80.tar.xz">kdesdk-thumbnailers-17.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>0571a8888e8effc5b5e8608f65c8b3898b59e69f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdf-17.07.80.tar.xz">kdf-17.07.80</a></td>
   <td align="right">517kB</td>
   <td><tt>bc17a0279c296d6c21e62092ecf4fa5919e87b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdialog-17.07.80.tar.xz">kdialog-17.07.80</a></td>
   <td align="right">92kB</td>
   <td><tt>c841329fe9fb187406af82b08361cf4ea9a17dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kdiamond-17.07.80.tar.xz">kdiamond-17.07.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ce60ca496af6b3e85cb73d8a6aab70adb0a5548b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/keditbookmarks-17.07.80.tar.xz">keditbookmarks-17.07.80</a></td>
   <td align="right">178kB</td>
   <td><tt>2f5e13506630839302264b1af3548c053a30431f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kfilereplace-17.07.80.tar.xz">kfilereplace-17.07.80</a></td>
   <td align="right">745kB</td>
   <td><tt>3edb255cbc424f61cd8c60dd1e2d19e4defa404e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kfind-17.07.80.tar.xz">kfind-17.07.80</a></td>
   <td align="right">203kB</td>
   <td><tt>67f85f78c5bedaf8a44b439abcc0fec5c9231260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kfloppy-17.07.80.tar.xz">kfloppy-17.07.80</a></td>
   <td align="right">193kB</td>
   <td><tt>6ced09092c44bdf252b657450d2974387af2fa38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kfourinline-17.07.80.tar.xz">kfourinline-17.07.80</a></td>
   <td align="right">559kB</td>
   <td><tt>2c18c232fd3d311c4cf39d2b480363306a0afb0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kgeography-17.07.80.tar.xz">kgeography-17.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>2c3f1a78f09bc7dd36a687aef5a4c06770fdd163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kget-17.07.80.tar.xz">kget-17.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4d452130a4aaf1b51c6bbae0f3d022426d221d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kgoldrunner-17.07.80.tar.xz">kgoldrunner-17.07.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>99ed4c0098e308c2255b0a428a29ef0dc8d52fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kgpg-17.07.80.tar.xz">kgpg-17.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>f816baba177bdfc42ede3fbec3883228b90a977d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/khangman-17.07.80.tar.xz">khangman-17.07.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>577f3af871befcc1d973e5a86e189237f288f90e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/khelpcenter-17.07.80.tar.xz">khelpcenter-17.07.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>30325c6516e73bac528413b407e659b0d0d6ae8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kholidays-17.07.80.tar.xz">kholidays-17.07.80</a></td>
   <td align="right">197kB</td>
   <td><tt>ccc1baf73f80924b91e7ef8b85fa20520d2ea790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kidentitymanagement-17.07.80.tar.xz">kidentitymanagement-17.07.80</a></td>
   <td align="right">144kB</td>
   <td><tt>90945529a7da1ecf4e48c9ca88056cdb94d6d919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kig-17.07.80.tar.xz">kig-17.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ce3b65eb71399b139a0a34ecf958cd559717b2cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kigo-17.07.80.tar.xz">kigo-17.07.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>50f4851b95704277f60cc3e7a7ab8a24c3a2e705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/killbots-17.07.80.tar.xz">killbots-17.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>faca3e4e0ba390537916f050e859dac535243cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kimagemapeditor-17.07.80.tar.xz">kimagemapeditor-17.07.80</a></td>
   <td align="right">397kB</td>
   <td><tt>9b47b7336b1f8c4f5e2e54c6850fe9145ffedb84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kimap-17.07.80.tar.xz">kimap-17.07.80</a></td>
   <td align="right">116kB</td>
   <td><tt>3ab082f8b63f4ca433595bb51369b23fd44ee26c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kio-extras-17.07.80.tar.xz">kio-extras-17.07.80</a></td>
   <td align="right">542kB</td>
   <td><tt>502fac2850529d94616e8f9eb125c0c455400c04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kiriki-17.07.80.tar.xz">kiriki-17.07.80</a></td>
   <td align="right">318kB</td>
   <td><tt>950961d8451acbc51797bc0180f5088b101816cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kiten-17.07.80.tar.xz">kiten-17.07.80</a></td>
   <td align="right">11MB</td>
   <td><tt>9da15832d83b47c5386203961f3168914844c787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kjumpingcube-17.07.80.tar.xz">kjumpingcube-17.07.80</a></td>
   <td align="right">285kB</td>
   <td><tt>eb27e0841578be6f439cfc0b8b1bbc40c25e02a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kldap-17.07.80.tar.xz">kldap-17.07.80</a></td>
   <td align="right">151kB</td>
   <td><tt>26b8ac554465f91e320c7d1f2b3777f0ca189a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kleopatra-17.07.80.tar.xz">kleopatra-17.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>176334e7fb9bf3e98cbc115e623b67aa477b4a15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/klettres-17.07.80.tar.xz">klettres-17.07.80</a></td>
   <td align="right">20MB</td>
   <td><tt>c37db65f8cf0be1ebb6b06f2366f89f39db48948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/klickety-17.07.80.tar.xz">klickety-17.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d51e4c3e687dac1140ca84f22f43cbbe8d4fa473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/klines-17.07.80.tar.xz">klines-17.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c16cb68f03ee6726273072dfedda7d98ed9ab8d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/klinkstatus-17.07.80.tar.xz">klinkstatus-17.07.80</a></td>
   <td align="right">439kB</td>
   <td><tt>4a41f48bcdab38d2551f8aeecf918109e7777730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmag-17.07.80.tar.xz">kmag-17.07.80</a></td>
   <td align="right">573kB</td>
   <td><tt>a00cca6b05964bb7b076689e956b70d787e9de43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmahjongg-17.07.80.tar.xz">kmahjongg-17.07.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>576df6e0d5d36fe693f265b1556909b8f1a9084f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmail-17.07.80.tar.xz">kmail-17.07.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>20269f98670b6f46a34b6f8dae1b3e47e1668962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmail-account-wizard-17.07.80.tar.xz">kmail-account-wizard-17.07.80</a></td>
   <td align="right">147kB</td>
   <td><tt>f436df1f533101c14b7ea63e05559a4a8a16c0d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmailtransport-17.07.80.tar.xz">kmailtransport-17.07.80</a></td>
   <td align="right">227kB</td>
   <td><tt>fca4a91b117e49ab647a3d13bf38733ed8205102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmbox-17.07.80.tar.xz">kmbox-17.07.80</a></td>
   <td align="right">23kB</td>
   <td><tt>f46e077e4e58120b03f9516834713857eb384ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmime-17.07.80.tar.xz">kmime-17.07.80</a></td>
   <td align="right">142kB</td>
   <td><tt>81fd212d17c2e5da7850733dd273b66986f7ddff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmines-17.07.80.tar.xz">kmines-17.07.80</a></td>
   <td align="right">861kB</td>
   <td><tt>96b94dbada9c520989fc4e43c78774bd51a934d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmix-17.07.80.tar.xz">kmix-17.07.80</a></td>
   <td align="right">379kB</td>
   <td><tt>15921289cf1aa0e1871fcd11ffea9451d1c38e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmousetool-17.07.80.tar.xz">kmousetool-17.07.80</a></td>
   <td align="right">108kB</td>
   <td><tt>010382843a11a9c87775b96134234c0ae10e445e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmouth-17.07.80.tar.xz">kmouth-17.07.80</a></td>
   <td align="right">271kB</td>
   <td><tt>61e9a73c97dfd2220c2339614f792405c2770857</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kmplot-17.07.80.tar.xz">kmplot-17.07.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f254282234a29bed5d3448acb71df1ba3bd47e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/knavalbattle-17.07.80.tar.xz">knavalbattle-17.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a3948009442a8080f7b352760c2f08ca3e7c81d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/knetwalk-17.07.80.tar.xz">knetwalk-17.07.80</a></td>
   <td align="right">958kB</td>
   <td><tt>2026b17b8c8e014f3a0be21d39b8b8fa49feea99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/knotes-17.07.80.tar.xz">knotes-17.07.80</a></td>
   <td align="right">327kB</td>
   <td><tt>fc99fde568803850f05675f72dec375a96231d1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kolf-17.07.80.tar.xz">kolf-17.07.80</a></td>
   <td align="right">752kB</td>
   <td><tt>0db77d812fdbca89723806f3f52b4b57b3ca9ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kollision-17.07.80.tar.xz">kollision-17.07.80</a></td>
   <td align="right">265kB</td>
   <td><tt>ec6b3557c6b52b74d82483610cec699b9b32a273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kolourpaint-17.07.80.tar.xz">kolourpaint-17.07.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>2996096dc8a7c7eba61f861c62bb7f381abae9ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kompare-17.07.80.tar.xz">kompare-17.07.80</a></td>
   <td align="right">693kB</td>
   <td><tt>3571265254e6a920eb885d4620dc32617d8e2392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/konqueror-17.07.80.tar.xz">konqueror-17.07.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>5dbd5119108e4dec56cba7d2cc26ed239127d6c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/konquest-17.07.80.tar.xz">konquest-17.07.80</a></td>
   <td align="right">642kB</td>
   <td><tt>5cb9b15f0c273ca98f8e1b38267be31c6df05b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/konsole-17.07.80.tar.xz">konsole-17.07.80</a></td>
   <td align="right">996kB</td>
   <td><tt>cd9c0335436d0320af922b9c8870a663cd814fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kontact-17.07.80.tar.xz">kontact-17.07.80</a></td>
   <td align="right">846kB</td>
   <td><tt>a81012b1d49a2688d43b5d68a52e9220e1e6cfe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kontactinterface-17.07.80.tar.xz">kontactinterface-17.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>130c2dd55575eabd8947e09081604dacede65cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kopete-17.07.80.tar.xz">kopete-17.07.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>c26af1e04a2d3c356e32cd80c940ab56214e832e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/korganizer-17.07.80.tar.xz">korganizer-17.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5c248d285b7aa718d675add8ae2322b955512d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kpat-17.07.80.tar.xz">kpat-17.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>b91d4b5161fad4cd94a7344a18a5e8a87868ebd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kpimtextedit-17.07.80.tar.xz">kpimtextedit-17.07.80</a></td>
   <td align="right">137kB</td>
   <td><tt>9326410803b6d3a72d3c0332f4e6ea847dca5177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kppp-17.07.80.tar.xz">kppp-17.07.80</a></td>
   <td align="right">684kB</td>
   <td><tt>f4f75791e295b7d6e1361aa3c186443b0c9131d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kqtquickcharts-17.07.80.tar.xz">kqtquickcharts-17.07.80</a></td>
   <td align="right">24kB</td>
   <td><tt>de9859777691f2d820d90d8c1f3af316f36e22c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/krdc-17.07.80.tar.xz">krdc-17.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2f6949f62b75cfd9c09a611afb8c8639bb89f79b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kremotecontrol-17.07.80.tar.xz">kremotecontrol-17.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>cb36fc5e2858bdbc0e327e9cc6108ea7ac4c1d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kreversi-17.07.80.tar.xz">kreversi-17.07.80</a></td>
   <td align="right">881kB</td>
   <td><tt>5090876523304586b313ffcad960b78c2356c44f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/krfb-17.07.80.tar.xz">krfb-17.07.80</a></td>
   <td align="right">963kB</td>
   <td><tt>3e66fddcc3cdfeab2fc16f0b52326404e74736b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kross-interpreters-17.07.80.tar.xz">kross-interpreters-17.07.80</a></td>
   <td align="right">140kB</td>
   <td><tt>a70eba4bdeca91b0c7c121a39e0df93d4c1523c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kruler-17.07.80.tar.xz">kruler-17.07.80</a></td>
   <td align="right">253kB</td>
   <td><tt>94258e055fdc6a16246f0bd11541afe44ecf8d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ksaneplugin-17.07.80.tar.xz">ksaneplugin-17.07.80</a></td>
   <td align="right">12kB</td>
   <td><tt>79402ae50d412f1683f0f628f1053723620df887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kscd-17.07.80.tar.xz">kscd-17.07.80</a></td>
   <td align="right">90kB</td>
   <td><tt>40796faff98655c4ba64f630bee7429985aeae3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kshisen-17.07.80.tar.xz">kshisen-17.07.80</a></td>
   <td align="right">692kB</td>
   <td><tt>2540940b5ebc58cee8692c323d329b750c8d3af1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ksirk-17.07.80.tar.xz">ksirk-17.07.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>94a8f4c859ebe5e08b505a2acd02d439a6388a59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ksnakeduel-17.07.80.tar.xz">ksnakeduel-17.07.80</a></td>
   <td align="right">591kB</td>
   <td><tt>02c2504c8a684d81a367d3944eb18aa606148009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kspaceduel-17.07.80.tar.xz">kspaceduel-17.07.80</a></td>
   <td align="right">595kB</td>
   <td><tt>9a1540aa8f47a82c06ded2c4f39758144c4b6e36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ksquares-17.07.80.tar.xz">ksquares-17.07.80</a></td>
   <td align="right">210kB</td>
   <td><tt>acdc2f34615029f66effc5e2cd8e81c2ad5214ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kstars-17.07.80.tar.xz">kstars-17.07.80</a></td>
   <td align="right">58MB</td>
   <td><tt>2f5cdf65b86c3a28ead71adf6add0e9eb06935b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ksudoku-17.07.80.tar.xz">ksudoku-17.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ba50c5f06b50136eecadad6aef2bd641f8b8d57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ksystemlog-17.07.80.tar.xz">ksystemlog-17.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>55222d5dffdda65f15b54f16553634c469d46bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kteatime-17.07.80.tar.xz">kteatime-17.07.80</a></td>
   <td align="right">289kB</td>
   <td><tt>7e927d149d2f6c56c284ead14d92d725a9b9504e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktimer-17.07.80.tar.xz">ktimer-17.07.80</a></td>
   <td align="right">440kB</td>
   <td><tt>879be8a5fff06b7d3e7c01a36ec8b54e93aa0b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktnef-17.07.80.tar.xz">ktnef-17.07.80</a></td>
   <td align="right">292kB</td>
   <td><tt>cfec26c6d94f40e9b3ab80ebcd05655f6f69448d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktouch-17.07.80.tar.xz">ktouch-17.07.80</a></td>
   <td align="right">4.8MB</td>
   <td><tt>fd47f544353e5e491426cd558c881fc18a148622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-accounts-kcm-17.07.80.tar.xz">ktp-accounts-kcm-17.07.80</a></td>
   <td align="right">256kB</td>
   <td><tt>ec06d409c410a893f2e864b83e11463faef0f9b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-approver-17.07.80.tar.xz">ktp-approver-17.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>d922149bca757b29e39be0342757f12d9165b1a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-auth-handler-17.07.80.tar.xz">ktp-auth-handler-17.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>224ec1993edfdfda715a217909990cefa11065e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-call-ui-17.07.80.tar.xz">ktp-call-ui-17.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>72dd939382d2a3ab9a1556b7c7b1ffc9141b8b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-common-internals-17.07.80.tar.xz">ktp-common-internals-17.07.80</a></td>
   <td align="right">431kB</td>
   <td><tt>135c668d7499f11b1c38a36ea19785ac039f3c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-contact-list-17.07.80.tar.xz">ktp-contact-list-17.07.80</a></td>
   <td align="right">128kB</td>
   <td><tt>5f48e2d28bcef00dee78dc472a332b7d09c1ab5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-contact-runner-17.07.80.tar.xz">ktp-contact-runner-17.07.80</a></td>
   <td align="right">39kB</td>
   <td><tt>231f9a5433bc5c7733dec21ecaff754d20ae0b14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-desktop-applets-17.07.80.tar.xz">ktp-desktop-applets-17.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>65b0a1375ed310d68c90139bc428512777470001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-filetransfer-handler-17.07.80.tar.xz">ktp-filetransfer-handler-17.07.80</a></td>
   <td align="right">44kB</td>
   <td><tt>0b35f32295adfe50e1b09b25a385dedbdacf1dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-kded-module-17.07.80.tar.xz">ktp-kded-module-17.07.80</a></td>
   <td align="right">79kB</td>
   <td><tt>941eefadf6bbc685b50203f02415f9b33ea5e8ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-send-file-17.07.80.tar.xz">ktp-send-file-17.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>a8beeb00d6292a173c7d4f5796f26ad36d60c555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktp-text-ui-17.07.80.tar.xz">ktp-text-ui-17.07.80</a></td>
   <td align="right">457kB</td>
   <td><tt>35c3f5655e417659dc857bf3fe9020d9a2f89453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/ktuberling-17.07.80.tar.xz">ktuberling-17.07.80</a></td>
   <td align="right">31MB</td>
   <td><tt>69081058b54bb1c2604fc21d1af4939e28a50d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kturtle-17.07.80.tar.xz">kturtle-17.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>02f185c971b3bec5ff89d1594a3e77b833205c72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kubrick-17.07.80.tar.xz">kubrick-17.07.80</a></td>
   <td align="right">301kB</td>
   <td><tt>1eec730e5c9af98f22d43ebb6b0607709724d5ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kwalletmanager-17.07.80.tar.xz">kwalletmanager-17.07.80</a></td>
   <td align="right">732kB</td>
   <td><tt>4690b225195de834031c3adffbcde9e3dbea5b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kwave-17.07.80.tar.xz">kwave-17.07.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>bb15ada4f3e5807b7081e4a0f52c25932b5da2f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kwordquiz-17.07.80.tar.xz">kwordquiz-17.07.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>83cd2ba5f95ddaaf59ec416dbfc1dec82b0dff26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libgravatar-17.07.80.tar.xz">libgravatar-17.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>503c91866ed936eaa2d3aad66702b6aa0fcfa881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkcddb-17.07.80.tar.xz">libkcddb-17.07.80</a></td>
   <td align="right">413kB</td>
   <td><tt>65fbf394696621a3f54d3116ec9e50ad8bc982bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkcompactdisc-17.07.80.tar.xz">libkcompactdisc-17.07.80</a></td>
   <td align="right">86kB</td>
   <td><tt>806799c1815a6a2393a9f5a8a39c8b9936114616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkdcraw-17.07.80.tar.xz">libkdcraw-17.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>c6637cb5e16731b06f7afef6689910fc57c755c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkdegames-17.07.80.tar.xz">libkdegames-17.07.80</a></td>
   <td align="right">5.6MB</td>
   <td><tt>a2a44cc981337cbb29cb9887e8dcf927fde6ca2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkdepim-17.07.80.tar.xz">libkdepim-17.07.80</a></td>
   <td align="right">331kB</td>
   <td><tt>87cb0fc493ba84706700b6bbf072e8f4480ec262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkeduvocdocument-17.07.80.tar.xz">libkeduvocdocument-17.07.80</a></td>
   <td align="right">207kB</td>
   <td><tt>cc0f5e9048f5239e2a8ce90aa14905ffa90b8844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkexiv2-17.07.80.tar.xz">libkexiv2-17.07.80</a></td>
   <td align="right">63kB</td>
   <td><tt>31caf7367bd619ba31e34bf337ea897563342719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkface-17.07.80.tar.xz">libkface-17.07.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>d5694e754c9262c80672f4d14ba4d5fb19fb3c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkgapi-17.07.80.tar.xz">libkgapi-17.07.80</a></td>
   <td align="right">171kB</td>
   <td><tt>6b68d1dab2d87fa5c48c9ef6b1c57415ce94c4df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkgeomap-17.07.80.tar.xz">libkgeomap-17.07.80</a></td>
   <td align="right">146kB</td>
   <td><tt>b93dab10058ebdc0df75b681657b200a552294da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkipi-17.07.80.tar.xz">libkipi-17.07.80</a></td>
   <td align="right">101kB</td>
   <td><tt>585b4f7839eb6eeab112818ee48bdade64c0c7da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkleo-17.07.80.tar.xz">libkleo-17.07.80</a></td>
   <td align="right">285kB</td>
   <td><tt>01863e2b9afdc3f5de5df3d7f38ca8a939b88bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkmahjongg-17.07.80.tar.xz">libkmahjongg-17.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>906d11abc5315159866fc73ab461342c925e05a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libkomparediff2-17.07.80.tar.xz">libkomparediff2-17.07.80</a></td>
   <td align="right">175kB</td>
   <td><tt>d58ad654e250bb1de17ed8dd3a444db890c47762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libksane-17.07.80.tar.xz">libksane-17.07.80</a></td>
   <td align="right">134kB</td>
   <td><tt>1e66baa533505185de5dd3e88632602bf26d017e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/libksieve-17.07.80.tar.xz">libksieve-17.07.80</a></td>
   <td align="right">531kB</td>
   <td><tt>c95eddf56818ac8000d9da02c8d78a75d45c3510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/lokalize-17.07.80.tar.xz">lokalize-17.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e084995eb63cda649d530a25e333d5ade83d8562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/lskat-17.07.80.tar.xz">lskat-17.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0d7e740db1cbcf06751c265e75cb0a1b678937d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/mailcommon-17.07.80.tar.xz">mailcommon-17.07.80</a></td>
   <td align="right">642kB</td>
   <td><tt>79f350c5f865eee217f59d8ffe314b08ff16deed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/mailimporter-17.07.80.tar.xz">mailimporter-17.07.80</a></td>
   <td align="right">525kB</td>
   <td><tt>b0a714c8575a856e06d2755b1dde3a025e8bfe27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/marble-17.07.80.tar.xz">marble-17.07.80</a></td>
   <td align="right">49MB</td>
   <td><tt>8e716e5b177e962d7881a7e0ab6ec0a5ec523278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/mbox-importer-17.07.80.tar.xz">mbox-importer-17.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>92c74a94d94b7da2bb4d7044451c3ca6c0f89cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/messagelib-17.07.80.tar.xz">messagelib-17.07.80</a></td>
   <td align="right">9.9MB</td>
   <td><tt>d5b812299b08fa3b366adb37aaf23f5ca7fd5a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/minuet-17.07.80.tar.xz">minuet-17.07.80</a></td>
   <td align="right">26MB</td>
   <td><tt>32632028a2682550a0c659e2f12f5fb1a9027841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/okteta-17.07.80.tar.xz">okteta-17.07.80</a></td>
   <td align="right">940kB</td>
   <td><tt>d008c76cc15a6c26c4262a3b8ace84cdb5ce8724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/okular-17.07.80.tar.xz">okular-17.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>b92222f25bf79daddd29f5b65e8e0e4d25d7f3e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/palapeli-17.07.80.tar.xz">palapeli-17.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>835f63cc39ade8c1183dec688aa02b3a03ff40fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/parley-17.07.80.tar.xz">parley-17.07.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>ffd27040fc2931f8ea36b49bdb1ce35b337d1052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/picmi-17.07.80.tar.xz">picmi-17.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>889f23753e63a48a8aad247cce6f8e3c299a8b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/pimcommon-17.07.80.tar.xz">pimcommon-17.07.80</a></td>
   <td align="right">269kB</td>
   <td><tt>c3cb7e6e2425fc10f939d8f2fa964683807d63a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/pim-data-exporter-17.07.80.tar.xz">pim-data-exporter-17.07.80</a></td>
   <td align="right">259kB</td>
   <td><tt>2d3aa256b51e0cd3b7b715d35bc8a5c3d081cd7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/pim-sieve-editor-17.07.80.tar.xz">pim-sieve-editor-17.07.80</a></td>
   <td align="right">432kB</td>
   <td><tt>43be510497673c4e83a58a4ec7cc7dc033902f45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/poxml-17.07.80.tar.xz">poxml-17.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>6636eb2ab6f34627bdd5c54f321e559383314ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/print-manager-17.07.80.tar.xz">print-manager-17.07.80</a></td>
   <td align="right">231kB</td>
   <td><tt>aefce46f72b7a0f60cb78017cab1e65aad2ce69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/rocs-17.07.80.tar.xz">rocs-17.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>4124d34435a0ce9f60d0c5219e4585ef5d5a07f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/signon-kwallet-extension-17.07.80.tar.xz">signon-kwallet-extension-17.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>ba224a9210c5cddc7fbd051ce62ce0c08d9c43ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/spectacle-17.07.80.tar.xz">spectacle-17.07.80</a></td>
   <td align="right">651kB</td>
   <td><tt>c732b2a4ced1bf891c6a2df9e8081629ea919cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/step-17.07.80.tar.xz">step-17.07.80</a></td>
   <td align="right">842kB</td>
   <td><tt>7d133d6da447f3ea714ec631b348249fdd39f67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/svgpart-17.07.80.tar.xz">svgpart-17.07.80</a></td>
   <td align="right">18kB</td>
   <td><tt>771fe02853c24e6e1ec3585c6b1db42791c7a0be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/sweeper-17.07.80.tar.xz">sweeper-17.07.80</a></td>
   <td align="right">80kB</td>
   <td><tt>c8659a367e2b5c2263824049b865947abcafe264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/syndication-17.07.80.tar.xz">syndication-17.07.80</a></td>
   <td align="right">156kB</td>
   <td><tt>23505ea13705384ac4a9a0d4290f0948ea4363ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/umbrello-17.07.80.tar.xz">umbrello-17.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a256cd9660faef81eeb2fb863435f9445a8cb2bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/zeroconf-ioslave-17.07.80.tar.xz">zeroconf-ioslave-17.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>63b8253bb2f5517480a0b6c993f595eec18e9bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ar-17.07.80.tar.xz">kde-l10n-ar-17.07.80</a></td>
   <td align="right">566kB</td>
   <td><tt>339bdb5f9837bdb0be2ae382a869995a11f8e7e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ast-17.07.80.tar.xz">kde-l10n-ast-17.07.80</a></td>
   <td align="right">405kB</td>
   <td><tt>8c503886aef551176f8721f2bc5f4b71e20fab88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-bg-17.07.80.tar.xz">kde-l10n-bg-17.07.80</a></td>
   <td align="right">493kB</td>
   <td><tt>ba5ef5f2e47ae763e87a95ee2314885fabedafa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-bs-17.07.80.tar.xz">kde-l10n-bs-17.07.80</a></td>
   <td align="right">577kB</td>
   <td><tt>d6cabd3c2d56198161f3d0ebcc3398569d4452c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ca-17.07.80.tar.xz">kde-l10n-ca-17.07.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>dcbf7741530191002e47c8a9ede0945c5060993b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ca@valencia-17.07.80.tar.xz">kde-l10n-ca@valencia-17.07.80</a></td>
   <td align="right">558kB</td>
   <td><tt>2f17926876fb7f7b87c502338d75f478ab46e3d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-cs-17.07.80.tar.xz">kde-l10n-cs-17.07.80</a></td>
   <td align="right">561kB</td>
   <td><tt>82b685314dca830490273f95bdf67c2811bb59fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-da-17.07.80.tar.xz">kde-l10n-da-17.07.80</a></td>
   <td align="right">910kB</td>
   <td><tt>7e07ddb8a3840bfb931db766d6c1da8dc100737a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-de-17.07.80.tar.xz">kde-l10n-de-17.07.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>9c12fe917a921756ee41dd7025b48ebcdae4797a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-el-17.07.80.tar.xz">kde-l10n-el-17.07.80</a></td>
   <td align="right">753kB</td>
   <td><tt>1e2c25010e3730ba9453a19b3965f6cf662ae25b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-en_GB-17.07.80.tar.xz">kde-l10n-en_GB-17.07.80</a></td>
   <td align="right">520kB</td>
   <td><tt>5f9c0e8b469a0ddf9b63e2514dcfad1be0b9c2c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-eo-17.07.80.tar.xz">kde-l10n-eo-17.07.80</a></td>
   <td align="right">509kB</td>
   <td><tt>9f2e5f07a1ad38aaff2dad3cd3715cc2f15f64a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-es-17.07.80.tar.xz">kde-l10n-es-17.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6ffe99b139a9f70e5190bc661e1f00d6eec4e8b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-et-17.07.80.tar.xz">kde-l10n-et-17.07.80</a></td>
   <td align="right">849kB</td>
   <td><tt>1009e92536a476066075807ef9422a8982fe54f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-eu-17.07.80.tar.xz">kde-l10n-eu-17.07.80</a></td>
   <td align="right">568kB</td>
   <td><tt>4ae187ca92fafba6e93b994e1de98898fb7c497f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-fa-17.07.80.tar.xz">kde-l10n-fa-17.07.80</a></td>
   <td align="right">526kB</td>
   <td><tt>6b4e8c696a733607eb4fc726551ab6933e2f98dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-fi-17.07.80.tar.xz">kde-l10n-fi-17.07.80</a></td>
   <td align="right">630kB</td>
   <td><tt>2ed4178de26b55dc66a10b0111de586a1de1e570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-fr-17.07.80.tar.xz">kde-l10n-fr-17.07.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>fe193e62d9ddf89bbd193c1b6623ef3c76ad1d38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ga-17.07.80.tar.xz">kde-l10n-ga-17.07.80</a></td>
   <td align="right">553kB</td>
   <td><tt>8f1ec5ee5b6221fdced10b9ec29c6452aa47bd34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-gl-17.07.80.tar.xz">kde-l10n-gl-17.07.80</a></td>
   <td align="right">687kB</td>
   <td><tt>e589f42617f40f0cc8a52f76b1081596052dba5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-he-17.07.80.tar.xz">kde-l10n-he-17.07.80</a></td>
   <td align="right">481kB</td>
   <td><tt>70130e1ab926ebc8d8285406b6116e9f33c928e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-hi-17.07.80.tar.xz">kde-l10n-hi-17.07.80</a></td>
   <td align="right">483kB</td>
   <td><tt>f0055d035ae9e6ae82acfb4ae46638ccff750ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-hr-17.07.80.tar.xz">kde-l10n-hr-17.07.80</a></td>
   <td align="right">498kB</td>
   <td><tt>f1191e27309cc812bfe4266c59c5da6716a7a20b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-hu-17.07.80.tar.xz">kde-l10n-hu-17.07.80</a></td>
   <td align="right">614kB</td>
   <td><tt>e47c2cf480dc1a53f040cb44c7baef61662d4067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ia-17.07.80.tar.xz">kde-l10n-ia-17.07.80</a></td>
   <td align="right">468kB</td>
   <td><tt>dbbb81e0c406993a608113885ed9627444a99cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-id-17.07.80.tar.xz">kde-l10n-id-17.07.80</a></td>
   <td align="right">184kB</td>
   <td><tt>522ac4d6f62c46a5ef3c3b1b7e033959501292ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-is-17.07.80.tar.xz">kde-l10n-is-17.07.80</a></td>
   <td align="right">467kB</td>
   <td><tt>e685870f73db0a7219c6e8a9c2f4aa42df748168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-it-17.07.80.tar.xz">kde-l10n-it-17.07.80</a></td>
   <td align="right">959kB</td>
   <td><tt>ad255ef60125724276860689970c7b05335d5da8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ja-17.07.80.tar.xz">kde-l10n-ja-17.07.80</a></td>
   <td align="right">537kB</td>
   <td><tt>0500b5f9aa63090ab59d02d47f5b7574112568d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-kk-17.07.80.tar.xz">kde-l10n-kk-17.07.80</a></td>
   <td align="right">601kB</td>
   <td><tt>74b424f47961cbbc5f74c7f1d661fcb41fd6175f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-km-17.07.80.tar.xz">kde-l10n-km-17.07.80</a></td>
   <td align="right">530kB</td>
   <td><tt>5769cf34a8dcdf6fa271dae5d168955c806d4ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ko-17.07.80.tar.xz">kde-l10n-ko-17.07.80</a></td>
   <td align="right">520kB</td>
   <td><tt>62fa3dc5dcea124e6fc3b776f2f3dec901e37bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-lt-17.07.80.tar.xz">kde-l10n-lt-17.07.80</a></td>
   <td align="right">543kB</td>
   <td><tt>39361639d4684163ee0b1e42f25fabb84c6ad057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-lv-17.07.80.tar.xz">kde-l10n-lv-17.07.80</a></td>
   <td align="right">530kB</td>
   <td><tt>b871f7a715265654359154388a7584ba646ed939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-mr-17.07.80.tar.xz">kde-l10n-mr-17.07.80</a></td>
   <td align="right">457kB</td>
   <td><tt>ba6482f09d530d04b778f6c7654306b337a5ab68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-nb-17.07.80.tar.xz">kde-l10n-nb-17.07.80</a></td>
   <td align="right">576kB</td>
   <td><tt>ea108823068b35b44170865d7bda05430e883016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-nds-17.07.80.tar.xz">kde-l10n-nds-17.07.80</a></td>
   <td align="right">633kB</td>
   <td><tt>8ce634369312ef45a74f22637354b5f535d6c4a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-nl-17.07.80.tar.xz">kde-l10n-nl-17.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>21aceb9abfd87235a8a6393794c7589aed31a17b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-nn-17.07.80.tar.xz">kde-l10n-nn-17.07.80</a></td>
   <td align="right">537kB</td>
   <td><tt>69512a694edc2bc86130c70e205544b951591b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-pa-17.07.80.tar.xz">kde-l10n-pa-17.07.80</a></td>
   <td align="right">454kB</td>
   <td><tt>84e5e24c6f14e2bdadf538d38b98c00c190fe765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-pl-17.07.80.tar.xz">kde-l10n-pl-17.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>55ff89f49c91e3fcd8add7b8b4b7d51de30d0b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-pt-17.07.80.tar.xz">kde-l10n-pt-17.07.80</a></td>
   <td align="right">870kB</td>
   <td><tt>f3a4f33e60dcbac9dbd41ac8e4df9dd8f84849c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-pt_BR-17.07.80.tar.xz">kde-l10n-pt_BR-17.07.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>ef35d4955124b68b1b32741363c1688510ce5045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ro-17.07.80.tar.xz">kde-l10n-ro-17.07.80</a></td>
   <td align="right">601kB</td>
   <td><tt>7d02df948fd7eebf3f62996108d15fd04aa5d106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ru-17.07.80.tar.xz">kde-l10n-ru-17.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>239a17de08e24e1e02b20963af0aebd559179ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-sk-17.07.80.tar.xz">kde-l10n-sk-17.07.80</a></td>
   <td align="right">559kB</td>
   <td><tt>e8fbde83fab73fab9be67667d780a14b0a09b6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-sl-17.07.80.tar.xz">kde-l10n-sl-17.07.80</a></td>
   <td align="right">609kB</td>
   <td><tt>e8319ca3035a3f81c508a547f08dadabdc3d995b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-sr-17.07.80.tar.xz">kde-l10n-sr-17.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e8c7189c9d66891eae5e2ee76ac7c85f2ec65616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-sv-17.07.80.tar.xz">kde-l10n-sv-17.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3c15b2602388d6c723d5e76aee06de0dcf468d7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-tr-17.07.80.tar.xz">kde-l10n-tr-17.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>29855362271321ce90832d01dc6fc713ac8980f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-ug-17.07.80.tar.xz">kde-l10n-ug-17.07.80</a></td>
   <td align="right">473kB</td>
   <td><tt>d40f64ba5da1e660b7a9d75b12b4d48a453c361f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-uk-17.07.80.tar.xz">kde-l10n-uk-17.07.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>6402dcd6fa14ad0dbbc176cba6c2b1da6b4754ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-wa-17.07.80.tar.xz">kde-l10n-wa-17.07.80</a></td>
   <td align="right">403kB</td>
   <td><tt>4ab1c36a4993d11b7dda39dc44ee9fcaeabd600e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-zh_CN-17.07.80.tar.xz">kde-l10n-zh_CN-17.07.80</a></td>
   <td align="right">579kB</td>
   <td><tt>949149b3c4c701a98c87975f7c053290c90ce1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.07.80/src/kde-l10n/kde-l10n-zh_TW-17.07.80.tar.xz">kde-l10n-zh_TW-17.07.80</a></td>
   <td align="right">618kB</td>
   <td><tt>8b6be779565d2cec11934bd96f4da75fffaa3b43</tt></td>
</tr>

</table>
