<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadi-17.12.0.tar.xz">akonadi-17.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>eb391851ee5aacab10ce9627f01d3756ab34dc84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadi-calendar-17.12.0.tar.xz">akonadi-calendar-17.12.0</a></td>
   <td align="right">273kB</td>
   <td><tt>e9aca5fa82ad4b94a890336362a08ce9fc3d77dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadi-calendar-tools-17.12.0.tar.xz">akonadi-calendar-tools-17.12.0</a></td>
   <td align="right">219kB</td>
   <td><tt>d2566cf654bc7d871e81aff03bf261727daf5110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadiconsole-17.12.0.tar.xz">akonadiconsole-17.12.0</a></td>
   <td align="right">181kB</td>
   <td><tt>e983d257fb1569510aa91bc572b659549500436a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadi-contacts-17.12.0.tar.xz">akonadi-contacts-17.12.0</a></td>
   <td align="right">337kB</td>
   <td><tt>e58a84c393ecdad7aa08d119a549165b803fbdd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadi-import-wizard-17.12.0.tar.xz">akonadi-import-wizard-17.12.0</a></td>
   <td align="right">426kB</td>
   <td><tt>335392ed75c7ebe60e23e591ff689ec887e80aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadi-mime-17.12.0.tar.xz">akonadi-mime-17.12.0</a></td>
   <td align="right">127kB</td>
   <td><tt>b722f9087aceb7ab978deaf0882b89c567c1fa55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadi-notes-17.12.0.tar.xz">akonadi-notes-17.12.0</a></td>
   <td align="right">23kB</td>
   <td><tt>6e0939ab6c49354e39697f5cc845147cc09ba479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akonadi-search-17.12.0.tar.xz">akonadi-search-17.12.0</a></td>
   <td align="right">79kB</td>
   <td><tt>9042b7aaa123eb4d0a2fbd5fc722573adabeaba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/akregator-17.12.0.tar.xz">akregator-17.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>46b7963720b9b9c67d1f6fd23c695b01f8f4a664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/analitza-17.12.0.tar.xz">analitza-17.12.0</a></td>
   <td align="right">323kB</td>
   <td><tt>6c786d987148e4634d189b8d92f6ec8647e307a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ark-17.12.0.tar.xz">ark-17.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4220f340556bceb6d2debd15bacc91488de970df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/artikulate-17.12.0.tar.xz">artikulate-17.12.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>99e0de0702659098621301089b7d0857d5d173a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/audiocd-kio-17.12.0.tar.xz">audiocd-kio-17.12.0</a></td>
   <td align="right">242kB</td>
   <td><tt>b8ecb0cb6cafc27a9709e05b4175d8266a87daaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/baloo-widgets-17.12.0.tar.xz">baloo-widgets-17.12.0</a></td>
   <td align="right">148kB</td>
   <td><tt>4d17ea732f84bb68859100fcfa45dbc08d526823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/blinken-17.12.0.tar.xz">blinken-17.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d0d2ffdca531829852bbb7799ca436c66b19311c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/bomber-17.12.0.tar.xz">bomber-17.12.0</a></td>
   <td align="right">736kB</td>
   <td><tt>78f86c30fbb8181431a5fbc0582b5c904f025b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/bovo-17.12.0.tar.xz">bovo-17.12.0</a></td>
   <td align="right">182kB</td>
   <td><tt>49d70d750323f614e9c6bace516fd81e2e03866d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/calendarsupport-17.12.0.tar.xz">calendarsupport-17.12.0</a></td>
   <td align="right">629kB</td>
   <td><tt>79c0ebbd13cd05f501e8a8f8f91f172593e5c13e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/cantor-17.12.0.tar.xz">cantor-17.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c02c986f2ceb9180bf267c437a191fd1e2835de4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/cervisia-17.12.0.tar.xz">cervisia-17.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5ed01fcc6c6f6615f04a87a0c0f0f93e67f34808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/dolphin-17.12.0.tar.xz">dolphin-17.12.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>7215b5957e32c11a866977f0238a5f88b865aadf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/dolphin-plugins-17.12.0.tar.xz">dolphin-plugins-17.12.0</a></td>
   <td align="right">182kB</td>
   <td><tt>90fa6c49465f09aa5112581d3b98957eec648141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/dragon-17.12.0.tar.xz">dragon-17.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b0814b26d3684796a24e83988df60074d466ae16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/eventviews-17.12.0.tar.xz">eventviews-17.12.0</a></td>
   <td align="right">425kB</td>
   <td><tt>36cf029f00ca97b7d78015b87e5435252a584709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ffmpegthumbs-17.12.0.tar.xz">ffmpegthumbs-17.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>81979375cf9d30ab8676a7d754b3ca0a924fb956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/filelight-17.12.0.tar.xz">filelight-17.12.0</a></td>
   <td align="right">638kB</td>
   <td><tt>01d69fd6b8a5fdc56f41ca275ffcaced448af953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/granatier-17.12.0.tar.xz">granatier-17.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1637de8d2ce8e26fe4d8e6cc6c1202d28d0882af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/grantlee-editor-17.12.0.tar.xz">grantlee-editor-17.12.0</a></td>
   <td align="right">108kB</td>
   <td><tt>2dcea0542c78f93de159a17aabe5c0259ce2f00a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/grantleetheme-17.12.0.tar.xz">grantleetheme-17.12.0</a></td>
   <td align="right">50kB</td>
   <td><tt>a350e435365825c734e66ec75c9511c4fd5bfe9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/gwenview-17.12.0.tar.xz">gwenview-17.12.0</a></td>
   <td align="right">5.7MB</td>
   <td><tt>ace37dbffd573d65be1774ef148e194737569a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/incidenceeditor-17.12.0.tar.xz">incidenceeditor-17.12.0</a></td>
   <td align="right">506kB</td>
   <td><tt>69daa6750631f3edb8f377b985407d49c7b5975a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/juk-17.12.0.tar.xz">juk-17.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b71b1670578d16c046ae010eeff42ae93b30eb33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/k3b-17.12.0.tar.xz">k3b-17.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>02f044a443879d91f693ead526fe4bd88a196d4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kaccounts-integration-17.12.0.tar.xz">kaccounts-integration-17.12.0</a></td>
   <td align="right">69kB</td>
   <td><tt>ed90dffb8340d0ed3689eb9edc3c4691ecbd1445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kaccounts-providers-17.12.0.tar.xz">kaccounts-providers-17.12.0</a></td>
   <td align="right">31kB</td>
   <td><tt>6152d0e9452c8100f41446ccc838906c67097d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kaddressbook-17.12.0.tar.xz">kaddressbook-17.12.0</a></td>
   <td align="right">533kB</td>
   <td><tt>8bdc06d6abbaafb1c28ef15fdb72f203ccdc74f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kajongg-17.12.0.tar.xz">kajongg-17.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>dc4f95876eb9d422377ad69d0a96858a98718cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kalarm-17.12.0.tar.xz">kalarm-17.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2d01610a09aae3b1c52f29aaf2752e26388b88d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kalarmcal-17.12.0.tar.xz">kalarmcal-17.12.0</a></td>
   <td align="right">483kB</td>
   <td><tt>4c3e0c4a2e949dafdabb84f35c988ee9ac57f946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kalgebra-17.12.0.tar.xz">kalgebra-17.12.0</a></td>
   <td align="right">674kB</td>
   <td><tt>c242233f496e3e845441fb1fbfcf97ddf571e5b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kalzium-17.12.0.tar.xz">kalzium-17.12.0</a></td>
   <td align="right">23MB</td>
   <td><tt>b355501dccb546255419cc5ddb819fde03fc4d1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kamera-17.12.0.tar.xz">kamera-17.12.0</a></td>
   <td align="right">94kB</td>
   <td><tt>d6da19ad5cc34c67221a1a3e5d95d2dab43fe735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kanagram-17.12.0.tar.xz">kanagram-17.12.0</a></td>
   <td align="right">7.1MB</td>
   <td><tt>e9f976a0bfd2083204cc281c3eceeecbcfccc14a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kapman-17.12.0.tar.xz">kapman-17.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a40e7621e0dba17cc649784d5bb48e252a15af93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kapptemplate-17.12.0.tar.xz">kapptemplate-17.12.0</a></td>
   <td align="right">344kB</td>
   <td><tt>8a3de591073cca770574a4feb8599b7386876d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kate-17.12.0.tar.xz">kate-17.12.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>2f351c16580a05cf5fc20f1512d7f33963e6bd45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/katomic-17.12.0.tar.xz">katomic-17.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fdb4186dd9e9cf73a23057c4e373f0acec6d7188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kblackbox-17.12.0.tar.xz">kblackbox-17.12.0</a></td>
   <td align="right">392kB</td>
   <td><tt>06543da23ac08f13d33547d737dfbb0438a56e2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kblocks-17.12.0.tar.xz">kblocks-17.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>425bc9aaee2a8597a1fb013b922869c5cd4f75f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kblog-17.12.0.tar.xz">kblog-17.12.0</a></td>
   <td align="right">70kB</td>
   <td><tt>f1c5aaacd42144ce5499eef3073ac8587dfb5585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kbounce-17.12.0.tar.xz">kbounce-17.12.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>682658e0e2f5100003821e1d6bd1831f12b25a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kbreakout-17.12.0.tar.xz">kbreakout-17.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>15ab084ec3c401a5325d40ebba47f3df1ee2a22a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kbruch-17.12.0.tar.xz">kbruch-17.12.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>5fe9d009d0bc6e2c5b3cb1e00f0693f51b7cc79a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kcachegrind-17.12.0.tar.xz">kcachegrind-17.12.0</a></td>
   <td align="right">794kB</td>
   <td><tt>760b8c3f69d7df81eb5c3408e2c48eb9b8036ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kcalc-17.12.0.tar.xz">kcalc-17.12.0</a></td>
   <td align="right">351kB</td>
   <td><tt>a47ac21affd45689f05a9cbb6ed34fe56a61388d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kcalcore-17.12.0.tar.xz">kcalcore-17.12.0</a></td>
   <td align="right">269kB</td>
   <td><tt>42f09dddbc21a48560848a91783ff89ea6f9bafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kcalutils-17.12.0.tar.xz">kcalutils-17.12.0</a></td>
   <td align="right">318kB</td>
   <td><tt>5a972479c43b0adf3757c40ee2edc8b396786dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kcharselect-17.12.0.tar.xz">kcharselect-17.12.0</a></td>
   <td align="right">342kB</td>
   <td><tt>0016944207bcac6ab8fcd9a28141e9907335ded5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kcolorchooser-17.12.0.tar.xz">kcolorchooser-17.12.0</a></td>
   <td align="right">16kB</td>
   <td><tt>54d710175a5c6de6a39ea4a29d2764fb4c0a7017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kcontacts-17.12.0.tar.xz">kcontacts-17.12.0</a></td>
   <td align="right">202kB</td>
   <td><tt>c452dadd130d0f6e02fbf41c1ab8f5d52e04f030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kcron-17.12.0.tar.xz">kcron-17.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0ba64ae5400842359ddec0c2dda72125ca912979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdav-17.12.0.tar.xz">kdav-17.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>14489901990a71c02b35107da93dce3010895aeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdebugsettings-17.12.0.tar.xz">kdebugsettings-17.12.0</a></td>
   <td align="right">47kB</td>
   <td><tt>9cdaef46708cb717b9ba59ca8212c2f30722053d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kde-dev-scripts-17.12.0.tar.xz">kde-dev-scripts-17.12.0</a></td>
   <td align="right">367kB</td>
   <td><tt>46343112ca312e15a7e48b3746d5180027dd25d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kde-dev-utils-17.12.0.tar.xz">kde-dev-utils-17.12.0</a></td>
   <td align="right">59kB</td>
   <td><tt>c3027f8e5fd22e5e0bc947eb88c650822c085543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdeedu-data-17.12.0.tar.xz">kdeedu-data-17.12.0</a></td>
   <td align="right">320kB</td>
   <td><tt>9a1d16934d972ca37df6b7bb655266e4b8928f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdegraphics-mobipocket-17.12.0.tar.xz">kdegraphics-mobipocket-17.12.0</a></td>
   <td align="right">13kB</td>
   <td><tt>45c84cc0d654a7f0af92bccbac82605d1cb43a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdegraphics-thumbnailers-17.12.0.tar.xz">kdegraphics-thumbnailers-17.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>5724d0d92a5acee2e55c069b461a851151ebffb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdenetwork-filesharing-17.12.0.tar.xz">kdenetwork-filesharing-17.12.0</a></td>
   <td align="right">316kB</td>
   <td><tt>46356483448e6e5e56d518d8d8afcb39566aa716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdenlive-17.12.0.tar.xz">kdenlive-17.12.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>d59687b00f3fea3b990e8274b8b03b39542bdbb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdepim-addons-17.12.0.tar.xz">kdepim-addons-17.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a290467fa764b5e0c57aeb4720d48a3fb786b91b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdepim-apps-libs-17.12.0.tar.xz">kdepim-apps-libs-17.12.0</a></td>
   <td align="right">71kB</td>
   <td><tt>59a8972085c1714cc7d583c135dcbd9095c1651b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdepim-runtime-17.12.0.tar.xz">kdepim-runtime-17.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6be953039a8eae37a7eb7dabff3bed06d46e2091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdesdk-kioslaves-17.12.0.tar.xz">kdesdk-kioslaves-17.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>b0917e009c26a89520cdd72678ee50cdcbb170d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdesdk-thumbnailers-17.12.0.tar.xz">kdesdk-thumbnailers-17.12.0</a></td>
   <td align="right">16kB</td>
   <td><tt>b230f606df1eb4171dfcf3d8697f97ff67000424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdf-17.12.0.tar.xz">kdf-17.12.0</a></td>
   <td align="right">518kB</td>
   <td><tt>3759b82a08b02062824608afaf720dce18a2dc4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdialog-17.12.0.tar.xz">kdialog-17.12.0</a></td>
   <td align="right">93kB</td>
   <td><tt>87f43148ff3d75daa37c14da6a099adee169ec0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kdiamond-17.12.0.tar.xz">kdiamond-17.12.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>746ccd67b166c6903a2e900b8753759a187fb783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/keditbookmarks-17.12.0.tar.xz">keditbookmarks-17.12.0</a></td>
   <td align="right">179kB</td>
   <td><tt>2db83fc22f1e536ce6af8f9bd0b3ee000449710b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kfind-17.12.0.tar.xz">kfind-17.12.0</a></td>
   <td align="right">204kB</td>
   <td><tt>a07ba8c9d373c23f1c05a1ab5b87ff23bf7e42d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kfloppy-17.12.0.tar.xz">kfloppy-17.12.0</a></td>
   <td align="right">194kB</td>
   <td><tt>cdf3161d1c7b306586beea4f1c9c2b94cb86c451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kfourinline-17.12.0.tar.xz">kfourinline-17.12.0</a></td>
   <td align="right">559kB</td>
   <td><tt>ef1c83f583b8f6b7067bae904bd5a8b874288a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kgeography-17.12.0.tar.xz">kgeography-17.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>0c757b5abab695cc981c29ca1fad2dafb95012ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kget-17.12.0.tar.xz">kget-17.12.0</a></td>
   <td align="right">5.1MB</td>
   <td><tt>e17dae1ba0db24ba86b08c8c77de6afee10eca81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kgoldrunner-17.12.0.tar.xz">kgoldrunner-17.12.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>9740a7bbbfc4ee8c44ff2d73733f29dc925cb024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kgpg-17.12.0.tar.xz">kgpg-17.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>121577850dbe1bda98dabd8cd846bc54948f63a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/khangman-17.12.0.tar.xz">khangman-17.12.0</a></td>
   <td align="right">6.1MB</td>
   <td><tt>92eca836ebe1abdd1d822a32ab233411538a23b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/khelpcenter-17.12.0.tar.xz">khelpcenter-17.12.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>4aecd3626657789c25fcee4365b3e3b19f7f224c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kholidays-17.12.0.tar.xz">kholidays-17.12.0</a></td>
   <td align="right">197kB</td>
   <td><tt>857a56df8e90184208229ba81c13265e6449345b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kidentitymanagement-17.12.0.tar.xz">kidentitymanagement-17.12.0</a></td>
   <td align="right">144kB</td>
   <td><tt>370cc81bcb45142b19235dd2546fcad1427dbaf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kig-17.12.0.tar.xz">kig-17.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3f27e278b81a23e867870ae7a1746854ca03f27b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kigo-17.12.0.tar.xz">kigo-17.12.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>0fcf9cbeddd9755b427d9600a8c56c26eb00683f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/killbots-17.12.0.tar.xz">killbots-17.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0d3333ac6374fd6baddd57512bbfd5828203ff81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kimagemapeditor-17.12.0.tar.xz">kimagemapeditor-17.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ade8f92bf8360fa0f183fb783e4d3284d75f960d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kimap-17.12.0.tar.xz">kimap-17.12.0</a></td>
   <td align="right">116kB</td>
   <td><tt>e7b6a678b877e3f67cb0c403daf904ea214e0566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kio-extras-17.12.0.tar.xz">kio-extras-17.12.0</a></td>
   <td align="right">542kB</td>
   <td><tt>e3d5b02198833a6de82fb62d4eef34635323a950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kiriki-17.12.0.tar.xz">kiriki-17.12.0</a></td>
   <td align="right">318kB</td>
   <td><tt>9b678f94348acd84ba76995398cde7fc80d5507a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kiten-17.12.0.tar.xz">kiten-17.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>0c305665f954d859eefb6fe16873e03fdc0f5f71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kjumpingcube-17.12.0.tar.xz">kjumpingcube-17.12.0</a></td>
   <td align="right">286kB</td>
   <td><tt>7b35e30ec679240a466d9e04cb053b921b9b84b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kldap-17.12.0.tar.xz">kldap-17.12.0</a></td>
   <td align="right">151kB</td>
   <td><tt>af698f1b1c3518bed5ae9ae0f58af22b9b24a4c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kleopatra-17.12.0.tar.xz">kleopatra-17.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>90a92f0ea8c48c97a99fa1cf0998ab6bde1ed803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/klettres-17.12.0.tar.xz">klettres-17.12.0</a></td>
   <td align="right">20MB</td>
   <td><tt>4d7890a9ff78d01a306aa5f4cd4010c6ce9549a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/klickety-17.12.0.tar.xz">klickety-17.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ffb84d0063dce32e1bd8398a7099ebab955b3903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/klines-17.12.0.tar.xz">klines-17.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7631e8a73b22462338c2a78a2c720d79de180438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmag-17.12.0.tar.xz">kmag-17.12.0</a></td>
   <td align="right">574kB</td>
   <td><tt>71c9fece8658f2c0578672a67ca1057bbeae023b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmahjongg-17.12.0.tar.xz">kmahjongg-17.12.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>7e81daa95f00abb05aa47e460ed5aed6aaf19a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmail-17.12.0.tar.xz">kmail-17.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>8a19fbe052279c8a99c1514bb61a959e2e7cdded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmail-account-wizard-17.12.0.tar.xz">kmail-account-wizard-17.12.0</a></td>
   <td align="right">148kB</td>
   <td><tt>32ae0081804ca5582b921b768154b864de0e2bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmailtransport-17.12.0.tar.xz">kmailtransport-17.12.0</a></td>
   <td align="right">161kB</td>
   <td><tt>ffcde6dc8d113ebca5e7954a1357ef34074eb7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmbox-17.12.0.tar.xz">kmbox-17.12.0</a></td>
   <td align="right">23kB</td>
   <td><tt>730e2cfbffd8a97ac3fd234496d811436c54ff0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmime-17.12.0.tar.xz">kmime-17.12.0</a></td>
   <td align="right">143kB</td>
   <td><tt>f522d01d516b954843a4865376f1b24c2b621f76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmines-17.12.0.tar.xz">kmines-17.12.0</a></td>
   <td align="right">861kB</td>
   <td><tt>fcafffa215419318fda419190399252b62ed1636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmix-17.12.0.tar.xz">kmix-17.12.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>412e5e2614795c2f12dac093eadd72cfcf5d6b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmousetool-17.12.0.tar.xz">kmousetool-17.12.0</a></td>
   <td align="right">108kB</td>
   <td><tt>6e330bc000207c25a7d4574ac24d80144675dcb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmouth-17.12.0.tar.xz">kmouth-17.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4fa4e6e10d72fc37d8aa0be6fd6cf5cd256a1cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kmplot-17.12.0.tar.xz">kmplot-17.12.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5398a15b2475183625ccfe0cb4b02a9dd46d62bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/knavalbattle-17.12.0.tar.xz">knavalbattle-17.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>64d46f424b1e3176f0012e31ec68a57c4e3f04ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/knetwalk-17.12.0.tar.xz">knetwalk-17.12.0</a></td>
   <td align="right">958kB</td>
   <td><tt>78524ab316256181d1059ea3aa838f9a08315452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/knotes-17.12.0.tar.xz">knotes-17.12.0</a></td>
   <td align="right">328kB</td>
   <td><tt>dc098cadab7a491a99dc1745716f2677709d82ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kolf-17.12.0.tar.xz">kolf-17.12.0</a></td>
   <td align="right">906kB</td>
   <td><tt>beb5c629fafcd3de220615f04a2ac8b31a3f7892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kollision-17.12.0.tar.xz">kollision-17.12.0</a></td>
   <td align="right">265kB</td>
   <td><tt>26c46796e47195c8ca986b1eb967724444fda287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kolourpaint-17.12.0.tar.xz">kolourpaint-17.12.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>754321e514d1d650c8bb5a20f507356e778b10b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kompare-17.12.0.tar.xz">kompare-17.12.0</a></td>
   <td align="right">695kB</td>
   <td><tt>42f07e4f5710190bad0adf59e84b9087b08c6a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/konqueror-17.12.0.tar.xz">konqueror-17.12.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>457573c96509b51e84ddc3c9efff10ca0c8c4e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/konquest-17.12.0.tar.xz">konquest-17.12.0</a></td>
   <td align="right">642kB</td>
   <td><tt>e6e39f4649b5752b1d13e49a3ebdcb339f4c30f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/konsole-17.12.0.tar.xz">konsole-17.12.0</a></td>
   <td align="right">1002kB</td>
   <td><tt>2ba423c75a2b0e010272cb6a9284519dc214b272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kontact-17.12.0.tar.xz">kontact-17.12.0</a></td>
   <td align="right">845kB</td>
   <td><tt>ac76c15ecaab3876cb58e52a6a0b77e46eef3c19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kontactinterface-17.12.0.tar.xz">kontactinterface-17.12.0</a></td>
   <td align="right">31kB</td>
   <td><tt>83209701c69ab3d76e886d65c605d6a6ddc26aff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/korganizer-17.12.0.tar.xz">korganizer-17.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9ab0320f3ed46e5fd95e5f5af0821eee707d2408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kpat-17.12.0.tar.xz">kpat-17.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>fb7fe7953d7702825c86c3bb330a10fe7e3dcd26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kpimtextedit-17.12.0.tar.xz">kpimtextedit-17.12.0</a></td>
   <td align="right">137kB</td>
   <td><tt>4ec87772d42779e3560526df69b5189facfc4b4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kqtquickcharts-17.12.0.tar.xz">kqtquickcharts-17.12.0</a></td>
   <td align="right">24kB</td>
   <td><tt>2a3c0b06b4480df462655155895e7863b39198a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/krdc-17.12.0.tar.xz">krdc-17.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d9c82e9742e943b854d4460264e4fd128389e60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kreversi-17.12.0.tar.xz">kreversi-17.12.0</a></td>
   <td align="right">890kB</td>
   <td><tt>b369f965e43948a538d09dfa94130e08408a4a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/krfb-17.12.0.tar.xz">krfb-17.12.0</a></td>
   <td align="right">970kB</td>
   <td><tt>19e089bfe980a0dac3a6d3e4ba50362f3823c672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kross-interpreters-17.12.0.tar.xz">kross-interpreters-17.12.0</a></td>
   <td align="right">141kB</td>
   <td><tt>a32dce3af319888f508b06f965da7c2cf265ba21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kruler-17.12.0.tar.xz">kruler-17.12.0</a></td>
   <td align="right">253kB</td>
   <td><tt>eaccea530ac7e6197c5fcdd8d5252d29bc3391b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kshisen-17.12.0.tar.xz">kshisen-17.12.0</a></td>
   <td align="right">692kB</td>
   <td><tt>3cb0c388c4cd86499cf369ce9d9fa17a1a0b983e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ksirk-17.12.0.tar.xz">ksirk-17.12.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>984b715b989e6eab4a8402b4f8a884e3de0ec75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ksmtp-17.12.0.tar.xz">ksmtp-17.12.0</a></td>
   <td align="right">37kB</td>
   <td><tt>862c59a9b6a69ab4590221378b3644cc065cef94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ksnakeduel-17.12.0.tar.xz">ksnakeduel-17.12.0</a></td>
   <td align="right">591kB</td>
   <td><tt>4a15d2df88b9dda251504273a5f9c5b2a961597e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kspaceduel-17.12.0.tar.xz">kspaceduel-17.12.0</a></td>
   <td align="right">595kB</td>
   <td><tt>c76503cc0c7ceb9921f03eddb709481cdb3d9c57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ksquares-17.12.0.tar.xz">ksquares-17.12.0</a></td>
   <td align="right">210kB</td>
   <td><tt>40f698535368d7446e87d850f60d941355cc78cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ksudoku-17.12.0.tar.xz">ksudoku-17.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a14733c6c00b74c0a311739320bf73cd128d398a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ksystemlog-17.12.0.tar.xz">ksystemlog-17.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>aec7aa4a6deea8e9a07881e66873f743f653f822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kteatime-17.12.0.tar.xz">kteatime-17.12.0</a></td>
   <td align="right">290kB</td>
   <td><tt>98406de132bbe377bce2b0051497162d2f9106ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktimer-17.12.0.tar.xz">ktimer-17.12.0</a></td>
   <td align="right">441kB</td>
   <td><tt>5e7f26cbbfadd81271e74cb5a0fb289deb1e6a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktnef-17.12.0.tar.xz">ktnef-17.12.0</a></td>
   <td align="right">292kB</td>
   <td><tt>29f2ce671f800850e65e945b3a2778bf3deb291d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktouch-17.12.0.tar.xz">ktouch-17.12.0</a></td>
   <td align="right">4.8MB</td>
   <td><tt>253c9874f5723110a1f6701248e2d0d08577c6ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-accounts-kcm-17.12.0.tar.xz">ktp-accounts-kcm-17.12.0</a></td>
   <td align="right">256kB</td>
   <td><tt>2d35bd4c52175c60c18600313d98c1bce71b7511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-approver-17.12.0.tar.xz">ktp-approver-17.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>f252e8be89938d0def6adc08793da30d76e11f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-auth-handler-17.12.0.tar.xz">ktp-auth-handler-17.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>38bfeae760ed2b429381bcba70c5a9691163f132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-call-ui-17.12.0.tar.xz">ktp-call-ui-17.12.0</a></td>
   <td align="right">94kB</td>
   <td><tt>66f02d6773c617d08008d41279c6c712e4c1a816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-common-internals-17.12.0.tar.xz">ktp-common-internals-17.12.0</a></td>
   <td align="right">431kB</td>
   <td><tt>b74a5397c1cec939eb9f8f8da91c5b96b1c05148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-contact-list-17.12.0.tar.xz">ktp-contact-list-17.12.0</a></td>
   <td align="right">129kB</td>
   <td><tt>c9306401f3f34b947362942bb076d3d94536bb6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-contact-runner-17.12.0.tar.xz">ktp-contact-runner-17.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>72dd677ec620b693ab520b5932b6ce23c77ad233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-desktop-applets-17.12.0.tar.xz">ktp-desktop-applets-17.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>0f051bbfb1c63ea8871648c1d42b56a1f44165c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-filetransfer-handler-17.12.0.tar.xz">ktp-filetransfer-handler-17.12.0</a></td>
   <td align="right">44kB</td>
   <td><tt>9d7d40b6f9188ed5c68449e312b682795e30fb2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-kded-module-17.12.0.tar.xz">ktp-kded-module-17.12.0</a></td>
   <td align="right">79kB</td>
   <td><tt>1912a3ca59b7b1a49c1de7b3798abee007db8deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-send-file-17.12.0.tar.xz">ktp-send-file-17.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>012ee9ab67d8a8536b56902ac8e88b25c3b98ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktp-text-ui-17.12.0.tar.xz">ktp-text-ui-17.12.0</a></td>
   <td align="right">457kB</td>
   <td><tt>ae5cb56739d432fc313addd222926199da689071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/ktuberling-17.12.0.tar.xz">ktuberling-17.12.0</a></td>
   <td align="right">31MB</td>
   <td><tt>0f1375f8c933528827f0e569efee3806b02f55d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kturtle-17.12.0.tar.xz">kturtle-17.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7303355d7f9ddef8e96e37305854dee1532afe9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kubrick-17.12.0.tar.xz">kubrick-17.12.0</a></td>
   <td align="right">299kB</td>
   <td><tt>a1d566b02afdefe3df5fd5d4d6f25e3760d26058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kwalletmanager-17.12.0.tar.xz">kwalletmanager-17.12.0</a></td>
   <td align="right">760kB</td>
   <td><tt>54523edc26666ac7048d1f823ab5458555a75feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kwave-17.12.0.tar.xz">kwave-17.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>72a1dc36bcf0b7497d7b8f9938cb32098a6d954e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/kwordquiz-17.12.0.tar.xz">kwordquiz-17.12.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>5f43c5b6e87faa5da99b042d909449305fc15fc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libgravatar-17.12.0.tar.xz">libgravatar-17.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>e9066953c4985f5c0d03e76c910c721ece6f946c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkcddb-17.12.0.tar.xz">libkcddb-17.12.0</a></td>
   <td align="right">414kB</td>
   <td><tt>f42ae0aa184bf906f9b03f553bc89da1996e6cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkcompactdisc-17.12.0.tar.xz">libkcompactdisc-17.12.0</a></td>
   <td align="right">86kB</td>
   <td><tt>0ed0247de1707f513dff712fe80914c3cebf7184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkdcraw-17.12.0.tar.xz">libkdcraw-17.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>fbd17d300731fdd3ef807e983e26e3c2fbdc52ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkdegames-17.12.0.tar.xz">libkdegames-17.12.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>86f844d6ff81a71a7b2bb0f1cadbb7d9a4e217a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkdepim-17.12.0.tar.xz">libkdepim-17.12.0</a></td>
   <td align="right">332kB</td>
   <td><tt>f7e42e34757eeee0fea645f59abbee51042427e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkeduvocdocument-17.12.0.tar.xz">libkeduvocdocument-17.12.0</a></td>
   <td align="right">204kB</td>
   <td><tt>99078c8986cca8778fb257a3305ffb32201aab4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkexiv2-17.12.0.tar.xz">libkexiv2-17.12.0</a></td>
   <td align="right">62kB</td>
   <td><tt>aa3c885ed8feff1c4eaad9a0c667b7a467840784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkgapi-17.12.0.tar.xz">libkgapi-17.12.0</a></td>
   <td align="right">170kB</td>
   <td><tt>6d42ce6281fbc2acabc5a025732deebdfec92ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkgeomap-17.12.0.tar.xz">libkgeomap-17.12.0</a></td>
   <td align="right">146kB</td>
   <td><tt>b71411fd12fc91a3f14fad0238857ebeaa8bc826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkipi-17.12.0.tar.xz">libkipi-17.12.0</a></td>
   <td align="right">101kB</td>
   <td><tt>2958f7ff14321b8ae28c9cbf4d3ab4e5152b0a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkleo-17.12.0.tar.xz">libkleo-17.12.0</a></td>
   <td align="right">308kB</td>
   <td><tt>266c95e6c69a12f11b8b4c2002f759eeeef0212b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkmahjongg-17.12.0.tar.xz">libkmahjongg-17.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f7fb6758bf390c448d1eafa68703795ce5f41008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libkomparediff2-17.12.0.tar.xz">libkomparediff2-17.12.0</a></td>
   <td align="right">172kB</td>
   <td><tt>8a12504210b4cd38f016fd800c9bce8e998eccc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libksane-17.12.0.tar.xz">libksane-17.12.0</a></td>
   <td align="right">133kB</td>
   <td><tt>81e8728fade8b7bb2f3a54b746bd90adc70e395f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/libksieve-17.12.0.tar.xz">libksieve-17.12.0</a></td>
   <td align="right">535kB</td>
   <td><tt>865a8dbf8f1456ebae1587c81a1475519a9909a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/lokalize-17.12.0.tar.xz">lokalize-17.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5e477acdb7a74f0162ce6836d9738b11359aeee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/lskat-17.12.0.tar.xz">lskat-17.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>46c5943dc79bb3fe525610dde3f654731befeb16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/mailcommon-17.12.0.tar.xz">mailcommon-17.12.0</a></td>
   <td align="right">669kB</td>
   <td><tt>caeb623fe4467fb47480d0510330c4f49c550357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/mailimporter-17.12.0.tar.xz">mailimporter-17.12.0</a></td>
   <td align="right">528kB</td>
   <td><tt>eaa5451aef5638e9f71ed96fb3385754029e95fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/marble-17.12.0.tar.xz">marble-17.12.0</a></td>
   <td align="right">49MB</td>
   <td><tt>c4079ef4ab92dc631a0fa1379fae77aa1156181f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/mbox-importer-17.12.0.tar.xz">mbox-importer-17.12.0</a></td>
   <td align="right">32kB</td>
   <td><tt>ec56ae0e8a9a7f8e1b1d7dd44407f3ae88cf34c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/messagelib-17.12.0.tar.xz">messagelib-17.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>7ad5792c677681a66dafd8401547fc162da1c40d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/minuet-17.12.0.tar.xz">minuet-17.12.0</a></td>
   <td align="right">26MB</td>
   <td><tt>2df09e7ae47794680f14ff92a5d16c617c1cbdd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/okteta-17.12.0.tar.xz">okteta-17.12.0</a></td>
   <td align="right">940kB</td>
   <td><tt>a5ae14faa361bd42b1b7798f2788ba3d435d98d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/okular-17.12.0.tar.xz">okular-17.12.0</a></td>
   <td align="right">5.4MB</td>
   <td><tt>25fa1c628b7d119e9bc3ebc26cf3083ab6e1370c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/palapeli-17.12.0.tar.xz">palapeli-17.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>833ce70f0808969cea02a070029d065d564b01fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/parley-17.12.0.tar.xz">parley-17.12.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>1318236516dd2a59df792ce6a50f36a1b7e95307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/picmi-17.12.0.tar.xz">picmi-17.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e8d3a466f19a5ef28071c1247e778a25458a19ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/pimcommon-17.12.0.tar.xz">pimcommon-17.12.0</a></td>
   <td align="right">282kB</td>
   <td><tt>cd2551ad1ae52fa050d833b5f3f94d752dccf75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/pim-data-exporter-17.12.0.tar.xz">pim-data-exporter-17.12.0</a></td>
   <td align="right">261kB</td>
   <td><tt>6a92b970d01a2112b7a75afb02d72e4dbaaa14d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/pim-sieve-editor-17.12.0.tar.xz">pim-sieve-editor-17.12.0</a></td>
   <td align="right">434kB</td>
   <td><tt>2d1f70b7e55e7cf692e971cd6f4812788087f584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/poxml-17.12.0.tar.xz">poxml-17.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>9ce183b1f4e30b4bcaa0e7a8bc8d244cdffcda26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/print-manager-17.12.0.tar.xz">print-manager-17.12.0</a></td>
   <td align="right">231kB</td>
   <td><tt>5749445795f82f92356b4ef446fe0cc8749ffaa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/rocs-17.12.0.tar.xz">rocs-17.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>38f0b222c77625e533c6a0aee4a2d267d90d659f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/signon-kwallet-extension-17.12.0.tar.xz">signon-kwallet-extension-17.12.0</a></td>
   <td align="right">10kB</td>
   <td><tt>cd5e202fdacf8db98cb5d025416f3ed4802eb122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/spectacle-17.12.0.tar.xz">spectacle-17.12.0</a></td>
   <td align="right">748kB</td>
   <td><tt>5800045c6e7614bc79231e85fc35433005c81599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/step-17.12.0.tar.xz">step-17.12.0</a></td>
   <td align="right">842kB</td>
   <td><tt>5be2bed9f55388531569a23a40e7bbb47fd4ce7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/svgpart-17.12.0.tar.xz">svgpart-17.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>430b69bcc8cb9c2b4619725a998290a7d564f59b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/sweeper-17.12.0.tar.xz">sweeper-17.12.0</a></td>
   <td align="right">373kB</td>
   <td><tt>4ccb041a3d35e0e87aab4510a3b5cd9a9929b136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/syndication-17.12.0.tar.xz">syndication-17.12.0</a></td>
   <td align="right">156kB</td>
   <td><tt>029e933a0d794079d452dc802dbbd412ef6746ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/umbrello-17.12.0.tar.xz">umbrello-17.12.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a81435a8fe940a46f5f3b67e72d2b0f9f3110867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.0/src/zeroconf-ioslave-17.12.0.tar.xz">zeroconf-ioslave-17.12.0</a></td>
   <td align="right">37kB</td>
   <td><tt>56038a94847be64ab58b58fde15d5aeebf14ecb9</tt></td>
</tr>

</table>
