<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/amor-14.12.0.tar.xz">amor-14.12.0</a></td>
   <td align="right">171kB</td>
   <td><tt>42d7590c71400ea97ab4f1d8194aa4267a996838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/analitza-14.12.0.tar.xz">analitza-14.12.0</a></td>
   <td align="right">222kB</td>
   <td><tt>8646e9657024cfc1568e3790e56efa9c8280ac03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ark-14.12.0.tar.xz">ark-14.12.0</a></td>
   <td align="right">232kB</td>
   <td><tt>0cdff5c802f96fc9a8ef4babe3ea6faa23f73f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/artikulate-14.12.0.tar.xz">artikulate-14.12.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>5f0b26e73b5221abf2c0345979ac0c34053bf9e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/audiocd-kio-14.12.0.tar.xz">audiocd-kio-14.12.0</a></td>
   <td align="right">50kB</td>
   <td><tt>f6cc8cd8fbf3033fb4828bbcd446f4e16a5da16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/blinken-14.12.0.tar.xz">blinken-14.12.0</a></td>
   <td align="right">552kB</td>
   <td><tt>cf702997cd41e5d4dc0a3576b258428c7fa1c061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/bomber-14.12.0.tar.xz">bomber-14.12.0</a></td>
   <td align="right">382kB</td>
   <td><tt>db167906fe329418b215d66717ba6b552d97b3e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/bovo-14.12.0.tar.xz">bovo-14.12.0</a></td>
   <td align="right">101kB</td>
   <td><tt>d7f4b9226ef996bab22f5373662382131670a22c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/cantor-14.12.0.tar.xz">cantor-14.12.0</a></td>
   <td align="right">335kB</td>
   <td><tt>2c6bc0258abae6142a5abe762a184571da02a71a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/cervisia-14.12.0.tar.xz">cervisia-14.12.0</a></td>
   <td align="right">363kB</td>
   <td><tt>994c89529f205be7dcd4d38d5f41bf8c84a10a22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/dolphin-plugins-14.12.0.tar.xz">dolphin-plugins-14.12.0</a></td>
   <td align="right">57kB</td>
   <td><tt>e351ddf837dfa55d8d1d9ef7fe50d0114e896c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/dragon-14.12.0.tar.xz">dragon-14.12.0</a></td>
   <td align="right">388kB</td>
   <td><tt>4df51221dd08c78c00760570587cb1e7282dda07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ffmpegthumbs-14.12.0.tar.xz">ffmpegthumbs-14.12.0</a></td>
   <td align="right">19kB</td>
   <td><tt>92c70e74b00c0366bf5d8c13cb2e0d16af3a4658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/filelight-14.12.0.tar.xz">filelight-14.12.0</a></td>
   <td align="right">280kB</td>
   <td><tt>a0c2ab30482ba05aa43fa02df050183b9a2e625e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/granatier-14.12.0.tar.xz">granatier-14.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6ffbd1b04abdc5fa69872fab6d03b26e6f5bdc85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/gwenview-14.12.0.tar.xz">gwenview-14.12.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c3ee15e24960bdbfc453e50ec77231b92abcfffa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/jovie-14.12.0.tar.xz">jovie-14.12.0</a></td>
   <td align="right">370kB</td>
   <td><tt>5a1633c33181836e72ef4d7d10233b29c91a2b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/juk-14.12.0.tar.xz">juk-14.12.0</a></td>
   <td align="right">431kB</td>
   <td><tt>5cff5ad5dd33167846fc52dade799deacbe67d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kaccessible-14.12.0.tar.xz">kaccessible-14.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>8873088ff7b3c88268b232e32abdd0ec9c00267a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kajongg-14.12.0.tar.xz">kajongg-14.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>dce075f81445d2deb75e1fb9789c43ead799675d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kalgebra-14.12.0.tar.xz">kalgebra-14.12.0</a></td>
   <td align="right">263kB</td>
   <td><tt>30bd99b01797dd03635a89c0b91823c6614cb68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kalzium-14.12.0.tar.xz">kalzium-14.12.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>541be5a4cb9dd23c87609d924c693c20f9f807fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kamera-14.12.0.tar.xz">kamera-14.12.0</a></td>
   <td align="right">34kB</td>
   <td><tt>e775128029a64c5e12cd58664f767a5cd9562a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kanagram-14.12.0.tar.xz">kanagram-14.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>cac6f5c35b083a20b1e0e9e807acd4eb55033871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kapman-14.12.0.tar.xz">kapman-14.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>aa5afd750d711192d054924628780043dd4537c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kapptemplate-14.12.0.tar.xz">kapptemplate-14.12.0</a></td>
   <td align="right">719kB</td>
   <td><tt>9f3309845fa8afb51cd3e5de8f519f67ab7bc24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kate-14.12.0.tar.xz">kate-14.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6f713efbc321c16e97e4cedc0b4a824d42fc7535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/katomic-14.12.0.tar.xz">katomic-14.12.0</a></td>
   <td align="right">643kB</td>
   <td><tt>4b0307d6dd09c75981e97cad856c1e152e3dedc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kblackbox-14.12.0.tar.xz">kblackbox-14.12.0</a></td>
   <td align="right">251kB</td>
   <td><tt>578ec9585a04a7a66025b4cda5b103d06dcecf81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kblocks-14.12.0.tar.xz">kblocks-14.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>86d6f659c4a004d6787df522bacbc0ad8b180f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kbounce-14.12.0.tar.xz">kbounce-14.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>fa3197f3e461b830029a49cada2faeddef32b4b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kbreakout-14.12.0.tar.xz">kbreakout-14.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e8ccba742fb780190ec48d7aeb54b074c6063cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kbruch-14.12.0.tar.xz">kbruch-14.12.0</a></td>
   <td align="right">882kB</td>
   <td><tt>afcf70680746eca0693e0907fb0a2983b2ed7c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kcachegrind-14.12.0.tar.xz">kcachegrind-14.12.0</a></td>
   <td align="right">230kB</td>
   <td><tt>c76234425a21cad431762138cf87fb6997f9384c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kcalc-14.12.0.tar.xz">kcalc-14.12.0</a></td>
   <td align="right">80kB</td>
   <td><tt>399f3760a19e416029bbd82bb35f56753c8142fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kcharselect-14.12.0.tar.xz">kcharselect-14.12.0</a></td>
   <td align="right">82kB</td>
   <td><tt>73ff70edf171b912694621b6a8ba708c5685e375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kcolorchooser-14.12.0.tar.xz">kcolorchooser-14.12.0</a></td>
   <td align="right">4kB</td>
   <td><tt>401ea2eef19517487aacb0eb9b57e6b4ec9009be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kcron-14.12.0.tar.xz">kcron-14.12.0</a></td>
   <td align="right">170kB</td>
   <td><tt>1875f80bf761f8289c273c080c7290bfbbd7be51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdeartwork-14.12.0.tar.xz">kdeartwork-14.12.0</a></td>
   <td align="right">134MB</td>
   <td><tt>95b6f3dc3838772bacc06d2d3967b3ab90607c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-baseapps-14.12.0.tar.xz">kde-baseapps-14.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>556383056e6198651353e213ef21bc1a539f2970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-base-artwork-14.12.0.tar.xz">kde-base-artwork-14.12.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>25f9729551ecdfad3fe932153a467a0783920e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-dev-scripts-14.12.0.tar.xz">kde-dev-scripts-14.12.0</a></td>
   <td align="right">296kB</td>
   <td><tt>1d3d2738792d39cf1e2609bc7a122af0369fbb86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-dev-utils-14.12.0.tar.xz">kde-dev-utils-14.12.0</a></td>
   <td align="right">50kB</td>
   <td><tt>3c2324fd9e9ddf72d033b2be62ff4d0479c4f44e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdeedu-data-14.12.0.tar.xz">kdeedu-data-14.12.0</a></td>
   <td align="right">94kB</td>
   <td><tt>bf2bac14684690463d137f4f79428ff01705ece2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdegraphics-mobipocket-14.12.0.tar.xz">kdegraphics-mobipocket-14.12.0</a></td>
   <td align="right">14kB</td>
   <td><tt>065e33a50634b4a7e629a1ddac47e0b8a267c224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdegraphics-strigi-analyzer-14.12.0.tar.xz">kdegraphics-strigi-analyzer-14.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>8c8a10a52730b062ebb2330992d2e6826684052d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdegraphics-thumbnailers-14.12.0.tar.xz">kdegraphics-thumbnailers-14.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>b3ed25cdf18bd99d5c796af1d8412ddf472be267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdenetwork-filesharing-14.12.0.tar.xz">kdenetwork-filesharing-14.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>7c1f99a33e1f79eb6d5f68fcb7d8f894c62d8a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdenetwork-strigi-analyzers-14.12.0.tar.xz">kdenetwork-strigi-analyzers-14.12.0</a></td>
   <td align="right">14kB</td>
   <td><tt>f2bf35f581cf42e3b040153f4e69842b1604e585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-runtime-14.12.0.tar.xz">kde-runtime-14.12.0</a></td>
   <td align="right">7.5MB</td>
   <td><tt>45a94db57e8cc86447f198bd8c8649b3a1415f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdesdk-kioslaves-14.12.0.tar.xz">kdesdk-kioslaves-14.12.0</a></td>
   <td align="right">353kB</td>
   <td><tt>39d718e49e4a086802403ea6bdcd9894447be359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdesdk-strigi-analyzers-14.12.0.tar.xz">kdesdk-strigi-analyzers-14.12.0</a></td>
   <td align="right">17kB</td>
   <td><tt>60631679e4d0696e049d346f3eb5f1e186be0e2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdesdk-thumbnailers-14.12.0.tar.xz">kdesdk-thumbnailers-14.12.0</a></td>
   <td align="right">11kB</td>
   <td><tt>12c3f2ab6190296bc88efd6eff99d9c901c7e590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-wallpapers-14.12.0.tar.xz">kde-wallpapers-14.12.0</a></td>
   <td align="right">86MB</td>
   <td><tt>13541ffda953e1e4cc3d6bb62eeb4b0dd1d8d423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdewebdev-14.12.0.tar.xz">kdewebdev-14.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2c2c81ca6ffbecd0371caecfd0603aa4fdba7c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdf-14.12.0.tar.xz">kdf-14.12.0</a></td>
   <td align="right">145kB</td>
   <td><tt>75e7e31cbe4883dbd90ebf9358daa7e37ba236c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kdiamond-14.12.0.tar.xz">kdiamond-14.12.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>b99fc4afd84565bbe06d013b323be77c3565d3c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kfloppy-14.12.0.tar.xz">kfloppy-14.12.0</a></td>
   <td align="right">52kB</td>
   <td><tt>6976e5a4bd8e55b88f477c2214337ca609003bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kfourinline-14.12.0.tar.xz">kfourinline-14.12.0</a></td>
   <td align="right">276kB</td>
   <td><tt>57e2d7ff8c31f857fd666b56cda5ec956284ce67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kgamma-14.12.0.tar.xz">kgamma-14.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>bc1e3e3a73fdf79bb50b869987a185040abd9e33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kgeography-14.12.0.tar.xz">kgeography-14.12.0</a></td>
   <td align="right">6.4MB</td>
   <td><tt>5373f1612a3101d8a0d2687cb170edb1893ad2f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kget-14.12.0.tar.xz">kget-14.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7788613009195c1aacc065c8ca55033e52b14ec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kgoldrunner-14.12.0.tar.xz">kgoldrunner-14.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ed24aa02c62603877621a2e7fcde6cf19046902b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kgpg-14.12.0.tar.xz">kgpg-14.12.0</a></td>
   <td align="right">790kB</td>
   <td><tt>7d550da72b7e4030f90e3a7541d27fadf99c076f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/khangman-14.12.0.tar.xz">khangman-14.12.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>02977e97c335db8e5607774bbe219dc53dd61e7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kig-14.12.0.tar.xz">kig-14.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7e7ed0fdd6f0babbca9dde8e6138aafebb8cdfe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kigo-14.12.0.tar.xz">kigo-14.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>342ef7f7e1e41dac416faadb66ee478600767584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/killbots-14.12.0.tar.xz">killbots-14.12.0</a></td>
   <td align="right">940kB</td>
   <td><tt>a012ead8320bdc7f05d1993f98daa74f5e3361ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kiriki-14.12.0.tar.xz">kiriki-14.12.0</a></td>
   <td align="right">114kB</td>
   <td><tt>7b0e83652364b3d2fd183c6f28a44e6ce5ed4063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kiten-14.12.0.tar.xz">kiten-14.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>c2b5c7c2ac1a99f99b3b17a567a04fd7e0a1ad1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kjumpingcube-14.12.0.tar.xz">kjumpingcube-14.12.0</a></td>
   <td align="right">161kB</td>
   <td><tt>17a990274382fc3968ab43b1e2c7854084c7e278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/klettres-14.12.0.tar.xz">klettres-14.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>0e830e98fda89a57fcb2a2a0d9e2d1cb2a205f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/klickety-14.12.0.tar.xz">klickety-14.12.0</a></td>
   <td align="right">765kB</td>
   <td><tt>6f71b5c76079b6b64dee0eaf24298bf5caed8b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/klines-14.12.0.tar.xz">klines-14.12.0</a></td>
   <td align="right">927kB</td>
   <td><tt>d4c879dd0fd234e0dc2d60e27e6d169ef24ffcd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kmag-14.12.0.tar.xz">kmag-14.12.0</a></td>
   <td align="right">84kB</td>
   <td><tt>8787b5738fdeb62cab202b512fea980fb27c4dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kmahjongg-14.12.0.tar.xz">kmahjongg-14.12.0</a></td>
   <td align="right">984kB</td>
   <td><tt>c1f6f39566a10bf509751bb13ff4912f40296dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kmines-14.12.0.tar.xz">kmines-14.12.0</a></td>
   <td align="right">613kB</td>
   <td><tt>2c9b9d61ee439833f6c45ddddd155d60cc70f4c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kmix-14.12.0.tar.xz">kmix-14.12.0</a></td>
   <td align="right">377kB</td>
   <td><tt>4b69d15293af6c98ab52d009b79fad04ee57a222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kmousetool-14.12.0.tar.xz">kmousetool-14.12.0</a></td>
   <td align="right">34kB</td>
   <td><tt>d3d6eb0bef65f5e5b2aa00305b5075e602c2fdf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kmouth-14.12.0.tar.xz">kmouth-14.12.0</a></td>
   <td align="right">301kB</td>
   <td><tt>de59f8a40b6f99c9a27264312eb836666f60f5f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kmplot-14.12.0.tar.xz">kmplot-14.12.0</a></td>
   <td align="right">644kB</td>
   <td><tt>9c54b95ecb905559b7dee9032df64e691c84d739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/knavalbattle-14.12.0.tar.xz">knavalbattle-14.12.0</a></td>
   <td align="right">834kB</td>
   <td><tt>dbc6f842fa4c6ccd810bb0ea77c3ec93fdb5e16d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/knetwalk-14.12.0.tar.xz">knetwalk-14.12.0</a></td>
   <td align="right">763kB</td>
   <td><tt>a62a8be6ae567b3a3d7b63a6c879f43bfb146418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kolf-14.12.0.tar.xz">kolf-14.12.0</a></td>
   <td align="right">750kB</td>
   <td><tt>d48b1586fe12ef67d0fd26a0f6d4b8854dd2e5ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kollision-14.12.0.tar.xz">kollision-14.12.0</a></td>
   <td align="right">202kB</td>
   <td><tt>ff209ad51900719c7394d0f053802568f99ac167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kolourpaint-14.12.0.tar.xz">kolourpaint-14.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a6d6693dd5554e4eee4bfd3b69b220621be3c762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kompare-14.12.0.tar.xz">kompare-14.12.0</a></td>
   <td align="right">336kB</td>
   <td><tt>beadf98ca720d59de7161c60a456af86a9a5d350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/konquest-14.12.0.tar.xz">konquest-14.12.0</a></td>
   <td align="right">396kB</td>
   <td><tt>34e23b9b180d4f075b95ee772b2d53e87c095c60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/konsole-14.12.0.tar.xz">konsole-14.12.0</a></td>
   <td align="right">448kB</td>
   <td><tt>f30b19f8270bcec1c61d2e5740c07a4f0d36f836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kopete-14.12.0.tar.xz">kopete-14.12.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>2160795d1751e475b4680d8c43b047cde4f1034a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kpat-14.12.0.tar.xz">kpat-14.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>def72d88cf8b378a11d48e4b3ebebeba3d5c7950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kppp-14.12.0.tar.xz">kppp-14.12.0</a></td>
   <td align="right">683kB</td>
   <td><tt>8f11b1adb33a755fcb225248eac64feddd7bd615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kqtquickcharts-14.12.0.tar.xz">kqtquickcharts-14.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>2414c0d1e3044b4b9993d321c4a50bacc24b8d61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/krdc-14.12.0.tar.xz">krdc-14.12.0</a></td>
   <td align="right">389kB</td>
   <td><tt>87927e0393dd6fad06ba77ccb4d599b13cfb91ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kremotecontrol-14.12.0.tar.xz">kremotecontrol-14.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>97157e7b9f07f2fad34ad95f1edca9bf80ea8af4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kreversi-14.12.0.tar.xz">kreversi-14.12.0</a></td>
   <td align="right">464kB</td>
   <td><tt>9505380af212f34b18b7bcc1f5f1f3046324d69f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/krfb-14.12.0.tar.xz">krfb-14.12.0</a></td>
   <td align="right">319kB</td>
   <td><tt>3aefd90563996ad91b7fe2b7809f2b86aef6784d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kruler-14.12.0.tar.xz">kruler-14.12.0</a></td>
   <td align="right">125kB</td>
   <td><tt>eea9bd560aa470ec8f473fc5b52cba993f620add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ksaneplugin-14.12.0.tar.xz">ksaneplugin-14.12.0</a></td>
   <td align="right">12kB</td>
   <td><tt>d3812cb4b95128f543c1c05e2f978f930655d96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kscd-14.12.0.tar.xz">kscd-14.12.0</a></td>
   <td align="right">90kB</td>
   <td><tt>0d8c52df6f7c714b03dfbd8c82069b3ae82d8769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kshisen-14.12.0.tar.xz">kshisen-14.12.0</a></td>
   <td align="right">133kB</td>
   <td><tt>dd9d884f646c0f9933649d077e4605290d85ef43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ksirk-14.12.0.tar.xz">ksirk-14.12.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>e9728c03da4fdc2ac6dbdf0330ba18cc652ab487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ksnakeduel-14.12.0.tar.xz">ksnakeduel-14.12.0</a></td>
   <td align="right">312kB</td>
   <td><tt>516a9db50ab5e6587925a2e3e233684447e1bc2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ksnapshot-14.12.0.tar.xz">ksnapshot-14.12.0</a></td>
   <td align="right">252kB</td>
   <td><tt>756b279b5d17e5ce92615a8da9919a5d83d654ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kspaceduel-14.12.0.tar.xz">kspaceduel-14.12.0</a></td>
   <td align="right">247kB</td>
   <td><tt>4774fa26689c61209e7bfa3d4cc9d85c109d33c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ksquares-14.12.0.tar.xz">ksquares-14.12.0</a></td>
   <td align="right">78kB</td>
   <td><tt>6830399d85cecc937e641290f336f87b43fbc594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kstars-14.12.0.tar.xz">kstars-14.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>debaf1ca3dad97dd509cbff90d2c933f1046407f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ksudoku-14.12.0.tar.xz">ksudoku-14.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>06e5848d0198c310a7da5166a80474993d4c424f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ksystemlog-14.12.0.tar.xz">ksystemlog-14.12.0</a></td>
   <td align="right">372kB</td>
   <td><tt>843692ee457be7876710f6d76322865de2275bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kteatime-14.12.0.tar.xz">kteatime-14.12.0</a></td>
   <td align="right">98kB</td>
   <td><tt>5db576412a00c1b19b99b188bb2ec3af48a774f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ktimer-14.12.0.tar.xz">ktimer-14.12.0</a></td>
   <td align="right">143kB</td>
   <td><tt>dab364e53c2a250ba261271e2d827581d8060a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ktouch-14.12.0.tar.xz">ktouch-14.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>fd79df24683544cb607dcc1f3488ccd26d383fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ktuberling-14.12.0.tar.xz">ktuberling-14.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>d44017aff11fa18003cea595e3e57d290552f48c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kturtle-14.12.0.tar.xz">kturtle-14.12.0</a></td>
   <td align="right">188kB</td>
   <td><tt>84d23179f0065ca138ea4746766539a74ae23768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/ktux-14.12.0.tar.xz">ktux-14.12.0</a></td>
   <td align="right">105kB</td>
   <td><tt>8653e69bb9183f9e681283b94835c28e9a4245ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kubrick-14.12.0.tar.xz">kubrick-14.12.0</a></td>
   <td align="right">104kB</td>
   <td><tt>15dc730d75c7ab001891e5c1eb6a2a924398b6cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kuser-14.12.0.tar.xz">kuser-14.12.0</a></td>
   <td align="right">132kB</td>
   <td><tt>f245ea701b44f08d9678169f4a5ce35921f97c3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kwalletmanager-14.12.0.tar.xz">kwalletmanager-14.12.0</a></td>
   <td align="right">445kB</td>
   <td><tt>6c9b419399bdf9887e69d3b055a3e369dc8be5de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kwordquiz-14.12.0.tar.xz">kwordquiz-14.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2a173411d1e2681aca0ab6de0fc6f870429784a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkcddb-14.12.0.tar.xz">libkcddb-14.12.0</a></td>
   <td align="right">154kB</td>
   <td><tt>f12ce74784b2dbffd8fe0a3382ccac0243b53423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkcompactdisc-14.12.0.tar.xz">libkcompactdisc-14.12.0</a></td>
   <td align="right">74kB</td>
   <td><tt>43e4810658d72f8a3962c12d38141fb31cf7727a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkdcraw-14.12.0.tar.xz">libkdcraw-14.12.0</a></td>
   <td align="right">100kB</td>
   <td><tt>eeb8614de8f53e86bfda4bb176e8137429e65797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkdeedu-14.12.0.tar.xz">libkdeedu-14.12.0</a></td>
   <td align="right">127kB</td>
   <td><tt>894deaf8329bf743c271bb88a1686905d1ea8566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkdegames-14.12.0.tar.xz">libkdegames-14.12.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>10a4bc608ec2a9543d211de93482e93fdb009a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkeduvocdocument-14.12.0.tar.xz">libkeduvocdocument-14.12.0</a></td>
   <td align="right">96kB</td>
   <td><tt>91a252cd7977d2da60dbc3f4be7affe88b911106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkexiv2-14.12.0.tar.xz">libkexiv2-14.12.0</a></td>
   <td align="right">134kB</td>
   <td><tt>ebca05f42ef2d45a332d69b705b182a1a733b885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkface-14.12.0.tar.xz">libkface-14.12.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>bc29ae75f860c00be50bd3f6cc5413af8c1932f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkipi-14.12.0.tar.xz">libkipi-14.12.0</a></td>
   <td align="right">93kB</td>
   <td><tt>3dd3e9379cc96ed8a1b1e27c5f000ee185e9438d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkmahjongg-14.12.0.tar.xz">libkmahjongg-14.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>8a065a50d2d8d51fafa5e6df9365fa854e3f59e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libkomparediff2-14.12.0.tar.xz">libkomparediff2-14.12.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d345c77401548e20c2cf8f0baa977558c93381ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/libksane-14.12.0.tar.xz">libksane-14.12.0</a></td>
   <td align="right">79kB</td>
   <td><tt>868b04727773feb78cd6e5ced638332af2ef4e4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/lokalize-14.12.0.tar.xz">lokalize-14.12.0</a></td>
   <td align="right">826kB</td>
   <td><tt>545c9365b957f3d07f300ae26ebd1b7659ab115b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/lskat-14.12.0.tar.xz">lskat-14.12.0</a></td>
   <td align="right">907kB</td>
   <td><tt>4a8ebc599af00d336049ee43dd90763fd7b8b8b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/marble-14.12.0.tar.xz">marble-14.12.0</a></td>
   <td align="right">18MB</td>
   <td><tt>2f7956adfd1a45511714e16c29913d6fac4a1c6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/mplayerthumbs-14.12.0.tar.xz">mplayerthumbs-14.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>f6750c975bb4539fed0c0453c3f8c08a641b9d3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/okteta-14.12.0.tar.xz">okteta-14.12.0</a></td>
   <td align="right">490kB</td>
   <td><tt>2dcea029120c7f7d92b7c7e2bcacdd0ea87c9b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/okular-14.12.0.tar.xz">okular-14.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>04603fbb7404d4a93ce881463ba34aa742f656a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/oxygen-icons-14.12.0.tar.xz">oxygen-icons-14.12.0</a></td>
   <td align="right">219MB</td>
   <td><tt>e1054f21f2b15d2e19d51dae8cc8b22e79810d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/pairs-14.12.0.tar.xz">pairs-14.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>64f17a4a5158101a1518f037e941ec334edfbee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/palapeli-14.12.0.tar.xz">palapeli-14.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0cfba0bbafd78d255f4910f3307d855e319aec02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/parley-14.12.0.tar.xz">parley-14.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>b7e66f843ec6bc543ce24a6fd561c9e7f437f403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/picmi-14.12.0.tar.xz">picmi-14.12.0</a></td>
   <td align="right">714kB</td>
   <td><tt>42df944661e99669683e9d8ced88e21ad45d9b2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/poxml-14.12.0.tar.xz">poxml-14.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>a2e7895725b0893779b6537ec4fa6983daac963d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/print-manager-14.12.0.tar.xz">print-manager-14.12.0</a></td>
   <td align="right">90kB</td>
   <td><tt>5f1f05b69962254c05bad426df8c9462ec3bc2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/rocs-14.12.0.tar.xz">rocs-14.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8d7d41108be67a46e533a0b452b5dfe6234525f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/step-14.12.0.tar.xz">step-14.12.0</a></td>
   <td align="right">369kB</td>
   <td><tt>1e9ff8a0523867d88245ad198efb33136a90a401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/superkaramba-14.12.0.tar.xz">superkaramba-14.12.0</a></td>
   <td align="right">372kB</td>
   <td><tt>bf549f2ee2d28ebdbdd7b5a8fcbc0c8c7c1b7ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/svgpart-14.12.0.tar.xz">svgpart-14.12.0</a></td>
   <td align="right">8kB</td>
   <td><tt>0d2da1cb88c1f67f45c4b74890056b3d73da7deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/sweeper-14.12.0.tar.xz">sweeper-14.12.0</a></td>
   <td align="right">80kB</td>
   <td><tt>a6ac4f30e7a24dd84b705923a55526fb7ca6b304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/umbrello-14.12.0.tar.xz">umbrello-14.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>4a2c7adf295eb161f59f329ede2d319d39e86f31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/zeroconf-ioslave-14.12.0.tar.xz">zeroconf-ioslave-14.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>a6d9361925f05129cc52d03473e05e5d4107a200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ar-14.12.0.tar.xz">kde-l10n-ar-14.12.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>4c51a921e631b7dace594dcb8615869140f6fa96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-bg-14.12.0.tar.xz">kde-l10n-bg-14.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9f8f1fa7e00dd4a07e4ef4d32333ae4de0f3bc93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-bs-14.12.0.tar.xz">kde-l10n-bs-14.12.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>488cab270c8f8525af3411abcb21fbe13d565643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ca-14.12.0.tar.xz">kde-l10n-ca-14.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>24a28cd0e346f2042851c41127ecc4f91756a9d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ca@valencia-14.12.0.tar.xz">kde-l10n-ca@valencia-14.12.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d3b4b9fd989c39152013df3773acb0d55e4e8f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-cs-14.12.0.tar.xz">kde-l10n-cs-14.12.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ede33e0472d76e1d03af5effe4b5c920fd574507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-da-14.12.0.tar.xz">kde-l10n-da-14.12.0</a></td>
   <td align="right">12MB</td>
   <td><tt>7930b388b8d993fd7377674a1a44ffb86b0b3d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-de-14.12.0.tar.xz">kde-l10n-de-14.12.0</a></td>
   <td align="right">34MB</td>
   <td><tt>49dc91edfd667f1d6047a7bb37be668d2ddce9e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-el-14.12.0.tar.xz">kde-l10n-el-14.12.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>0ded233fcb49a0d2ff4757eddf2b15a10f68cc13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-en_GB-14.12.0.tar.xz">kde-l10n-en_GB-14.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f5deab2291cd400af3c7122157ffd0eb84ed4f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-es-14.12.0.tar.xz">kde-l10n-es-14.12.0</a></td>
   <td align="right">20MB</td>
   <td><tt>eaa0ed35f6af6babb7a18b91aaf0ccde64b3c1c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-et-14.12.0.tar.xz">kde-l10n-et-14.12.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>c8c79ba7e85d0d1e60a9c495af6f0b69659a3bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-eu-14.12.0.tar.xz">kde-l10n-eu-14.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>006efc7e5e3c096f0907f2284bbd3c139faf4594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-fa-14.12.0.tar.xz">kde-l10n-fa-14.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7ac186f3f0b9aed055ffba3e3f58f78e7a17ef56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-fi-14.12.0.tar.xz">kde-l10n-fi-14.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>883f7dbb82d3b5c69fff41ffc3387ff861c15d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-fr-14.12.0.tar.xz">kde-l10n-fr-14.12.0</a></td>
   <td align="right">44MB</td>
   <td><tt>ec8171490afab4347f5d78499a4e7189bb5c87bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ga-14.12.0.tar.xz">kde-l10n-ga-14.12.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>3141964d66a60e3ea6e2adc889bbe44aa0eaa882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-gl-14.12.0.tar.xz">kde-l10n-gl-14.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>58654b2d5b02cbb200188b17b5b2913a25c72753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-he-14.12.0.tar.xz">kde-l10n-he-14.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>38665638a10bf89bc74d1acc62d823610f4a7fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-hi-14.12.0.tar.xz">kde-l10n-hi-14.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>be613014b4c997bb745e1f7dc1fd5429032bde4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-hr-14.12.0.tar.xz">kde-l10n-hr-14.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>08a37d6ca4e2f92d14fd2be96594cdfcaa06ce1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-hu-14.12.0.tar.xz">kde-l10n-hu-14.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>408529038f025f2ef6078977cc999717212be4fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ia-14.12.0.tar.xz">kde-l10n-ia-14.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>476af9e79beae2e8cebaf161b55d1a6b31c7bd7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-id-14.12.0.tar.xz">kde-l10n-id-14.12.0</a></td>
   <td align="right">518kB</td>
   <td><tt>a2029aacf3c36dea2b13af47cfbaf87037b65e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-is-14.12.0.tar.xz">kde-l10n-is-14.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2c2e3950cc11a4b24351db106f838521bb14436e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-it-14.12.0.tar.xz">kde-l10n-it-14.12.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>3b39daca2d9d2d88afd955588989ca6a9623484e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ja-14.12.0.tar.xz">kde-l10n-ja-14.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>bdacc091e9fc7b99cf26ef9c6652e550c71056e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-kk-14.12.0.tar.xz">kde-l10n-kk-14.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>642e75b8c3c00aa17b4f9b091adcf2046a8639c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-km-14.12.0.tar.xz">kde-l10n-km-14.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2a1232a63874c6ce99f26396e2c924985d3d2fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ko-14.12.0.tar.xz">kde-l10n-ko-14.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bcb857b2b283753423ebf9655cfda5722a3c88fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-lt-14.12.0.tar.xz">kde-l10n-lt-14.12.0</a></td>
   <td align="right">12MB</td>
   <td><tt>5739e577e7c17b49b12c4dc0f35dfa7faf8b80a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-lv-14.12.0.tar.xz">kde-l10n-lv-14.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>60ec62dd69c2a038122f724fabd05520b04bf3fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-mr-14.12.0.tar.xz">kde-l10n-mr-14.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2fbe26b9f2930bad2770df48f4838f23c8ab1980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-nb-14.12.0.tar.xz">kde-l10n-nb-14.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c9c3e9d79a9d0f7ad2c5e3c9ca12355a64000add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-nds-14.12.0.tar.xz">kde-l10n-nds-14.12.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>87266501f36c5493e4dc9ca356e306318c962e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-nl-14.12.0.tar.xz">kde-l10n-nl-14.12.0</a></td>
   <td align="right">13MB</td>
   <td><tt>bbbbdd8a07ef57a01ba16b1ae2f57f90303b05f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-nn-14.12.0.tar.xz">kde-l10n-nn-14.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>37f1eca98f584efac28955d8bc96d112b3544ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-pa-14.12.0.tar.xz">kde-l10n-pa-14.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>30b5f9477e2995bba12588277fc1ff974a505beb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-pl-14.12.0.tar.xz">kde-l10n-pl-14.12.0</a></td>
   <td align="right">18MB</td>
   <td><tt>b64856f0fc07590afa43fb64c5595ebe0b558bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-pt-14.12.0.tar.xz">kde-l10n-pt-14.12.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>937276e27ef91d3f71bae6b10502cb035e1ced85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-pt_BR-14.12.0.tar.xz">kde-l10n-pt_BR-14.12.0</a></td>
   <td align="right">23MB</td>
   <td><tt>a97d5b55ae38da8aad15f580ed2c9bfc6d181462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ro-14.12.0.tar.xz">kde-l10n-ro-14.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>41acf1998be9e9995851aed371a05c636ac0ea3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ru-14.12.0.tar.xz">kde-l10n-ru-14.12.0</a></td>
   <td align="right">22MB</td>
   <td><tt>cd77fd3fd9f84b36383f7ccf343afeb122e0403e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-sk-14.12.0.tar.xz">kde-l10n-sk-14.12.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>aca39fea5310d00a27eccece9839f9c4bfecbe1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-sl-14.12.0.tar.xz">kde-l10n-sl-14.12.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>2488fdf8af9931d1221d42d015c0fc9bb7508d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-sr-14.12.0.tar.xz">kde-l10n-sr-14.12.0</a></td>
   <td align="right">5.8MB</td>
   <td><tt>2a5a6036d41c7b7ae54bebf223329ad55b940420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-sv-14.12.0.tar.xz">kde-l10n-sv-14.12.0</a></td>
   <td align="right">13MB</td>
   <td><tt>c4a1ff0c88ca5f523b8932c22877095815eae7f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-tr-14.12.0.tar.xz">kde-l10n-tr-14.12.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>3d77fa2fd4fc0726ce17c20704278d696ed1fa29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-ug-14.12.0.tar.xz">kde-l10n-ug-14.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8edbf761bf93ce53bc8bfb3d880b22ea80dd7810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-uk-14.12.0.tar.xz">kde-l10n-uk-14.12.0</a></td>
   <td align="right">25MB</td>
   <td><tt>7574c2279df57f36f64b0d4701cc09467f4f7448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-wa-14.12.0.tar.xz">kde-l10n-wa-14.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0b5458d9b789841efb98f942d3e0a62f5b4729a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-zh_CN-14.12.0.tar.xz">kde-l10n-zh_CN-14.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>e1540c672e6c17c594c87306c612860adca50298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.0/src/kde-l10n/kde-l10n-zh_TW-14.12.0.tar.xz">kde-l10n-zh_TW-14.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f5c80939383440cc041aeda4a86eb7c405a7dc4e</tt></td>
</tr>

</table>
