
#develop-hero {
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position: center;
	background-image: url(devApps.png);
}

#community-lists ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#community-lists ul + h3{
	margin-top: 40px;
}

#konqis {
	width: 100%; 
	max-width: 800px; 
	display: block; 
	margin: 20px auto 0px;
}
